
<h4 class="d-flex flex-justify-between flex-align-center">
    <div class="col u-text--sc">Abilities</div>
    <button mat-flat-button color="primary" (click)="openChooser()">New</button>
</h4>
<hr>

<div class="m-grid flex-align-stretch no-pad">
    <div *ngFor="let ability of character.abilities; let i = index" class="card">
        <div class="d-flex flex-justify-between flex-align-end">
            <div class="a-heading">{{ability.name}}</div>
            <div class="d-flex flex-justify-end flex-align-end">
                <button class="u-sm" mat-flat-button color="warn"
                    (click)="confirmingDelete(i,true)"
                    *ngIf="!confirmingDelete(i)">
                    <mat-icon>delete_forever</mat-icon>
                </button>
                <div class="btn-group" *ngIf="confirmingDelete(i)">
                    <button class="u-sm" mat-flat-button color="warn" (click)="remove(i)"><mat-icon>check_circle</mat-icon></button>
                    <button class="u-sm" mat-flat-button color="accent" (click)="confirmingDelete(i,false)"><mat-icon>not_interested</mat-icon></button>
                </div>
            </div>
        </div>
        <div class="desc">{{ability.desc}}</div>
        <div *ngIf="ability.userInput">
            <hr>
            <small><strong>{{ability.userInput.name}}:</strong></small>
            <input type="text" [(ngModel)]="ability.userInput.value">
        </div>
        <br>
        <mat-chip-list *ngIf="ability.modifiers" class="u-sm" [selectable]="false">
            <mat-chip *ngFor="let modifier of ability.modifiers">
                {{modifier.affects}} {{modifier.value|modifier}}
            </mat-chip>
        </mat-chip-list>
    </div>
</div>
