
<h4 class="d-flex flex-justify-between flex-align-center">
    <div class="col u-text--sc">Abilities</div>
    <button type="button" class="btn--add u-sm"
        (click)="openChooser()">New</button>
</h4>
<hr>

<div *ngFor="let ability of character.abilities; let i = index" class="card">
    <h5 class="d-flex flex-justify-between flex-align-end">
        {{ability.name}}
        <div class="d-flex flex-justify-end flex-align-end">
            <button type="button" class="u-sm btn--del" (click)="confirmingDelete(i,true)">X</button>
            <div class="btn-group" *ngIf="confirmingDelete(i)">
                <button type="button" class="u-sm" (click)="remove(i)">Y</button>
                <button type="button" class="u-sm" (click)="confirmingDelete(i,false)">N</button>
            </div>
        </div>
    </h5>
    <p>{{ability.desc}}</p>
    <div *ngIf="ability.modifiers" class="u-sm">
        <hr>
        <div *ngFor="let modifier of ability.modifiers">
            {{modifier.affects}} : +{{modifier.value}}
        </div>
    </div>
</div>
