
<div *ngIf="error" class="c-error">
    <h5>Error</h5>
    <p>{{error.message}}</p>
    <a *ngIf="'auth'===error.type" routerLink="/login" routerLinkActive="active">
        Sign in
    </a>
</div>

<div class="c-list">

    <header><h5>My Characters</h5></header><br>

    <div class="c-list__item">
        <select class="form-control" name="newCharClass" [(ngModel)]="newCharClass">
            <option [ngValue]="null" selected>Create a new character...</option>
            <option *ngFor="let cls of classes" [ngValue]="cls">
                {{cls.name}}
            </option>
        </select>
        &nbsp;
        <button type="button" (click)="create()">Create</button>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</div>
        <button type="button" class="u-mg-left--md" routerLink="/import" routerLinkActive="active">Import</button>
    </div>

    <div class="d-grid">

        <div *ngFor="let char of chars | async | orderBy:'level'" class="card">

            <a class="thumbnail" routerLink="/chars/{{char.id}}" routerLinkActive="active">
                <img class="image" [ngStyle]="getAvatar(char)">
            </a>
            <h4 class="u-text--center">{{char.name}}</h4>
            <div class="u-text--center u-sm">{{char.class}} {{char.level}}</div>


            <div class="card-action">
                <button type="button" class="u-sm btn--del" (click)="markAsDeleting(char.id,true)">
                    DEL
                </button>
                <div class="btn-group" *ngIf="isDeleting(char.id)">
                    <button type="button" class="btn--del u-sm" (click)="remove(char.id)">Y</button>
                    <button type="button" class="u-sm" (click)="markAsDeleting(char.id, false)">N</button>
                </div>
            </div>

        </div>

    </div>

    <!-- <div *ngFor="let char of chars | async" class="c-list__item">
        <div>
            <a  routerLink="/chars/{{char.id}}" routerLinkActive="active">
                {{char.name}}
            </a>&nbsp;
             (level {{char.level}} <strong class="u-sm">{{char.class}}</strong>)
         </div>
        &nbsp;
        <div class="btn-group" *ngIf="isDeleting(char.id)">
            <button type="button" class="btn--del u-sm" (click)="remove(char.id)">
                yes
            </button>
            <button type="button" class="u-sm" (click)="markAsDeleting(char.id, false)">
                no
            </button>
        </div>
        <button *ngIf="!isDeleting(char.id)" type="button"
            class="u-sm btn--del" (click)="markAsDeleting(char.id,true)">
            X
        </button>
    </div> -->

</div>
