<div class="sidebag">

    <div class="m-grid gutter flex-align-start">
        <h4 class="col u-text--sc">Sidebag</h4>
        <!-- <div class="sidebag__carrying">{{carrying}} / </div> -->
        <div>
            <sidebag-value-display
                label="Capacity"
                [value]="sidebag.capacity"
                [weight]="carrying"
                [modifiers]="modifiers"
                [options]="{valueSize:'sm'}"
                (onSave)="updateCapacity($event)">
            </sidebag-value-display>
        </div>
    </div>
    <br>

    <div class="m-grid gutter">
        <div *ngFor="let option of options" class="sidebag__option">
            <div class="sidebag__option__icon">
                <span class="sprite sprite-{{option.label}}"></span>
            </div>
            <div class="flex-1">
                <label (click)="showDesc[option.label]=!showDesc[option.label]">{{option.label}}</label>
            </div>
            <div class="sidebag__control">
                <button mat-flat-button color="warn" (click)="decrease(option.label)"
                    (ngDisabled)="!sidebag[option.label]">
                    <mat-icon>remove</mat-icon>
                </button>
                <span>{{sidebag[option.label]||0}}</span>
                <button mat-flat-button color="success"
                    (click)="increase(option.label)"
                    (ngDisabled)="!max">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            <small class="help-block" *ngIf="showDesc[option.label]">
                {{option.description}}
            </small>

        </div>
    </div>

</div>
