:host {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.o-intro-card, .o-end-card {
    width: 100%;
    height: 100%;
    padding-top: 3em;
    text-align: center;

    .a-hero {
        width: 50%;
        margin: 0 auto;
        padding: 1em;
        background: red;
        color: white;
        border-radius: 8px;


        select.form-control {
            height: 36px;
            min-width: 120px;
            border-radius: 4px;
            padding: 8px 12px;
        }

        button {
            height: 36px;
            padding: 8px 16px;
            margin: 0 8px;
        }
    }
    .a-hero__heading {
        margin-block-end: 0;
        font-family: 'Stardos Stencil', cursive;
        font-size: 10em;
        text-transform: uppercase;
        text-shadow: 1px 1px 3px rgb(0,0,0,0.75);

        .a-hero__upper, .a-hero__lower { font-size: 0.25em; }
    }

    .animation {
        display: flex;
        justify-content: center;
        width: 50%;
        margin: 0 auto 2em;
        color: #333;
        text-shadow: 0 0 3px #fff;
        font-size: 2em;
        margin-top: -1em;

        & > * { opacity: 0; }
        &.start > * { opacity: 1; }

        & > :nth-child(1) {
            margin-top:1em;
            transition: opacity 0.2s linear 0.1s;
        }
        & > :nth-child(2) {
            transition: opacity 0.2s linear 0.3s;
        }
        & > :nth-child(3) {
            margin-top:1em;
            transition: opacity 0.2s linear 0.5s;
        }
        & > :nth-child(4) {
            transition: opacity 0.2s linear 0.7s;
        }
        & > :nth-child(5) {
            margin-top:1em;
            transition: opacity 0.2s linear 0.9s;
        }
        & > :nth-child(6) {
            transition: opacity 0.2s linear 1.1s;
        }
        & > :nth-child(7) {
            margin-top:1em;
            transition: opacity 0.2s linear 1.3s;
        }
    }
}

.o-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.o-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3em;
}
.o-toolbar {
    order: 2;
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #777;
    color: #fff;
    height: 100%;

    button {
        background: #000;
        color: #fff;
        border-radius: 16px;
        padding: 0.5em 1em;
        border: 1px solid transparent;
        text-transform: uppercase;

        &:hover {
            background: #fff;
            color: #000;
        }
    }
}
.o-tracker {
    order: 1;
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #f00;
    color: #fff;
    height: 100%;

    .a-dot {
        width: 24px;
        height: 24px;
        border-radius: 100%;
        border: 1px solid #fff;

        &.is-set {
            background:#fff;
        }
    }
}



.o-gameboard {
    flex: 1;    //height
    width: 100%;
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 400px;
    grid-template-rows: 1fr 1fr 1fr 3em 17em;
    grid-template-areas:
        "contraption contraption contraption locations"
        "contraption contraption contraption locations"
        "contraption contraption contraption locations"
        "rewards rewards rewards locations"
        "players players players parts";

}

.o-contraption {
    grid-area: contraption;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.o-players {
    grid-area: players;
    display: flex;
    justify-content: space-around;
    align-items: stretch;

    & > * {
        flex: 1 0 15%;
    }
}

.o-sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
}
.o-boss {
    grid-area: locations;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.o-henchmen {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.o-locations {
    grid-area: locations;
    flex: 1;
    overflow-y: auto;
    border: 8px solid #bbb;
    border-radius: 8px;
    margin:0.25em;

    .l-container--flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;

        & > * {
            width: 48%;
        }
    }
}

.o-rewards {
    grid-area: rewards;
    border: 2px solid #bbb;
    border-radius: 8px;
    margin: 0.25em;
    padding: 0.5em 1em;

    select {
        width: 100%;
        height: 2.5em;
    }
}


.a-label {
    display: inline-block;
    font-weight: 700;
    font-size: 1.25em;
    text-align: center;
    padding: 0.125em 0.5em;
}

.o-preview {
    position:relative;
    grid-area: parts;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .btn-discard {
        position: absolute;
        bottom: 1em;
        left: 36%;

        background: #000;
        color: #fff;
        border-radius: 16px;
        padding: 0.5em 1em;
        border: 3px solid #fff;
        text-transform: uppercase;
        box-shadow: 1px 1px 3px #000;

        &:hover {
            background: #fff;
            color: #000;
        }
    }
}

.a-deck {
    position:relative;
    width: 160px;
    height: 160px;
    perspective: 200px;
}
.a-card {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 4px solid #fff;
    border-radius: 4px;
    overflow: hidden;
    background-color: #c3cbdc;
    background-image: linear-gradient(335deg, #c3cbdc 0%, #edf1f4 74%);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    transition: transform 1s;
    transform-style: preserve-3d;

    &:nth-child(1) { top: 8px; left: 8px; }
    &:nth-child(2) { top: 6px; left: 6px; }
    &:nth-child(3) { top: 4px; left: 4px; }
    &:nth-child(4) { top: 2px; left: 2px; }
    // &:nth-child(5) { top: -8px; left: -8px; }

    &.is-flipped {
        transform: rotateY( 180deg );
        .a-card--back { opacity: 0; }
    }
}
.a-card--front {
    position: absolute;
    height: 100%;
    width: 100%;
    // backface-visibility: hidden;
    transform: rotateY( 180deg );
}
.a-card--back {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: 0.25s opacity 0s linear;

    &:before {
        content: "PARTS";
        display: block;
        text-align:center;
        font-weight: 700;
        margin-top: 60px;
    }
    &:after {
        content: "click to draw";
        display: block;
        text-align:center;
        font-size: 0.875em;
    }
}


.a-placeholder {
    height: 125px;
    width: 100%;
    border: 4px solid #fff;
    border-radius: 4px;
    overflow: hidden;
    background-color: #c3cbdc;
    background-image: linear-gradient(335deg, #c3cbdc 0%, #edf1f4 74%);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.o-help {
    position: absolute;
    top: 3em;
    bottom: 0;
    right: 0;
    width: 50%;
    background: #fff;
    z-index: 999;
    padding: 2em 2em;
    overflow-y: auto;
    box-shadow: -1px 6px 5px 7px rgba(0, 0, 0, 0.2);

    .a-part-wrapper {
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }
}
