
<ng-container *ngIf="Modes.Intro === mode">

    <div class="o-intro-card">

        <div class="a-hero">
            <h1 class="a-hero__heading">
                <sup class="a-hero__upper">the</sup>A<span class="a-hero__lower">-Team</span>
            </h1>

            <div class="animation" [ngClass]="{'start':beginAnim}">
                <span class="fas fa-bahai"></span>
                <span class="fas fa-bahai"></span>
                <span class="fas fa-bahai"></span>
                <span class="fas fa-bahai"></span>
                <span class="fas fa-bahai"></span>
                <span class="fas fa-bahai"></span>
                <span class="fas fa-bahai"></span>
            </div>

            <select name="difficulty" class="form-control" [(ngModel)]="difficulty">
                <option value="4" selected>Normal</option>
                <option value="6">Hard</option>
                <option value="8">Elite</option>
            </select>
            <button type="button" (click)="startGame()">
                Start
            </button>
        </div>
    </div>

</ng-container>

<ng-container *ngIf="Modes.Intro !== mode && Modes.End !== mode">

    <div class="o-wrapper">
        <div class="o-header">
            <div class="o-toolbar">
                <ng-container *ngIf="Modes.Showdown !== mode">
                    <div><span class="a-label">Round: </span> {{round}}</div>
                    <button type="button" (click)="nextRound()">Next Round</button>
                    <div>&nbsp;</div>
                </ng-container>
                <ng-container *ngIf="Modes.Showdown === mode">
                    <span class="a-label">SHOWDOWN!</span>
                </ng-container>
                <button type="button" (click)="showHelp=!showHelp">Help</button>
            </div>
            <div class="o-tracker">
                <div class="a-label"><img src="assets/badge.svg" height="16"> Col Lynch </div>
                <!-- <button type="button" (click)="decrTracker()">-</button> -->
                <div class="a-dot" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]"
                    [ngClass]="{'is-set':tracker>=i}"></div>
            </div>
        </div>


        <div class="o-gameboard">

            <ateam-contraption  class="o-contraption"
                [round]="round"
                [contraption]="contraption"
                [previewPart]="previewPart"
                (onEvent)="onContraptionEvent($event)">
            </ateam-contraption>

            <div class="o-rewards">
                <ng-container *ngIf="bankedActions">
                    <button *ngFor="let choice of actionChoices"
                        (click)="onActionChosen(choice.type)">
                        <span class="{{choice.icon}}"></span>
                    </button>
                </ng-container>
                <strong>&nbsp;Rewards ({{bankedActions}}): </strong>
                <span *ngFor="let reward of rewards; let $idx = index;">
                    <span *ngIf="$idx > 0">, </span>
                    <span class="{{reward.icon}}"
                        title="{{reward.label}}"></span>
                    <ng-container *ngIf="reward.value">
                        <ng-container *ngIf="RewardTypes.Slot===reward.type">
                            &nbsp;(<span class="fa-lg fas fa-dice-{{reward.value|numToLetter}}"></span>)
                        </ng-container>
                    </ng-container>
                </span>
            </div>

            <div class="o-players">
                <ateam-player *ngFor="let member of team"
                    [member]="member"
                    [round]="round"
                    (onEvent)="onPlayerEvent($event)">
                </ateam-player>
            </div>

            <div class="o-sidebar">
                <ng-container *ngIf="Modes.Showdown !== mode">

                    <div class="o-preview">
                        <ateam-parts *ngIf="previewPart" [part]="previewPart" ></ateam-parts>
                        <div *ngIf="!previewPart" class="a-placeholder" (click)="preview()">
                            <strong>PARTS</strong>
                            <small>Click to Draw</small>
                        </div>
                        <button type="button" *ngIf="previewPart" (click)="previewPart=null">Discard</button>
                    </div>

                    <div class="o-locations">
                        <div class="a-label">LOCATIONS</div>
                        <!-- <div class="l-container--flex"> -->
                            <ateam-location *ngFor="let location of locations"
                                [location]="location"
                                [round]="round"
                                (onEvent)="onLocationEvent($event)">
                            </ateam-location>
                        <!-- </div> -->
                    </div>
                </ng-container>

                <div class="o-boss" *ngIf="Modes.Showdown === mode">
                    <ateam-boss [mode]="mode" [difficulty]="difficulty"
                        (onEvent)="onBossEvent($event)">
                    </ateam-boss>
                </div>

            </div>

        </div>
    </div>




    <div *ngIf="showHelp" class="o-help">
        <h2>How to Play</h2>
        <p>
            Each Round, the four members of the A-Team work together to clear
            Locations of Henchmen while also building out a Contraption for use
            against the Boss during the Showdown at the end of the game.
        </p>
        <br>

        <h3>Locations</h3>
        <p>
            Locations must be cleared by first defeating all Henchmen on it and
            then filling each of its slots with dice. Once cleared, the A-Team
            receives the Location's reward. If a Location is not cleared by
            the end of the round, Henchmen reinforcements will arrive to reclaim.
        </p>
        <br>

        <h3>Col Lynch Tracker</h3>
        <p>
            The tracker represents the dogged pursuit by Col. Lynch. Any 1's
            that cannot be used by players on their turn will cause the tracker to
            increment 1 step. Also, if at least one Location remains
            uncleared at the end of the round, the tracker is incremented by
            1 step.
        </p>
        <p>
            If the tracker ever reaches the final step, the players must
            enter the Showdown against the Boss immediately before they are
            captured by Col. Lynch.
        </p>
        <br>

        <h3>Die Rewards</h3>
        <ul>
            <li><strong>Pair: </strong> 1 Action</li>
            <li><strong>3 of a Kind: </strong> 2 Actions</li>
            <li><strong>4 of a Kind: </strong> 3 Action</li>
            <li><strong>3-die Straight: </strong> ???</li>
        </ul>

        <h3>Actions</h3>
        <ul>
            <li>Apply 1 damage</li>
            <li>Draw a Parts card</li>
            <li>Reduce Tracker by 1</li>
        </ul>
    </div>
</ng-container>

<ng-container *ngIf="Modes.End === mode">

    <div class="o-end-card">
        <div class="a-hero">
            <h1 class="a-hero__heading">
                <sup class="a-hero__upper">the</sup>A<span class="a-hero__lower">-Team</span>
            </h1>

            <div *ngIf="won">Congratulations! You won!</div>
            <div *ngIf="!won">Uh-oh! The A-Team was captured by Col. Lynch!</div>
            <br>
            <br>
            <button type="button" (click)="restart()">Play again</button>
            <br>

        </div>
    </div>

</ng-container>
