
<ng-container *ngIf="Modes.Intro === mode">

    <div class="o-intro-card">

        <div class="a-hero">
            <h1 class="a-hero__heading">
                <sup class="a-hero__upper">the</sup>A<span class="a-hero__lower">-Team</span>
            </h1>

            <div class="animation" [ngClass]="{'start':beginAnim}">
                <span class="fas fa-bahai"></span>
                <span class="fas fa-bahai"></span>
                <span class="fas fa-bahai"></span>
                <span class="fas fa-bahai"></span>
                <span class="fas fa-bahai"></span>
                <span class="fas fa-bahai"></span>
                <span class="fas fa-bahai"></span>
            </div>

            <select name="difficulty" class="form-control" [(ngModel)]="difficulty">
                <option value="4" selected>Normal</option>
                <option value="6">Hard</option>
                <option value="8">Elite</option>
            </select>
            <button type="button" (click)="startGame()">
                Start
            </button>
        </div>
    </div>

</ng-container>

<ng-container *ngIf="Modes.Intro !== mode && Modes.End !== mode">

    <div class="o-wrapper">
        <div class="o-header">
            <div class="o-toolbar">
                <ng-container *ngIf="Modes.Showdown !== mode">
                    <div><span class="a-label">Round: </span> {{round}}</div>
                    <button type="button" (click)="nextRound()">Next Round</button>
                    <div>&nbsp;</div>
                </ng-container>
                <ng-container *ngIf="Modes.Showdown === mode">
                    <span class="a-label">SHOWDOWN!</span>
                </ng-container>
                <button type="button" (click)="showHelp=!showHelp">Help</button>
            </div>
            <div class="o-tracker">
                <div class="a-label"><img src="assets/badge.svg" height="16"> Col Lynch </div>
                <!-- <button type="button" (click)="decrTracker()">-</button> -->
                <div class="a-dot" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]"
                    [ngClass]="{'is-set':tracker>=i}"></div>
            </div>
        </div>


        <div class="o-gameboard">

            <ateam-contraption  class="o-contraption"
                [round]="round"
                [contraption]="contraption"
                [previewPart]="previewPart"
                (onEvent)="onContraptionEvent($event)">
            </ateam-contraption>

            <div class="o-rewards">
                <ng-container *ngIf="bankedActions">
                    <button *ngFor="let choice of actionChoices"
                        (click)="onActionChosen(choice.type)">
                        <span class="{{choice.icon}}"></span>
                    </button>
                </ng-container>
                <strong>&nbsp;Rewards ({{bankedActions}}): </strong>
                <span *ngFor="let reward of rewards; let $idx = index;">
                    <span *ngIf="$idx > 0">, </span>
                    <span class="{{reward.icon}}"
                        title="{{reward.label}}"></span>
                    <ng-container *ngIf="reward.value">
                        <ng-container *ngIf="RewardTypes.Die===reward.type">
                            &nbsp;(<span class="fa-lg fas fa-dice-{{reward.value|numToLetter}}"></span>)
                        </ng-container>
                    </ng-container>
                </span>
            </div>

            <div class="o-players">
                <ateam-player *ngFor="let member of team"
                    [member]="member"
                    [round]="round"
                    (onEvent)="onPlayerEvent($event)">
                </ateam-player>
                <ateam-van (onEvent)="onPlayerEvent($event)"></ateam-van>
            </div>

            <!-- <div class="o-sidebar"> -->
                <ng-container *ngIf="Modes.Showdown !== mode">

                    <div class="o-locations">
                        <div class="a-label">LOCATIONS</div>
                        <!-- <div class="l-container--flex"> -->
                            <ateam-location *ngFor="let location of locations"
                                [location]="location"
                                [round]="round"
                                (onEvent)="onLocationEvent($event)">
                            </ateam-location>
                        <!-- </div> -->
                    </div>

                    <div class="o-preview">

                        <small>{{partsDeck.length}} Remaining</small>
                        <!-- deck of available parts -->
                        <div class="a-deck">
                            <div class="a-card"></div>
                            <div class="a-card"></div>
                            <div class="a-card"></div>
                            <div class="a-card" [ngClass]="{'is-flipped':previewPart}">
                                <div class="a-card--front">
                                    <ateam-parts *ngIf="previewPart" [part]="previewPart" ></ateam-parts>
                                </div>
                                <div class="a-card--back" (click)="preview()"></div>
                            </div>
                            <!-- <div class="a-card--front">
                                <ateam-parts *ngIf="previewPart" [part]="previewPart" ></ateam-parts>
                            </div> -->
                        </div>

                        <button type="button" *ngIf="previewPart"
                            class="btn-discard"
                            (click)="previewPart=null">
                            Discard
                        </button>
                    </div>

                </ng-container>

                <div class="o-boss" *ngIf="Modes.Showdown === mode">
                    <ateam-boss [mode]="mode" [difficulty]="difficulty"
                        (onEvent)="onBossEvent($event)">
                    </ateam-boss>
                </div>

            <!-- </div> -->

        </div>
    </div>




    <div *ngIf="showHelp" class="o-help">
        <h2>How to Play</h2>
        <p>
            Each Round, the four members of the A-Team work together to clear
            Locations of Henchmen while also building out a Contraption for use
            against the Boss during the Showdown at the end of the game.
        </p>
        <br>

        <h3>Locations</h3>
        <p>
            Locations are cleared by first defeating all Henchmen within and
            then filling each of its slots with dice. Once cleared, the A-Team
            receives the reward indicated at the bottom of the Location's card.
            If a Location is not cleared by the end of the round, reinforcements
            will arrive to reclaim the Location.
        </p>
        <br>

        <h3>Col Lynch Tracker</h3>
        <p>
            The tracker represents the dogged pursuit by Col. Lynch. Any 1's
            that cannot be used by players on their turn will cause the tracker to
            increment 1 step. Also, if at least one Location remains
            uncleared at the end of the round, the tracker is incremented by
            1 step.
        </p>
        <p>
            If the tracker ever reaches the final step, the players must
            enter the Showdown against the Boss immediately before they are
            captured by Col. Lynch.
        </p>
        <br>

        <h3>Rewards</h3>
        <p>
            Each member of the A-Team has a unique set of die options. Each option
            is shown below.
        </p>
        <ul>
            <li>
                <span class="fas fa-bahai"></span> - Damage that can be applied
                to Henchmen during the <strong>Plan</strong> or the Boss during
                the <strong>Showdown</strong>
            </li>
            <li><span class="fas fa-skull-crossbones"></span> - Defeat any single Henchmen</li>
            <li>
                <span class="fas fa-vector-square"></span> - Gain a Part that
                can be applied to the A-Team's <strong>Contraption</strong>
            </li>
            <li>
                <span class="fas fas fa-dice-d6"></span> - Gain an extra die that
                can be slotted immediately
            </li>
            <li>
                <span class="fas fa-dice"></span> - Change the face value of any
                one slotted or unslotted die
            </li>
            <li>
                <span class="fas fa-user-shield t-good"></span> - Reduce the Col.
                Lynch Tracker.
            </li>
            <li>
                <span class="fas fa-user-shield t-bad"></span> - Increase the Col.
                Lynch Tracker.
            </li>
            <li><span class="fas fa-ban"></span> - No result</li>
        </ul>
        <p>
            <strong>Note:</strong> Rewards gained from dice during a round are
            lost at the end of the round if not used!
        </p>
        <br>

        <h3>Parts</h3>
        <p>
            Parts can be incorporated into the team's Contraption. They contain a
            slot which specifies a minimum die value required in order to slot a
            die into it. Once a die is slotted into a Part, the reward specified
            by the Part is applied.
        </p>
        <div class="a-part-wrapper">
            <ateam-parts [part]="placeholderPart"></ateam-parts>
        </div>
        <p>
            Parts have connectors on its sides which allow it to attach to existing
            Parts already applied in the Contraption. The number of sides with
            connectors varies and affects the reward offered by the Part - more
            connectors (easier to install) means smaller rewards.
        </p>
        <br>

        <h3>Henchmen</h3>
        <p>
            Henchmen occupy Locations, preventing the A-Team from revealing the
            Boss ultimately pulling the strings in the background. Once enough
            damage has been applied to a Henchman, it is defeated.
        </p>
        <br>

        <h3>Boss</h3>
        <p>
            The Boss is only revealed once all Locations have been cleared of
            Henchmen and had their die slots filled by the members of the A-Team.
            The Boss has a number of hit points based upon the number of players
            and the difficulty.
        </p>
        <p>
            In order to defeat the Boss, the A-Team must put their Contraption into
            battle, slotting their dice into it to gain damage that can be applied
            to the Boss.
        </p>
        <br>

        <h3>The Plan</h3>
        <p>
            During the Plan, players roll four dice - one per A-Team member - and
            can choose between slotting each die or using the special option that
            member has for the die based upon its face value. Each die is colored
            based upon the member it represents - yellow for Hannibal, blue for Faceman,
            red for BA, and purple for Murdock.
        </p>
        <p>
            If a member of the A-Team rolls a 6 on their die (see above for which
            colors belong to each member), they trigger a special reward only
            available to that member.
        </p>
        <ul>
            <li>Hannibal - Reduce the Col. Lynch Tracker</li>
            <li>Faceman - Gain a new die to slot immediately</li>
            <li>BA - Draw 2 Parts</li>
            <li>Murdock - Change any one die's face value</li>
        </ul>
        <h4>Slotting Dice</h4>
        <p>
            A die can be slotted in any empty slot with a required value less than
            or equal to the die's face value.  Click the die to slot and then click
            the desired slot to insert it. If you decide against slotting a selected
            die, click the selected die again to un-select it.
        </p>
        <h4>Using Dice Options</h4>
        <p>
            A die's special option can be used by clicking the "use" button to the
            right of the die. An icon illustrating the option granted by the die
            is shown between the die and the use button.
        </p>
        <h4>The Van</h4>
        <p>
            Members of the A-Team may take dice that they don't wish to use or
            slot elsewhere in a round and instead slot them into the van. Dice slotted
            in the van are kept between rounds and may be slotted later into Parts
            or Locations.
        </p>

    </div>
</ng-container>

<ng-container *ngIf="Modes.End === mode">

    <div class="o-end-card">
        <div class="a-hero">
            <h1 class="a-hero__heading">
                <sup class="a-hero__upper">the</sup>A<span class="a-hero__lower">-Team</span>
            </h1>

            <div *ngIf="won">Congratulations! You won!</div>
            <div *ngIf="!won">Uh-oh! The A-Team was captured by Col. Lynch!</div>
            <br>
            <br>
            <button type="button" (click)="restart()">Play again</button>
            <br>

        </div>
    </div>

</ng-container>
