<div class="ability">
  <div ng-if="!ctrl.displayEditor">
    <div class="pull-right">
      <button type="button" class="btn btn-sm btn-danger" ng-click="ctrl.remove()">
        <span class="glyphicon glyphicon-trash"></span>
      </button>&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-sm btn-default" ng-click="ctrl.edit()">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
    </div>
    <h5>{{ctrl.name}}</h5> <small>{{ctrl.desc}}</small>
  </div>
  <form class="form" ng-if="ctrl.displayEditor">
    <input type="text" class="form-control" ng-model="ctrl.name" placeholder="name">
    <textarea rows="3" class="form-control" ng-model="ctrl.desc" placeholder="value"></textarea>
    <button type="button" class="btn btn-sm btn-success" ng-click="ctrl.save()">
      <span class="glyphicon glyphicon-ok"></span>
    </button>
    <button type="button" class="btn btn-sm btn-default" ng-click="ctrl.cancel()">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </form>
</div>