<div class="abilities">
    

    <!-- add new -->
    <form class="form">

        <label>Add Ability</label>

        <div class="f-container f-justify-between f-align-center">
            <div class="f-cell-2x">
                <select class="form-control" ng-model="$ctrl.newAbility" 
                    ng-options="item as item.name disable when item.disabled for item in $ctrl.options">
                    <option value="">Select New Ability</option>
                </select>
            </div>
            <button type="button" class="btn btn-success pull-right" 
                ng-disabled="!$ctrl.newAbility" ng-click="$ctrl.add()">Add</button>
        </div>
        <br>
        
    </form>

    <!-- list abilities -->
    <div class="f-container f-wrap has-gutter">
        <ability ng-repeat="(id, ability) in $ctrl.character.abilities" 
            class="f-cell-50p-md f-cell-50p-lg"
            ability="ability" on-save="$ctrl.onEdited(id, updated)">
        </ability>
    </div>

</div>