<div class="abilities">
    
    <!-- list abilities -->
    <div ng-repeat="(name, desc) in character.abilities" 
        ability name="{{name}}" desc="{{desc}}" on-save="onEdited(name, newName, newDesc)"></div>

    <br>
    
    <!-- add new -->
    <form class="form">
        <label>Add New Ability</label>
        <input type="text" class="form-control" placeholder="Name" ng-model="value.name">
        <textarea rows="3" class="form-control" placeholder="Description" ng-model="value.desc"></textarea>
        <button type="button" class="btn btn-success pull-right" ng-disabled="!value.name" ng-click="add()">Add</button>
    </form>

</div>