<div class="abilities">
    <br>
    
    <!-- list abilities -->
    <div ng-repeat="(id, ability) in character.abilities" 
        ability="ability" on-save="onEdited(id, updated)"></div>

    <br>
    
    <!-- add new -->
    <form class="form">
        <label>Add Ability</label>

        <div class="f-container f-justify-between f-align-center">
            <div class="f-cell-2x">
                <select class="form-control" ng-model="newAbility" 
                    ng-options="item as item.name disable when item.disabled for item in options">
                    <option value="">Select New Ability</option>
                </select>
            </div>
            <button type="button" class="btn btn-success pull-right" ng-disabled="!newAbility" ng-click="add()">Add</button>
        </div>
        <br>

        <label>Add Custom Ability</label>
        <input type="text" class="form-control" placeholder="Name" ng-model="customAbility.name">
        <textarea rows="2" class="form-control" placeholder="Description" ng-model="customAbility.desc"></textarea>
        <button type="button" class="btn btn-success pull-right" ng-disabled="!customAbility.name" ng-click="addCustom()">Add</button>

    </form>

</div>