<div class="sermons" ng-if="character.class && character.class.toLowerCase().indexOf('preacher')>=0">
   <h4>
        <div class="pull-right">
            Faith: {{$parent.character.availableFaith}} / {{$parent.character.faith}} 
            <button type="button" class="btn btn-sm btn-default" ng-click="$parent.resetFaith()">reset</button>

            &nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-sm btn-success pull-right" ng-click="$parent.add()">Add</button>

        </div>
        Sermons
    </h4>
    <div ng-repeat="(name,sermon) in $parent.character.sermons"> 
        <div sermon="sermon" on-save="$parent.onEdited(name, sermon)"></div>
    </div>
    <hr>
    
</div>