<div class="abilities">
    <div class="list-group">
        <h5 class="list-group-item disabled">Abilities</h5>
        <div ng-if="$ctrl.character.hasConditions.bleeding" class="list-group-item">
            <h5 class="list-group-heading">Bleeding</h5>
            <div class="list-group-text">
                During your activation, after you resolve any action other than discarding this condition, 
                you suffer 1 <span class="image-icon strain"></span>. 
                <br><span class="image-icon action"></span>: Discard this condition.</div>
        </div>
        <div ng-if="$ctrl.character.hasConditions.stunned" class="list-group-item">
            <h5 class="list-group-heading">Stunned</h5>
            <div class="list-group-text">
                You cannot attack or voluntarily exit your space.
                <br><span class="image-icon action"></span>: Discard this condition.</div>
        </div>
        <div ng-if="$ctrl.character.hasConditions.focused" class="list-group-item">
            <h5 class="list-group-heading">Focused</h5>
            <div class="list-group-text">
                When you declare an attack or attribute test, add 1 <div class="color-icon green"></div> die to the dice pool.
                <br>
                After you resolve an attack or attribute test, you must discard this card.
            </div>
        </div>
        <div ng-repeat="(name,ability) in $ctrl.character[$ctrl.character.condition].abilities" class="list-group-item">
            <h5 class="list-group-heading">{{name}}</h5>
            <div class="list-group-text" ng-bind-html="ability.description|iconify"></div>
        </div>
        <div ng-repeat="(name,ability) in $ctrl.character.abilities" class="list-group-item">
            <h5 class="list-group-heading">{{name}}</h5>
            <div class="list-group-text" ng-bind-html="ability.effects|colorize|iconify|listify"></div>
        </div>
    </div>
</div>