<div class="char {{$ctrl.character.condition}}">
    <div class="top-row">
        
        <div class="image" style="background-image: url(assets/img/{{$ctrl.character.image}})">
            
            <button type="button" class="btn btn-lg btn-img btn-default" data-toggle="button">
                <img src="assets/img/activation.ready.png" class="when-not-active">
                <img src="assets/img/activation.used.png" class="when-active">
            </button>

            <div class="dice hidden-xs">
                <div class="f-cell-1x">
                    <swia-die color="red"></swia-die><swia-die color="red"></swia-die>
                </div>
                <div class="f-cell-1x">
                    <swia-die color="blue"></swia-die><swia-die color="blue"></swia-die>
                </div>
                <div class="f-cell-1x">
                    <swia-die color="green"></swia-die><swia-die color="green"></swia-die>
                </div>
                <div class="f-cell-1x">
                    <swia-die color="yellow"></swia-die><swia-die color="yellow"></swia-die>
                </div>
                <div class="f-cell-1x">
                    <swia-die color="black"></swia-die><swia-die color="black"></swia-die>
                </div>
                <div class="f-cell-1x">
                    <swia-die color="white"></swia-die>
                </div>
            </div>
        </div>

        <div class="label visible-xs">
            <h4>
                <div class="pull-right">
                    {{$ctrl.character.xp||0}} XP
                    <button type="button" class="btn btn-default btn-xs" ng-click="$ctrl.increaseXP()" title="earn XP">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                {{$ctrl.character.name}}<br><small>{{$ctrl.character['class']}}</small>
            </h4>
        </div>

        <ng-include src="'src/character/stats-xs.html'" class="stats visible-xs"></ng-include>
        <div class="visible-xs">
            <swia-die color="red"></swia-die>
            <swia-die color="blue"></swia-die>
            <swia-die color="green"></swia-die>
            <swia-die color="yellow"></swia-die>
            <swia-die color="black"></swia-die>
            <swia-die color="white"></swia-die>
        </div>

        <div class="details">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a data-target="#purchased" role="tab" data-toggle="tab">Details</a>
                </li>
                <li role="presentation">
                    <a data-target="#abilities" role="tab" data-toggle="tab">Purchase Abilities</a>
                </li>
                <li role="presentation" ng-if="!$ctrl.character.imperial">
                    <a data-target="#items" role="tab" data-toggle="tab">Purchase Items</a>
                </li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="purchased">
                    <ng-include src="'src/character/abilities.html'"></ng-include>
                    <ng-include src="'src/character/items.html'"></ng-include>
                </div>
                <div role="tabpanel" class="tab-pane" id="abilities">
                    <swia-available-abilities character="$ctrl.character" on-purchase="$ctrl.purchaseAbility(ability)">
                    </swia-available-abilities>
                </div>
                <div role="tabpanel" class="tab-pane" id="items">
                    <swia-available-items credits="{{$ctrl.character.credits}}" on-purchase="$ctrl.purchaseItem(item)">
                    </swia-available-items>
                </div>
            </div>

            <!-- <swia-agendas character="$ctrl.character" ng-if="$ctrl.character.imperial"></swia-agendas> -->
        </div>
    </div>
    <div class="bot-row hidden-xs">
        <div class="label">
            <h4>
                <div class="pull-right">
                    {{$ctrl.character.xp||0}} XP
                    <button type="button" class="btn btn-default btn-xs" ng-click="$ctrl.increaseXP()" title="earn XP">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                {{$ctrl.character.name}}<br>
                <small>{{$ctrl.character['class']}}</small>
            </h4>
            <a href="#/campaign/{{$ctrl.campaign}}">{{$ctrl.campaign}} Campaign</a>
        </div>

        <ng-include src="'src/character/stats.html'" class="stats"></ng-include>
    </div>


    <!--
    <div>
        <div class="sprite sprite-red-1"></div>
        <div class="sprite sprite-red-2"></div>
        <div class="sprite sprite-red-3"></div>
        <div class="sprite sprite-red-4"></div>
        <div class="sprite sprite-red-5"></div>
        <div class="sprite sprite-red-6"></div>
    </div>
    <div>
        <div class="sprite sprite-blue-1"></div>
        <div class="sprite sprite-blue-2"></div>
        <div class="sprite sprite-blue-3"></div>
        <div class="sprite sprite-blue-4"></div>
        <div class="sprite sprite-blue-5"></div>
        <div class="sprite sprite-blue-6"></div>
    </div>
    <div>
        <div class="sprite sprite-green-1"></div>
        <div class="sprite sprite-green-2"></div>
        <div class="sprite sprite-green-3"></div>
        <div class="sprite sprite-green-4"></div>
        <div class="sprite sprite-green-5"></div>
        <div class="sprite sprite-green-6"></div>
    </div>
    <div>
        <div class="sprite sprite-yellow-1"></div>
        <div class="sprite sprite-yellow-2"></div>
        <div class="sprite sprite-yellow-3"></div>
        <div class="sprite sprite-yellow-4"></div>
        <div class="sprite sprite-yellow-5"></div>
        <div class="sprite sprite-yellow-6"></div>
    </div>
    <div>
        <div class="sprite sprite-black-1"></div>
        <div class="sprite sprite-black-2"></div>
        <div class="sprite sprite-black-3"></div>
        <div class="sprite sprite-black-4"></div>
        <div class="sprite sprite-black-5"></div>
        <div class="sprite sprite-black-6"></div>
    </div>
    <div>
        <div class="sprite sprite-white-1"></div>
        <div class="sprite sprite-white-2"></div>
        <div class="sprite sprite-white-3"></div>
        <div class="sprite sprite-white-4"></div>
        <div class="sprite sprite-white-5"></div>
        <div class="sprite sprite-white-6"></div>
    </div>
    -->
    
</div>