<div class="vd" [ngClass]="{'is-special':special}">
    <div class="vd__value"
        [ngClass]="{modified:isModified(),'u-sm':'sm'===options.valueSize}"
        (click)="openKeypad()">
        <span>{{computed}}</span>
    </div>
    <button type="button" class="vd__incr"
        (click)="increment()"
        (ngDisabled)="!canAdjust || !canIncrement()">
        <mat-icon>add</mat-icon>
    </button>
    <button type="button" class="vd__decr"
        (click)="decrement()"
        (ngDisabled)="!canAdjust || !canDecrement()">
        <mat-icon>remove</mat-icon>
    </button>
    <div class="vd__label" [ngClass]="{'u-sm':'sm'===options.labelSize}">
        {{label}}
    </div>
</div>
