<div class="value-display" [ngClass]="{'has-leveled':hasLeveled()}">
    <div class="value" [ngClass]="{'u-sm':'sm'===options.valueSize,modified:isModified()}">
        <div (click)="openKeypad()">
            <div>
                {{value}}
                <div class="needed">{{needed}}</div>
            </div>
        </div>
        <div *ngIf="canAdjust">
            <button type="button" class="incrementer"
                (click)="increment()"
                (ngDisabled)="!canIncrement()">
                +
            </button>
            <button type="button" class="decrementer"
                (click)="decrement()"
                (ngDisabled)="!canDecrement()">
                -
            </button>
        </div>
    </div>
    <div class="label" [ngClass]="{'u-sm':'sm'===options.labelSize}">
        <span>{{label}}</span>
    </div>
</div>
