<div class="clothing-item">
    <div class="pull-right">
        <div class="btn-group" ng-if="ctrl.confirmingDelete">
            <button type="button" class="btn btn-sm btn-success" ng-click="ctrl.remove()">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button type="button" class="btn btn-sm btn-default" ng-click="ctrl.confirmingDelete=false">
                <span class="glyphicon glyphicon-ban-circle"></span>
            </button>     
        </div>
        <button ng-if="!ctrl.confirmingDelete"
            type="button" class="btn btn-sm btn-danger" ng-click="ctrl.confirmingDelete=true">
           <span class="glyphicon glyphicon-trash"></span>
        </button>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-sm btn-default" ng-click="ctrl.edit()">
           <span class="glyphicon glyphicon-pencil"></span>
        </button>
    </div>
    <h5>
       {{clothingItem.name}} 
       <small>{{clothingItem.type}}</small> 
       <small ng-if="clothingItem.source"><em>({{clothingItem.source}})</em></small>
    </h5>
    <p><small>{{clothingItem.desc}}</small></p>
    <div class="f-container f-justify-between f-align-center">
        <div>
            <span class="sprite sprite-item_weight" ng-class="{disabled:!clothingItem.weight}"></span> 
            {{clothingItem.weight}}
        </div>
        <div>
            <span class="sprite sprite-item_darkstone" ng-class="{disabled:!clothingItem.darkstone}"></span> 
            {{clothingItem.darkstone}}
        </div>
        <div>
            <span class="sprite sprite-item_hands" ng-class="{disabled:!clothingItem.hands}"></span> 
            {{clothingItem.hands}}
        </div>
        <div>
            <span class="sprite sprite-item_slots" ng-class="{disabled:!clothingItem.slots}"></span> 
            {{clothingItem.slots}}
        </div>
    </div>
</div>