<div class="modal-content">
    <div class="modal-header" style="background: #ebf7d0">
        <h5 class="modal-title">Edit Clothing</h5>
    </div>
    <div class="modal-body">
<!-- 
        <div class="input-group">
            <span class="input-group-addon">Name</span>
            <input type="text" class="form-control" ng-model="item.name" placeholder="What is the clothing's name?">
        </div><br>
        
        <textarea rows="2" class="form-control" ng-model="item.desc" placeholder="Describe the clothing"></textarea>
        <br>

        <div class="row">
            <div class="col-xs-8">
                <div class="input-group">
                    <span class="input-group-addon">Source</span>
                    <input type="text" class="form-control" ng-model="item.source" placeholder="Source (eg, 'General Store' or 'Targa Plateau')">
                </div>
            </div>
            <div class="col-xs-4">
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control" ng-model="item.cost" placeholder="Optionally, specify the cost">
                </div>
            </div>
        </div>
        <br>

        <div class="input-group">
            <span class="input-group-addon">Slot</span>
            <input disabled type="text" class="form-control" ng-if="!newItem" value="{{item.type}}">
            <select type="text" class="form-control" ng-if="newItem" 
                ng-model="item.type" required ng-options="type for type in types">
                <option value="">Select Slot</option>
            </select>
        </div><br>

        <div class="row">
            <div class="col-xs-6">
                <div class="input-group">
                    <span class="input-group-addon"><img src="assets/item_weight.png" height="16"></span>
                    <input type="number" min="0" max="2" ng-model="item.weight" class="form-control">
                </div><br>

                <div class="input-group">
                    <span class="input-group-addon"><img src="assets/item_darkstone.png" height="16"></span>
                    <input type="number" min="0" ng-model="item.darkstone" class="form-control">
                    </label>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="input-group">
                    <span class="input-group-addon"><img src="assets/item_hands.png" height="16"></span>
                    <input type="number" min="0" max="2" ng-model="item.hands" class="form-control">
                </div><br>
            
                <div class="input-group">
                    <span class="input-group-addon"><img src="assets/item_slots.png" height="16"></span>
                    <input type="number" max="2" min="0" ng-model="item.slots" class="form-control">
                </div>
            </div>
        </div>   -->      


        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#first" aria-controls="home" role="tab" data-toggle="tab">Basic</a>
            </li>
            <li role="presentation">
                <a href="#second" aria-controls="second" role="tab" data-toggle="tab">Advanced</a>
            </li>
            <li role="presentation">
                <a href="#third" aria-controls="third" role="tab" data-toggle="tab">Stats</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="first">
                <br>
                <label>Name</label>
                <input type="text" class="form-control" ng-model="item.name" placeholder="Name">
                <br>
                <label>Description</label>
                <textarea rows="3" class="form-control" ng-model="item.desc" placeholder="Provide a description"></textarea>
                <br>
                <label>Slot</label>
                <input disabled type="text" class="form-control" ng-if="!newItem" value="{{item.type}}">
                <select type="text" class="form-control" ng-if="newItem" 
                    ng-model="item.type" required ng-options="type for type in types">
                    <option value="">Select Slot</option>
                </select>
            </div>
            <div role="tabpanel" class="tab-pane" id="second">
                <br>
                <label>Source</label>
                <input type="text" class="form-control" ng-model="item.source" placeholder="Source (eg, 'General Store' or 'Targa Plateau')">
                <br>
                <label>Use</label>
                <select class="form-control" ng-model="item.usage">
                    <option value="">N/A</option>
                    <option value="Turn">Turn</option>
                    <option value="Fight">Fight</option>
                    <option value="Adventure">Adventure</option>
                </select>
                <br>
                <label>Keywords</label>    
                <input type="text" class="form-control" ng-model="item.keywords" placeholder="Keywords">
            </div>
            <div role="tabpanel" class="tab-pane" id="third">
                <br>
                <label>Cost</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control" ng-model="item.cost" placeholder="Optionally, specify the cost">
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="input-group">
                            <span class="input-group-addon"><img src="assets/item_weight.png" height="16"></span>
                            <input type="number" min="0" max="2" ng-model="item.weight" class="form-control">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon"><img src="assets/item_darkstone.png" height="16"></span>
                            <input type="number" min="0" ng-model="item.darkstone" class="form-control">
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="input-group">
                            <span class="input-group-addon"><img src="assets/item_hands.png" height="16"></span>
                            <input type="number" min="0" max="2" ng-model="item.hands" class="form-control">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon"><img src="assets/item_slots.png" height="16"></span>
                            <input type="number" max="2" min="0" ng-model="item.slots" class="form-control">
                        </div>
                    </div>
                </div>   
                <br>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-disabled="!item.name||!item.type" ng-click="ok()">Apply</button>
    </div>
</div>
