<h5 mat-dialog-title>Choose Trick</h5>
<div mat-dialog-content>
    <div *ngIf="!data || !data.options || !data.options.length">
        Loading available options...
    </div>
    <div *ngFor="let option of data?.options"
        class="c-option--available"
        (click)="choose(option)"
        [ngClass]="{'is-selected':isChosen(option)}">
        <div class="a-heading">
            <mat-icon>{{isChosen(option)?'check_box':'check_box_outline_blank'}}</mat-icon>
            {{option.name}}
        </div>
        <p class="u-sm">{{option.desc||option.description||option.value}}</p>
    </div>
</div>
<div mat-dialog-actions class="m-grid gutter flex-justify-end flex-align-center">
    <a mat-flat-button color="accent" (click)="close()" aria-label="Close">Cancel</a>
    &nbsp;&nbsp;&nbsp;
    <a mat-flat-button color="primary" [mat-dialog-close]="selection"
        aria-label="Apply"
        [disabled]="!selection">
        Apply
    </a>
</div>
