<div [@dialog] *ngIf="visible" class="dialog">
    <div class="dialog__body">
        <div *ngIf="!options||!options.length">
            Loading available options...
        </div>

        <div *ngFor="let option of options"
            class="c-option--available"
            (click)="choose(option)"
            [ngClass]="{'is-selected':isChosen(option)}">
            <div class="a-heading">
                <mat-icon>{{isChosen(sermon)?'check_box':'check_box_outline_blank'}}</mat-icon>
                {{option.name}}
            </div>
            <p class="u-sm">{{option.desc||option.description}}</p>
        </div>

    </div>
    <div class="d-flex flex-justify-end">
        <button type="button" (click)="close()" aria-label="Close">Cancel</button>
        <button type="button" aria-label="Apply"
            [disabled]="!hasSelection()"
            (click)="apply()">Apply</button>
    </div>
</div>
