:host {
    display: flex;
    flex-direction: column;
    border: 1px solid darkgreen;
    background-color: #fff;
    margin: 1em 1em;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
}

.l-top {
    width: 100%;
    background: darkgreen;
    color: #fff;
    padding: 0.125em 0.5em;
    text-align: center;
    border-bottom: 1px solid #333;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.25);
    z-index: 2;

    line-height: 1.125;
    height: 3em;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.l-middle {
    flex: 1;
    text-align: center;
}
.l-bottom {
    width: 100%;
    background-color: #e6e6e6;
    padding: 0.25em 1em;
}



.a-label {
    font-weight: 700;
    font-size: 1.25em;
}

.o-slots {
    flex: 2;
    margin: 1em;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

// .a-reward {
//     flex: 1;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: #fff;
//     text-align: center;
// }

.o-henchmen {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;

    & > * {
        width: 25%;
    }
}
