<div class="c-loot">
    <h3>
        <button type="button" class="btn btn-default pull-right" ng-click="$ctrl.rollForLoot()">Roll!</button>
        Loot
    </h3>
    <div ng-if="$ctrl.lootRolled">
        <div><small>'Apply' will grant 20 XP in addition to any loot-specific rewards</small></div>
        <div><small>'Clear' will abort current loot roll (and any rewards and XP)</small></div>
        <br>
    </div>
    <div class="loot" ng-if="$ctrl.lootRolled">

        <label>{{$ctrl.lootRolled.label}}</label>
        <p>{{$ctrl.lootRolled.description}}</p>
        <div><em ng-if="$ctrl.lootRolled.value">(Rolled {{$ctrl.lootRolled.value}})</em></div>

        <br>

        <button type="button" class="btn btn-info" 
            ng-click="$ctrl.applyLoot()">
            Apply <span ng-if="$ctrl.lootRolled.value">with value rolled</span>
        </button>
        <button type="button" class="btn btn-default" ng-click="$ctrl.clearLoot()">
            Clear <span ng-if="$ctrl.lootRolled.apply">without applying</span>
        </button>
    </div>
</div>