<div>
    <div class="d-flex flex-justify-between flex-align-end">
        <div class="a-heading">{{spell.name}}</div>
        <div class="d-flex flex-justify-end flex-align-end">
            <button mat-flat-button color="warn" class="u-sm" (click)="confirmingDelete=true">X</button>
            <div class="btn-group" *ngIf="confirmingDelete">
                <button mat-flat-button color="warn" class="u-sm" (click)="remove()"><mat-icon>check_circle</mat-icon></button>
                <button mat-flat-button color="accent" class="u-sm" (click)="confirmingDelete=false"><mat-icon>not_interested</mat-icon></button>
            </div>
        </div>
    </div>

    <br>
    <div class="u-sm">
        <strong>Power Roll: </strong> {{spell.power||'*'}}+
    </div>
    <div *ngIf="status">{{status}} (Rolled {{roll}})</div>

    <br>
    <div class="desc u-sm">{{spell.desc}}</div>
    <div *ngIf="spell.modifiers">
        <div *ngFor="let modifier of spell.modifiers">
            {{modifier.affects}} : +{{modifier.value}}
        </div>
    </div>
    <hr>

    <div class="col d-flex flex-justify-start flex-align-center">
        <select class="form-control" [(ngModel)]="magikSpent">
            <option value="0">Spend Add'l Magik</option>
            <option value="1" [disabled]="!hasMagik()">1</option>
            <option value="2" [disabled]="!hasMagik(2)">2</option>
            <option value="3" [disabled]="!hasMagik(3)">3</option>
            <option value="4" [disabled]="!hasMagik(4)">4</option>
            <option value="5" [disabled]="!hasMagik(5)">5</option>
        </select>
        <button mat-flat-button color="accent" [disabled]="!hasMagik()" (click)="spendMagik()">
            <mat-icon>check_circle</mat-icon>
        </button>
    </div>
    <hr>
    <div class="d-flex flex-justify-between flex-align-center">
        <button mat-flat-button color="accent" (click)="castSpell()">Cast</button>
        <button mat-flat-button color="accent" *ngIf="spell.xp" (click)="gainXP()">{{spell.xp}} XP</button>
    </div>
</div>
