<h4 class="d-flex flex-justify-between flex-align-center">
    <div class="col u-text--sc">Samurai Battle Tactics</div>
    <button mat-flat-button color="primary"
        (click)="openChooser()">New</button>
</h4>
<hr>
<div class="d-flex flex-justify-between flex-align-center">
    Fury: {{character.fury.current}} / {{maxFury}}
</div>
<hr>

<div class="m-grid flex-align-stretch no-pad">
    <div *ngFor="let tactic of character.tactics;let i=index;" class="card">
        <h5 class="d-flex flex-justify-between flex-align-end">
            <div>{{tactic.name}}  ({{tactic.type||'un-typed'}})</div>
            <div class="d-flex flex-justify-end flex-align-end">
                <button class="u-sm" mat-flat-button color="warn"
                    (click)="confirmingDelete(i,true)"
                    *ngIf="confirmingDelete(i)">
                    X
                </button>
                <div class="btn-group" *ngIf="confirmingDelete(i)">
                    <button class="u-sm" mat-flat-button color="primary" (click)="remove(i)">Y</button>
                    <button class="u-sm" mat-flat-button color="accent" (click)="confirmingDelete(i,false)">N</button>
                </div>
            </div>
        </h5>
        <div *ngIf="tactic.cost">
            <strong>Cost: </strong> {{tactic.cost}}
        </div>
        <div class="desc">{{tactic.desc}}</div>
        <div *ngIf="tactic.modifiers">
            <div *ngFor="let modifier of tactic.modifiers">
                {{modifier.affects}} : +{{modifier.value}}
            </div>
        </div>
        <hr>
        <div class="d-flex flex-justify-between flex-align-center">
            <button class="u-sm" mat-flat-button color="accent"
                (click)="spendFury(tactic.cost)">Cast</button>
        </div>
    </div>
</div>
