<h4 class="m-grid gutter flex-justify-between flex-align-center">
    <div class="col u-text--sc">Samurai Battle Tactics</div>
    <button mat-flat-button color="primary"
        (click)="openChooser()">New</button>
</h4>
<hr>
<div class="m-grid gutter flex-justify-between flex-align-center">
    Fury: {{character.fury.current}} / {{maxFury}}
</div>
<hr>

<div *ngFor="let tactic of character.tactics;let i=index;" class="card">
    <div class="m-grid gutter flex-justify-between flex-align-end">
        <div class="a-heading">{{tactic.name}}  ({{tactic.type||'un-typed'}})</div>
        <div class="m-grid gutter flex-justify-end flex-align-end">
            <button class="u-sm" mat-flat-button color="warn"
                (click)="confirmingDelete(i,true)"
                *ngIf="confirmingDelete(i)">
                <mat-icon>delete_forever</mat-icon>
            </button>
            <div class="btn-group" *ngIf="confirmingDelete(i)">
                <button class="u-sm" mat-flat-button color="warn" (click)="remove(i)"><mat-icon>check_circle</mat-icon></button>
                <button class="u-sm" mat-flat-button color="accent" (click)="confirmingDelete(i,false)"><mat-icon>not_interested</mat-icon></button>
            </div>
        </div>
    </div>
    <div *ngIf="tactic.cost">
        <strong>Cost: </strong> {{tactic.cost}}
    </div>
    <div class="desc">{{tactic.desc}}</div>
    <div *ngIf="tactic.modifiers">
        <div *ngFor="let modifier of tactic.modifiers">
            {{modifier.affects}} : +{{modifier.value}}
        </div>
    </div>
    <hr>
    <div class="m-grid gutter flex-justify-between flex-align-center">
        <button class="u-sm" mat-flat-button color="accent"
            (click)="spendFury(tactic.cost)">Cast</button>
    </div>
</div>
