<div class="modal-content">
  
    <div class="modal-body">

        <!-- <div class="input-group">
            <span class="input-group-addon">Name</span>
            <input type="text" class="form-control" ng-model="item.name" placeholder="Sermon Name">
        </div><br>

        <textarea rows="2" class="form-control" ng-model="item.desc" placeholder="Provide a description"></textarea>
        <br>

        <select class="form-control" ng-model="item.type">
            <option value="">Select Type</option>
            <option value="Blessing">Blessing</option>
            <option value="Judgement">Judgement</option>
        </select>
        <br>
        
        <div class="row">
            <div class="col-xs-6">
                <div class="input-group">
                    <span class="input-group-addon">Cost</span>
                    <input type="number" class="form-control" ng-model="item.cost" min="0">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="input-group">
                    <span class="input-group-addon">Check</span>
                    <input type="number" class="form-control" ng-model="item.check" min="0">
                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-xs-6">
                <div class="input-group">
                    <span class="input-group-addon">XP</span>
                    <input type="number" class="form-control" ng-model="item.xp" min="0">
                </div>
            </div>
            <div class="col-xs-6">
                <div>Deadly? <input type="checkbox" ng-model="item.deadly" id="isDeadly"> </div>
            </div>
        </div>
        <br>

        <div class="input-group">
            <span class="input-group-addon">Range</span>
            <input type="text" class="form-control" ng-model="item.range" placeholder="e.g, 6">
        </div> -->


        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#first" aria-controls="first" role="tab" data-toggle="tab">Basic</a>
            </li>
            <li role="presentation">
                <a href="#second" aria-controls="second" role="tab" data-toggle="tab">Adv</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="first">
                <br>

                <label>Name</label>
                <input type="text" class="form-control" ng-model="item.name" placeholder="Sermon Name">
                <br>

                <label>Description</label>
                <textarea rows="2" class="form-control" ng-model="item.desc" placeholder="Provide a description"></textarea>
                <br>

                <label>Type</label>
                <select class="form-control" ng-model="item.type">
                    <option value="">Select Type</option>
                    <option value="Blessing">Blessing</option>
                    <option value="Judgement">Judgement</option>
                </select>

            </div>
            <div role="tabpanel" class="tab-pane" id="second">
                <br>
                
                <div class="input-group">
                    <span class="input-group-addon">Cost</span>
                    <input type="number" class="form-control" ng-model="item.cost" min="0">
                </div>
                <br>

                <div class="input-group">
                    <span class="input-group-addon">Check</span>
                    <input type="number" class="form-control" ng-model="item.check" min="0">
                </div>
                <br>
        
                <div class="input-group">
                    <span class="input-group-addon">XP</span>
                    <input type="number" class="form-control" ng-model="item.xp" min="0">
                </div>
                <br>

                <div class="input-group">
                    <span class="input-group-addon">Range</span>
                    <input type="text" class="form-control" ng-model="item.range" placeholder="e.g, 6">
                </div>
                <br>

                <label>Deadly? <input type="checkbox" ng-model="item.deadly" id="isDeadly"> </label>
                <br>

            </div>
        </div>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-disabled="!item.name||!item.type" ng-click="ok()">Save</button>
    </div>
</div>
