<div class="sermon" ng-class="{disabled:!ctrl.isAvailable()}">
    <h5>
        {{sermon.name}} 
        <small>{{sermon.type}}</small>
    </h5>
    <p>
        <small>
            <div>
                <span ng-if="sermon.deadly">
                    <span class="glyphicon glyphicon-exclamation-sign" title="Dangerous!"></span>&nbsp;&nbsp;&nbsp;
                </span>
                <strong>[{{sermon.check}}+]</strong>&nbsp;&nbsp;&nbsp;
                <strong>Cost: </strong> {{sermon.cost}}&nbsp;&nbsp;&nbsp;
                <strong>XP: </strong> {{sermon.xp}}&nbsp;&nbsp;&nbsp;
            </div>
            <div><strong>Range: </strong> {{sermon.range}}</div>
            <div>{{sermon.desc}}</div>
       </small>
    </p>
    <div>
        <div class="pull-right">
            <button type="button" class="btn btn-sm btn-danger" ng-click="ctrl.remove()">
                <span class="glyphicon glyphicon-trash"></span>
            </button>&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-sm btn-default" ng-click="ctrl.edit()">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </div>
        <button type="button" class="btn btn-sm btn-info" 
            ng-if="ctrl.isAvailable()" ng-click="ctrl.use()">use</button>
        <button type="button" class="btn btn-sm btn-warning" 
            ng-if="ctrl.status.used" ng-click="ctrl.spendExtraFaith()">+faith</button>
    </div>
        
</div>