
<h4 class="d-flex flex-justify-between flex-align-end">
    <div class=" u-text--sc">Items</div>
    <div class="d-flex flex-align-center flex-justify-end u-sm">
        <span class="sprite sprite-item_weight"></span> {{totalWeight}}
        &nbsp;
        <span class="sprite sprite-item_darkstone"></span> {{totalDarkstone}}
        &nbsp;
        <button type="button" class="btn--add" (click)="addItem()">New</button>
    </div>
</h4>
<hr>

<div *ngFor="let item of items; let i = index" class="card">

    <h5 class="d-flex flex-justify-between flex-align-end">
        {{item.name}}
        <div class="d-flex flex-justify-end flex-align-end">
            <button type="button" class="u-sm" (click)="editItem(i)">edit</button>
            &nbsp;&nbsp;&nbsp;
            <button type="button" class="u-sm btn--del" (click)="confirmingDelete(i,true)">X</button>
            <div class="btn-group" *ngIf="confirmingDelete(i)">
                <button type="button" class="u-sm" (click)="removeItem(i)">Y</button>
                <button type="button" class="u-sm" (click)="confirmingDelete(i,false)">N</button>
            </div>
        </div>
    </h5>

    <div class="d-flex flex-justify-between flex-align-start u-sm">
        <span>{{item.source}}</span>
        <span *ngIf="item.keywords"><em>{{item.keywords}}</em></span>
    </div>

    <div class="desc" *ngIf="item.description">{{item.description}}</div>

    <div *ngIf="item.usage || item.cost"
        class="u-sm d-flex flex-justify-between flex-align-center">
        <div *ngIf="item.usage">Use per: {{item.usage}}</div>
        <div *ngIf="!item.usage">&nbsp;</div>
        <div *ngIf="item.cost">Cost: ${{item.cost}}</div>
    </div>

    <div *ngIf="item.modifiers && item.modifiers.length">
        <hr>
        <div *ngFor="let modifier of item.modifiers"  class="u-sm">
            {{modifier.affects}} : +{{modifier.value}}
        </div>
    </div>

    <div class="item__stats">
        <div [ngClass]="{faded:!item.weight}">
            <span class="sprite sprite-item_weight"></span> {{item.weight}}
        </div>
        <div [ngClass]="{faded:!item.darkstone}">
            <span class="sprite sprite-item_darkstone"></span> {{item.darkstone}}
        </div>
        <div [ngClass]="{faded:!item.hands}">
            <span class="sprite sprite-item_hands"></span> {{item.hands}}
        </div>
        <div [ngClass]="{faded:!item.slots}">
            <span class="sprite sprite-item_slots" ></span> {{item.slots}}
        </div>
    </div>


    <div class="d-flex flex-justify-between flex-align-center">
        <div>
            <button type="button"
                (click)="equipItem(item)"
                [ngClass]="{active:item.equipped}">Equip</button>
            <span *ngIf="item.slot">[{{item.slot}}]</span>
        </div>
        <button *ngIf="item.usage" type="button" class="btn--use"
            (click)="item.used=!item.used"
            [ngClass]="{active:item.used}">Use</button>
    </div>

</div>
