
<h4 class="d-flex flex-justify-between flex-align-end">
    <div class=" u-text--sc">Items</div>
    <div class="d-flex flex-align-center flex-justify-end u-sm">
        <span class="sprite sprite-item_weight"></span> {{totalWeight}}
        / {{weightLimit}}
        &nbsp;
        <span class="sprite sprite-item_darkstone"></span> {{totalDarkstone}}
        &nbsp;
        <button mat-flat-button color="primary" (click)="addItem()">New</button>
    </div>
</h4>
<hr>

<div class="m-grid flex-align-stretch no-pad">
    <item *ngFor="let item of items; let i = index" class="card"
        [item]="item"
        (onEvent)="onItemEvent($event, i)">
    </item>
</div>
