
:host {
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 0;

    &.is-collapsed {
        .item__metadata, .item__desc ,.item__actions { display: none; }

        .item__modifiers {

        }
        .item__stats {

        }
    }
}
@media(max-width:1023px) {
    :host {
        padding: 0.5em 1.5em;
    }
}


h3, h4, h5 {
    margin: 0;
}

.item__stats {
    display: flex;
    justify-content: space-between;

    border: 1px solid #bbb;
    border-radius: 4px;
    padding: 0.25em 1em;
    margin: 0.5em 0;
}

h5 > small {
    float: right;
    font-weight: 400;
}
h5:after { clear: right; }



.card {
    padding: 0.5em;
}
.card .desc {
    font-size: 0.875em;
    color: #555;
    text-align: justify;
}









.item__metadata {
    margin-bottom: 1em;
}
.item__desc {
    font-size: 0.875em;
    color: #555;
    text-align: justify;
    margin-bottom: 1em;
}
.item__modifiers {
    padding: 0 0 0.5em;
}
.item__stats {

}
.item__actions {

}
