<div class="modal-content">
    <div class="modal-header" style="background:#d0f5f7">
        <h5 class="modal-title">Edit Item</h5>
    </div>
    <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a data-target="#first" aria-controls="first" role="tab" data-toggle="tab">Basic</a>
            </li>
            <li role="presentation">
                <a data-target="#second" aria-controls="second" role="tab" data-toggle="tab">Adv</a>
            </li>
            <li role="presentation">
                <a data-target="#third" aria-controls="third" role="tab" data-toggle="tab">Stats</a>
            </li>
            <!-- <li role="presentation">
                <a href="#bonuses" aria-controls="bonuses" role="tab" data-toggle="tab">Bonuses</a>
            </li> -->
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="first">
                <br>
                <label>Name</label>
                <input type="text" class="form-control" ng-model="item.name" placeholder="Name">
                <br>
                <label>Description</label>
                <textarea rows="4" class="form-control" ng-model="item.description" placeholder="Provide a description"></textarea>
                <br>
                <label>Keywords</label>    
                <input type="text" class="form-control" ng-model="item.keywords" placeholder="Keywords">
            </div>
            <div role="tabpanel" class="tab-pane" id="second">
                <br>
                <label>Source</label>
                <input type="text" class="form-control" ng-model="item.source" placeholder="Source (eg, 'General Store' or 'Targa Plateau')">
                <br>
                <label>Use</label>
                <select class="form-control" ng-model="item.usage">
                    <option value="">N/A</option>
                    <option value="Turn">Turn</option>
                    <option value="Fight">Fight</option>
                    <option value="Adventure">Adventure</option>
                </select>
                <br>
                <label>Slot</label>
                <select type="text" class="form-control" ng-model="item.slot" 
                    ng-options="slot for slot in slots">
                    <option value="">Select Slot (optional)</option>
                </select>
            </div>
            <div role="tabpanel" class="tab-pane" id="third">
                <br>
                <label>Cost</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control" ng-model="item.cost" placeholder="Optionally, specify the cost">
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="input-group">
                            <span class="input-group-addon"><img src="assets/item_weight.png" height="16"></span>
                            <input type="number" min="0" ng-model="item.weight" class="form-control">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon"><img src="assets/item_darkstone.png" height="16"></span>
                            <input type="number" min="0" ng-model="item.darkstone" class="form-control">
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="input-group">
                            <span class="input-group-addon"><img src="assets/item_hands.png" height="16"></span>
                            <input type="number" min="0" ng-model="item.hands" class="form-control">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon"><img src="assets/item_slots.png" height="16"></span>
                            <input type="number" min="0" ng-model="item.slots" class="form-control">
                        </div>
                    </div>
                </div>   
                <br>
            </div>
            <!-- <div role="tabpanel" class="tab-pane" id="bonuses">
                <div class="f-container f-justify-between f-align-center f-row f-wrap">
                    <div class="f-cell f-cell-33p">
                        <div class="input-group">
                            <span class="input-group-addon">Ag</span>
                            <input class="form-control" type="number" min="-20" max="20" ng-model="item.bonuses.agility">
                        </div>
                    </div>
                    <div class="f-cell f-cell-33p">
                        <div class="input-group">
                            <span class="input-group-addon">Cu</span>
                            <input class="form-control" type="number" min="-20" max="20" ng-model="item.bonuses.cunning">
                        </div>
                    </div>
                    <div class="f-cell f-cell-33p">
                        <div class="input-group">
                            <span class="input-group-addon">Sp</span>
                            <input class="form-control" type="number" min="-20" max="20" ng-model="item.bonuses.spirit">
                        </div>
                    </div>
                    <div class="f-cell f-cell-33p">
                        <div class="input-group">
                            <span class="input-group-addon">St</span>
                            <input class="form-control" type="number" min="-20" max="20" ng-model="item.bonuses.strength">
                        </div>
                    </div>
                    <div class="f-cell f-cell-33p">
                        <div class="input-group">
                            <span class="input-group-addon">Lo</span>
                            <input class="form-control" type="number" min="-20" max="20" ng-model="item.bonuses.lore">
                        </div>
                    </div>
                    <div class="f-cell f-cell-33p">
                        <div class="input-group">
                            <span class="input-group-addon">Lu</span>
                            <input class="form-control" type="number" min="-20" max="20" ng-model="item.bonuses.luck">
                        </div>
                    </div>

                    <div class="f-cell f-cell-33p">
                        <div class="input-group">
                            <span class="input-group-addon">He</span>
                            <input class="form-control" type="number" min="-20" max="20" ng-model="item.bonuses.health">
                        </div>
                    </div>
                    <div class="f-cell f-cell-33p">
                        <div class="input-group">
                            <span class="input-group-addon">Sa</span>
                            <input class="form-control" type="number" min="-20" max="20" ng-model="item.bonuses.sanity">
                        </div>
                    </div>
                    <div class="f-cell f-cell-33p">
                        <div class="input-group">
                            <span class="input-group-addon">Co</span>
                            <input class="form-control" type="number" min="-20" max="20" ng-model="item.bonuses.combat">
                        </div>
                    </div>
                    
                    <div class="f-cell f-cell-33p">
                        <div class="input-group">
                            <span class="input-group-addon">Me</span>
                            <input class="form-control" type="number" min="-20" max="20" ng-model="item.bonuses.melee">
                        </div>
                    </div>
                    <div class="f-cell f-cell-33p">
                        <div class="input-group">
                            <span class="input-group-addon">Rg</span>
                            <input class="form-control" type="number" min="-20" max="20" ng-model="item.bonuses.ranged">
                        </div>
                    </div>
                    <div class="f-cell f-cell-33p">
                        <div class="input-group">
                            <span class="input-group-addon">In</span>
                            <input class="form-control" type="number" min="-20" max="20" ng-model="item.bonuses.init">
                        </div>
                    </div>
                    
                    <div class="f-cell f-cell-33p">
                        <div class="input-group">
                            <span class="input-group-addon">Mv</span>
                            <input class="form-control" type="number" min="-20" max="20" ng-model="item.bonuses.movement">
                        </div>
                    </div>
                    <div class="f-cell f-cell-33p">
                        <div class="input-group">
                            <span class="input-group-addon">Df</span>
                            <input class="form-control" type="number" min="-20" max="20" ng-model="item.bonuses.defense">
                        </div>
                    </div>
                    <div class="f-cell f-cell-33p">
                        <div class="input-group">
                            <span class="input-group-addon">Wp</span>
                            <input class="form-control" type="number" min="-20" max="20" ng-model="item.bonuses.willpower">
                        </div>
                    </div>
                </div>
            </div> -->
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-disabled="!item.name" ng-click="ok()">Apply</button>
    </div>
</div>
