<div class="modal-content item-editor">
    <div class="modal-header" style="background:#d0f5f7">
        <h5 class="modal-title">Edit Item</h5>
    </div>
    <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a data-target="#first" aria-controls="first" role="tab" data-toggle="tab">Basic</a>
            </li>
            <li role="presentation">
                <a data-target="#second" aria-controls="second" role="tab" data-toggle="tab">Adv</a>
            </li>
            <li role="presentation">
                <a data-target="#third" aria-controls="third" role="tab" data-toggle="tab">Stats</a>
            </li>
            <li role="presentation">
                <a data-target="#fourth" aria-controls="fourth" role="tab" data-toggle="tab">Mods</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="first">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control input-sm" ng-model="$ctrl.item.name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea rows="3" class="form-control input-sm" ng-model="$ctrl.item.description" 
                        placeholder="Provide a description">
                    </textarea>
                </div>
                <div class="form-group">
                    <label>Keywords</label>    
                    <input type="text" class="form-control input-sm" ng-model="$ctrl.item.keywords" placeholder="Keywords">
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="second">
                <div class="form-group">
                    <label>Source</label>
                    <input type="text" class="form-control input-sm" ng-model="$ctrl.item.source" placeholder="Source (eg, 'General Store' or 'Targa Plateau')">
                </div>
                <div class="form-group">
                    <label>Use</label>
                    <select class="form-control input-sm" ng-model="$ctrl.item.usage">
                        <option value="">N/A</option>
                        <option value="Turn">Turn</option>
                        <option value="Fight">Fight</option>
                        <option value="Adventure">Adventure</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Clothing Slot</label>
                    <select type="text" class="form-control input-sm" ng-model="$ctrl.item.slot" 
                        ng-options="slot for slot in $ctrl.slots">
                        <option value="">Select Slot (optional)</option>
                    </select>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="third">
                <div class="form-group">
                    <label>Cost</label>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" ng-model="$ctrl.item.cost" placeholder="Optionally, specify the cost">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><img src="assets/img/item_weight.png" height="16"></span>
                                <input type="number" min="0" ng-model="$ctrl.item.weight" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><img src="assets/img/item_darkstone.png" height="16"></span>
                                <input type="number" min="0" ng-model="$ctrl.item.darkstone" class="form-control">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><img src="assets/img/item_hands.png" height="16"></span>
                                <input type="number" min="0" ng-model="$ctrl.item.hands" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><img src="assets/img/item_slots.png" height="16"></span>
                                <input type="number" min="0" ng-model="$ctrl.item.slots" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>   
                <br>
            </div>
            <div role="tabpanel" class="tab-pane" id="fourth">
                <h6 class="f-container f-row f-justify-between f-align-end">
                    Modifiers
                    <button type="button" class="btn btn-sm btn-success" 
                        ng-click="$ctrl.addModifier()">&plus;</button>
                </h6><br>
                <div class="form-group f-container f-row f-align-center f-justify-between" 
                    ng-repeat="(id,modifier) in $ctrl.item.modifiers">
                    <div class="f-cell-50p" id="modifier-{{id}}">
                        <select class="form-control input-sm" ng-model="modifier.affects">
                            <option value="">Select</option>
                            <option value="Agility">Agility</option>
                            <option value="Cunning">Cunning</option>
                            <option value="Spirit">Spirit</option>
                            <option value="Strength">Strength</option>
                            <option value="Lore">Lore</option>
                            <option value="Luck">Luck</option>
                            <option value="init">Initiative</option>
                            <option value="move">Movement</option>
                            <option value="combat">Combat</option>
                            <option value="health">Max Health</option>
                            <option value="sanity">Max Sanity</option>
                            <option value="corruption">Max Corruption</option>
                            <option value="grit">Max Grit</option>
                            <option value="faith">Max Faith</option>
                            <option value="armor">Armor</option>
                            <option value="spiritArmor">Spirit Armor</option>
                            <option value="defense">Defense</option>
                        </select>
                    </div>
                    <div class="f-cell-25p">
                        <input type="number" min="-10" ng-model="modifier.value" class="form-control input-sm" placeholder="0">
                    </div>
                    <div class="f-cell">
                        <button type="button" class="btn btn-sm btn-danger" ng-click="$ctrl.removeModifier(id)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </div>
                <br>
            </div>
            
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$ctrl.cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-disabled="!$ctrl.item.name" ng-click="$ctrl.ok()">Apply</button>
    </div>
</div>
