<div class="item usage-{{$ctrl.item.usage|lowercase}}">
    
    <div class="f-container f-justify-between f-align-center">

        <div class="f-cell-1x">
            <button type="button" class="btn btn-xs btn-default" ng-if="$ctrl.canEquip"
                ng-click="$ctrl.toggleEquipped()" ng-class="{active:$ctrl.item.equipped}">
                <span class="glyphicon" 
                    ng-class="{'glyphicon-check':$ctrl.item.equipped,'glyphicon-unchecked':!$ctrl.item.equipped}">
                </span>
            </button>
            <strong>{{$ctrl.name}}</strong>
            <small>
                <em>
                    <span ng-if="$ctrl.item.slot">[{{$ctrl.item.slot}}]</span> 
                    <span ng-if="$ctrl.item.source">{{$ctrl.item.source}}</span>
                    &nbsp;
                    <span ng-if="$ctrl.item.cost">${{$ctrl.item.cost}}</span>
                </em>
            </small>
        </div>
        <div>
            <div class="btn-group" ng-if="$ctrl.confirmingDelete">
                <button type="button" class="btn btn-xs btn-success" ng-click="$ctrl.remove()">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button type="button" class="btn btn-xs btn-default" ng-click="$ctrl.confirmingDelete=false">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                </button>     
            </div>
            <button ng-if="!$ctrl.confirmingDelete"
                type="button" class="btn btn-xs btn-danger" ng-click="$ctrl.confirmingDelete=true">
                <span class="glyphicon glyphicon-trash"></span>
            </button>&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-xs btn-default" ng-click="$ctrl.edit()">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </div>
    </div>
    
    <div ng-if="$ctrl.item.description"><small>{{$ctrl.item.description}}</small></div>

    <div class="f-container f-justify-between f-align-start">
        <div class="f-cell-1x">
            <small ng-if="$ctrl.item.keywords"><em>{{$ctrl.item.keywords}}</em></small>
        </div>
        <div ng-if="$ctrl.item.usage">
            <input type="checkbox" 
                ng-model="$ctrl.used"
                ng-change="$ctrl.toggleUsed()"> 
            <small>(per {{$ctrl.item.usage}})</small>
        </div>
    </div>
    
    <div class="f-container f-justify-between f-align-center">
        <div><span class="sprite sprite-item_weight" ng-class="{disabled:!$ctrl.item.weight}"></span> 
            {{$ctrl.item.weight}}</div>
        <div><span class="sprite sprite-item_darkstone" ng-class="{disabled:!$ctrl.item.darkstone}"></span> 
            {{$ctrl.item.darkstone}}</div>
        <div><span class="sprite sprite-item_hands" ng-class="{disabled:!$ctrl.item.hands}"></span> 
            {{$ctrl.item.hands}}</div>
        <div><span class="sprite sprite-item_slots" ng-class="{disabled:!$ctrl.item.slots}"></span> 
            {{$ctrl.item.slots}}</div>
    </div>
</div>