<div class="items">
    
    <br>
    <h4>
        <button type="button" class="btn btn-success pull-right" ng-click="add()">Add</button>
    
        Items 
        <small>
            <span class="sprite sprite-item_weight"></span> {{itemWeight}} &nbsp;
            <span class="sprite sprite-item_darkstone"></span> {{itemDarkstone}}
        </small>
    </h4>

    <div ng-repeat="(name, item) in character.items" item="item" name="{{name}}" on-save="onEdited(name, item)"></div>

    <hr>

    
</div>