<div class="items-panel">
    
    <div class="items">
        <br>
        <h4>
            <button type="button" class="btn btn-success pull-right" ng-click="add()">Add</button>    
            Items 
            <small>
                <span class="sprite sprite-item_weight"></span> {{itemWeight}} &nbsp;
                <span class="sprite sprite-item_darkstone"></span> {{itemDarkstone}}
            </small>
        </h4>
        <hr>
        <div ng-repeat="(name, item) in character.items">
            <item item="item" name="{{name}}" 
                on-save="onEdited(name, item)"
                on-toggle="toggleEquipped(name)"
                can-equip="canEquip(item)">
            </item>
        </div>
        <hr>
    </div>


    <!-- <div class="clothing">
        <br>
        <br>
        <h4>Clothing</h4>
        <div ng-repeat="slot in ['hat','face','shoulders','coat','torso','belt','pants','gloves','boots']">
            <label>{{slot}}</label>
            <select class="form-control"
                ng-model="character.clothing[slot]" 
                ng-change="onClothingChange(slot)"
                ng-options="item as item.name for item in getClothingOptions(slot) track by item.name">
                <option value="">Equip Slot</option>
            </select>
            <br>
        </div>

    </div> -->


</div>