<div class="container">

    <div class="alert alert-danger" ng-if="ctrl.displayOpts.error">{{ctrl.displayOpts.error}}</div>
    
    <div ng-if="ctrl.displayOpts.loading">Fetching data...</div>
    
    <div class="list-group">
        <div class="list-group-item disabled">
            <h4 class="list-group-item-heading">Characters</h4>
            <p class="list-group-item-text">Select a character from the list</p>
        </div>
        <div class="list-group-item" ng-if="!user"><em>Login to select from your available characters</em></div>
        <div ng-repeat="(id, obj) in ctrl.chars" class="list-group-item">
            <div class=" pull-right">
                <a href="#/{{id|encode}}" class="btn btn-sm btn-default">Version 1</a>
                <button type="button" class="btn btn-sm btn-danger"
                    ng-click="ctrl.removeCharacter(id)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
            <a href="v2.html#/{{id|encode}}">
                {{obj.name}} 
                <small ng-if="obj.className"><strong>[{{obj.className}}]</strong></small>
            </a>
            
        </div>
    </div>

    <div class="f-container">
        <div class="f-cell-2x">
            <select class="form-control" 
                ng-model="ctrl.newCharClass" 
                ng-options="item.id as item.name for item in ctrl.classOptions">
                <option value="">Create a New Character</option>
            </select>
        </div>
        <button type="button" class="btn btn-primary" ng-click="ctrl.createCharacter()">Create</button>
    </div>

</div>