<div class="container">

    <div class="alert alert-danger" ng-if="ctrl.displayOpts.error">{{ctrl.displayOpts.error}}</div>
    

    <!-- creation -->
    <div ng-if="ctrl.displayOpts.creating" class="list-group">
        <div class="list-group-item">
            <span class="glyphicon glyphicon-hourglass spin"></span> 
            Creating {{ctrl.displayOpts.creating}}<br>
            <small>Please wait, this may take up to 30 seconds on some devices.</small>
        </div>
    </div>
    <div ng-if="user" class="list-group">
        <div class="list-group-item disabled">
            <h5 class="list-group-item-heading">Create a New Character</h5>
        </div>
        <div class="list-group-item f-container f-column-xs f-row-sm f-align-stretch-xs f-align-center-sm has-gutter">
            <div class="f-cell-1x">
                <input class="form-control" ng-model="ctrl.newCharName" placeholder="Name the character">
            </div>
            <div class="f-cell-1x">
                <select class="form-control" 
                    ng-model="ctrl.newCharClass" 
                    ng-options="item.id as item.name for item in ctrl.classOptions">
                    <option value="">Select character class</option>
                </select>
            </div>
            <div>
                <button type="button" class="btn btn-primary" 
                    ng-disabled="!ctrl.newCharClass||!ctrl.newCharName"
                    ng-click="ctrl.createCharacter()">Create</button>
            </div>
        </div>
    </div>
    

    <!-- listing -->
    <div ng-if="ctrl.displayOpts.loading" class="list-group">
        <div class="list-group-item">Fetching data...</div>
    </div>
    <div class="list-group">
        <div class="list-group-item disabled">
            <h5 class="list-group-item-heading">Characters</h5>
            <p class="list-group-item-text"><small>Select a character from the list</small></p>
        </div>
        <div class="list-group-item" ng-if="!user"><em>Login to select from your available characters</em></div>
        <div ng-repeat="char in ctrl.chars" class="list-group-item">
            <home-char character="char" on-delete="ctrl.removeCharacter(name)"></home-char>
        </div>
    </div>

</div>