<div class="container">

    <div class="alert alert-danger" ng-if="ctrl.displayOpts.error">{{ctrl.displayOpts.error}}</div>
    
    <div ng-if="ctrl.displayOpts.loading">Fetching data...</div>
    
    <div class="list-group">
        <div class="list-group-item disabled">
            <h4 class="list-group-item-heading">Characters</h4>
            <p class="list-group-item-text">Select a character from the list</p>
        </div>
        <div class="list-group-item" ng-if="!user"><em>Login to select from your available characters</em></div>
        <div ng-repeat="char in ctrl.chars" class="list-group-item f-container f-row f-justify-between">
            <a href="#/{{char.id|encode}}" class="f-cell f-container f-align-center">
                {{char.name}} &nbsp;&nbsp;&nbsp;
                <small ng-if="char.className">level {{char.level}} <strong>{{char.className}}</strong></small>
            </a>
            <div>
                <!-- <a href="#/{{char.id|encode}}" class="btn btn-sm btn-default">Version 1</a> -->
                
                <!-- <button type="button" class="btn btn-sm btn-danger"
                    ng-click="ctrl.removeCharacter(char.id)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button> -->

                <div class="btn-group" ng-if="ctrl.confirmDelete[char.id]">
                    <button type="button" class="btn btn-sm btn-success" 
                        ng-click="ctrl.removeCharacter(char.id)">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" class="btn btn-sm btn-default" 
                        ng-click="ctrl.confirmDelete[char.id]=false">
                        <span class="glyphicon glyphicon-ban-circle"></span>
                    </button>     
                </div>
                <button ng-if="!ctrl.confirmDelete[char.id]"
                    type="button" class="btn btn-sm btn-danger" 
                        ng-click="ctrl.confirmDelete[char.id]=true">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="f-container">
        <div class="f-cell-2x">
            <select class="form-control" 
                ng-model="ctrl.newCharClass" 
                ng-options="item.id as item.name for item in ctrl.classOptions">
                <option value="">Create a New Character</option>
            </select>
        </div>
        <button type="button" class="btn btn-primary" ng-click="ctrl.createCharacter()">Create</button>
    </div>

</div>