<div [@dialog] *ngIf="visible" class="dialog">
    <div class="dialog__body">
        <div *ngFor="let sermon of options"
            class="c-option--available"
            [ngClass]="{'is-selected':isChosen(sermon)}">
            <h5>{{sermon.name}}</h5>
            <div>{{sermon.desc}}</div>
            <div class="col" *ngIf="sermon.requires">
                <strong>Requires</strong> <em>{{sermon.requires}}</em>
            </div>
            <button type="button" class="btn btn--use"
                *ngIf="!sermon.disabled"
                (click)="choose(sermon)">
                <span>{{isChosen(sermon)?'Unselect':'Choose'}}</span>
            </button>
        </div>
    </div>
    <div class="d-flex flex-justify-end">
        <button type="button" (click)="close()" aria-label="Close">Cancel</button>
        <button type="button" aria-label="Apply"
            [disabled]="!hasSelection()"
            (click)="apply()">Apply</button>
    </div>
</div>
