<h5 mat-dialog-title>Choose Sermon</h5>
<div mat-dialog-content>
    <div *ngFor="let sermon of options"
        class="c-option--available"
        [ngClass]="{'is-selected':isChosen(sermon)}"
        (click)="choose(sermon)">

        <div class="a-heading">
            <mat-icon>{{isChosen(sermon)?'check_box':'check_box_outline_blank'}}</mat-icon>
            {{sermon.name}}
            <span *ngIf="sermon.deadly" class="icon-deadly">!</span>
        </div>
        <div class="u-sm">
            <div class="d-flex flex-justify-between flex-align-center">
                <div><strong>Check: </strong> [{{sermon.check}}+]</div>
                <div><strong>Cost: </strong> {{sermon.cost}}</div>
                <div><strong>XP: </strong> {{sermon.xp}}</div>
            </div>
            <div>{{sermon.desc}}</div>
            <div class="col" *ngIf="sermon.requires">
                <strong>Requires</strong> <em>{{sermon.requires}}</em>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions class="d-flex flex-justify-end flex-align-center">
    <a mat-flat-button color="accent" (click)="close()" aria-label="Close">Cancel</a>
    &nbsp;&nbsp;&nbsp;
    <a mat-flat-button color="primary" [mat-dialog-close]="selection"
        aria-label="Apply"
        [disabled]="!selection">
        Apply
    </a>
</div>
