
<div class="c-login">

    <div class="card">

        <div>
            <label for="userEmail">Email*</label>
            <input class="form-control" [(ngModel)]="email" type="email" required name="userEmail">
        </div>
        <br>
        <div>
            <label for="userPassword">Password</label>
            <input class="form-control" [(ngModel)]="password" type="password" required name="userPassword">
        </div>

        <div *ngIf="message" class="t-fg--danger">
            <br>
            {{message}}
            <br>
        </div>

        <br>
        <hr>
        <br>

        <div class="d-flex flex-justify-between flex-align-center">
            <button type="button" (click)="resetPassword()">Reset Password</button>
            <button type="button" class="btn--use" (click)="login()">Login</button>
        </div>
    </div>
</div>
