
<div class="c-login">

    <div class="card">

        <mat-form-field>
            <mat-label>Email Address</mat-label>
            <input matInput [(ngModel)]="email" type="email" required name="userEmail">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="password" type="password" required name="userPassword">
        </mat-form-field>

        <div *ngIf="message" class="t-fg--danger">
            <br>
            {{message}}
            <br>
        </div>

        <br>
        <br>

        <div class="m-grid gutter flex-justify-between flex-align-center">
            <button type="button" (click)="resetPassword()"
                [disabled]="!email||!email.length">
                Reset Password
            </button>
            <button type="button" class="btn--use" (click)="login()"
                [disabled]="!email||!password">
                Login
            </button>
        </div>
    </div>
</div>
