
/* 'rockwell-condensed-bold','Roboto Slab' */

html{
    font-size: 16px;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

h6 { font-size: 0.85rem; }
h5 { font-size: 1rem; }
h4 { font-size: 1.25rem; }
h3 { font-size: 1.5rem; }
h2 { font-size: 1.75rem; }
h1 { font-size: 2rem; }


img { width: 100%; }
.input-group-addon > img { width: auto; }






body {
    font-size: 1rem;
    background: #E9E3CD;
}
body .navbar.navbar-default {
    background: #725746;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
body .navbar>.container .navbar-brand, 
body .navbar>.container-fluid .navbar-brand {
    color: #fff;
    text-shadow: 0 0 12px #000;
}

[ng-view] { height: 100%; width: 100%; }

[ng-view] > .container {
    margin-top: 70px;
}


/* layout components */

.page {
    height: 100%; 
    width: 100%;
    padding-top: 57px;
}
@media(min-width:768px) {
    .page {
        padding-top: 52px;
    }
}

.char__header { 
    position: relative;
    background: #fff;
    border-bottom: 1px solid #bbb;
    padding: 0.75em;

    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;

    font-size: 0.875em;
}
.char__header .char__name { 
    flex: 100%; 
    height: 2em;  
}

.char__header > div {
    padding: 0; 
    height: 2em;
    flex: 1;
}
.char__header .editable-input-display {
    height: 2em;
    vertical-align: middle;
    padding-top: 4px;
}
.char__header [class*=grid__col-] {
    padding: 0;
}

.char__header .form-control.editable-input-field {
    height: 2em;
}
.char__header .form-group .grid__col--grow-2 {
    flex: 2;
}


.char__header > .btn {
    position: absolute;
    top: .5em;
    right: 1em;
}

.char__header > .editable-input { display: none; }
.char__header.expanded > .editable-input { display: initial; }


@media(min-width: 768px) {
    .char__header { 
        flex-direction: row;
        flex-wrap: none; 
    }
    .char__header .char__name { 
        flex: auto; 
    }
    .char__header > div {
        padding: 0 1em; 
    }

    .char__header > .btn { display:none; }   
    .char__header > .editable-input { display: initial; }
}





.char__panel { 
    flex: 1; 
    overflow: auto; 
    padding: 0 0.5em 1em;
}

/*
.char__panel.ng-enter, 
.char__panel.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.char__panel.ng-enter,
.char__panel.ng-leave.ng-leave-active {
    opacity:0;
}

.char__panel.ng-leave,
.char__panel.ng-enter.ng-enter-active {
    opacity:1;
}
*/




.message-display {
    position: absolute;
    bottom: 3em;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(255,255,255,0.75);
    color: #777;
    padding: 0.5em;
    z-index: 3000;
    opacity: 1;
}
.message-display.is-error { 
    background: #f00;
    color: #fff;
}
/*.message-display.ng-enter, */
.message-display.ng-leave {
    transition:all ease-out 0.5s;
}

.message-display.ng-enter,
.message-display.ng-leave.ng-leave-active {
    opacity:0;
}

.message-display.ng-leave,
.message-display.ng-enter.ng-enter-active {
    opacity:1;
}




.char__footer { 
    text-align: center; 
    background: #000; 
}


header {
    padding: 1rem;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    header { margin-bottom: 0; }
}

body .navbar-default .navbar-nav>li>a {
    color: #fff;
}






/* ------------ footer --------------- */

.char__footer button {
    color: #fff;
    cursor: pointer;
    height: 44px;
    width: 100%;
    background-color: #333;
    border: none;
}
.char__footer button.active {
    background-color: #4578cc;
}




/* ------------ sections -------------- */

.avatar {
    width:      100px;
    max-height: 200px;
    overflow:   hidden;
}
@media(min-width: 768px) {
    .avatar { width: 150px; }
}

.attributes { 
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.combat, .health, .sanity, .other, .general {
    border: 4px solid #E9E3CD;
    background-image: url(texture.png);
}
@media(min-width:768px) {
    .combat, .health, .sanity, .other, .general {
        border: 8px solid #E9E3CD;
    }
}

.combat, .health, .sanity, .faith, .corruption, .grit {
    padding: 0.5em 0;
}
.combat { background-color: #bbb; }
.health { background-color: #C24E4E; }
.sanity { background-color: #81A0D3; }

.faith, .corruption, .grit {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.faith { 
    background-color: yellow;     
    text-align: center;
}
.corruption { 
    background-color: #58A932;     
    padding: 0.5em 0;
}
.grit { 
    background-color: #9c7a3f;     
    padding: 0.5em 0;
}

/*vertical section*/
.general.f-container { 
    background-color: #d2c77d; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-around;
    flex-wrap: wrap;
}
/* phone */
.general .f-cell {
    margin: 0.5em 0;
}
/* tablet portrait */
@media(min-width: 768px) {
    .general .f-cell {
        flex: 50%;
        text-align: center;
        margin: 0;
    }
}
/* tablet landscape / desktop */
@media(min-width: 992px) {
    .general .f-cell {
        margin: 0.5em 0;
    }
}


@media(min-width:768px) {
    .combat, .health, .sanity{
        padding: 1em 0;
    }
    .other { 
        align-items: center;
    }
    .faith, .corruption, .grit {
        flex: 1;
        padding: 1em 0;
    }
}

.combat, .health, .sanity, .other {
    flex-basis: 100%;
}
@media(min-width:992px) {
    .combat, .health, .sanity, .other {
        flex-basis: 50%;
        align-items: center!important;
    }
    .combat { order: 1; }
    .other { order: 3; }
    .health { order: 2; }
    .sanity { order: 4; }

    .general.f-container { 
        padding: 0 1em;
        flex-direction: row;
        flex-wrap: wrap; 
        align-items: center; 
        justify-content: space-around;
    }
}


/* Sidebag */
.sidebag__option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    margin: 0.25em 1em;
}
@media(min-width: 768px) {
    .sidebag__option {
        flex-basis: 45%;
    }
}
@media(min-width: 992px) {
    .sidebag__option {
        flex-basis: 30%;
    }
}

.sidebag__option label  {
    flex: 1;
}
.sidebag__option .input-group {
    width: 128px;
}
.sidebag__option .input-group-btn .btn {
    opacity: 0.75;
}

.option__display {
    display: inline-block;
    width: 32px;
    text-align: center;
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 0.3em 0;
}
.sidebag__option .btn:not(:last-child) {
    border-radius: 4px 0 0 4px;
    background-color: #eee;
}
.sidebag__option .btn:last-child {
    border-radius: 0 4px 4px 0;
    background-color: #ccc;
}






/* ---------- flex ------------ */
.f-container { 
    display: flex; 
    align-items: stretch;
    justify-content: space-between;
}

.f-column { flex-direction: column; }
.f-row { flex-direction: row; }

.f-wrap { flex-wrap: wrap; }
.f-wrap-reverse { flex-wrap-reverse; }

.f-align-start { align-items: flex-start; }
.f-align-end { align-items: flex-end; }
.f-align-center { align-items: center; }
.f-align-stretch { align-items: stretch; }

.f-justify-start { justify-content: flex-start; }
.f-justify-end { justify-content: flex-end; }
.f-justify-around { justify-content: space-around; }
.f-justify-between { justify-content: space-between; }

.f-cell { }
.f-cell-2x { flex-grow: 2; }

.f-cell-25p { flex-basis: 25%; }
.f-cell-50p { flex-basis: 50%; }
.f-cell-75p { flex-basis: 75%; }
.f-cell-33p { flex: 33%; }



.grid { 
    display: flex;
}
[class*=grid__col-] {
    flex: 1;
}




/* --------- STAT ------------- */


.has-stat-with-max {
    width: 110px;
    text-align: center;
}


.stat {
    position:   relative;
    display:    inline-block;
    width:      64px;
    height:     64px;
    text-align: center;
    vertical-align: top;
}
.stat label {
    position: absolute;
    bottom:      0;
    left:        0;
    right:       0;
    margin-bottom: 0;
    line-height: 0.9;
    color:       #000;
    text-shadow: 0 1px 0 #fff;
    font-size: 0.75em;
    z-index: 3;
}
.stat.stat-label-top label {
    top: 0;
    height: 10px;
    font-size: 1em;
}
.stat .value {
    position: relative;
    font-size:   2em;
    margin:      0;
    padding-top: 0.25em;
    width:       100%;
    height:      100%;
    border-radius: 100%; 
    background:  #fff;
    border: 1px solid #777;
    z-index: 2;
}

.stat .stat {
    position:   absolute;
    top: -10px;
    right: -22px;
    width: 36px;
    height: 36px;
    z-index: 1;
}
.stat .stat .value {
    font-size: 1em;
    /*box-shadow: 0 1px 3px #000;*/
    border: 1px solid #333;
    padding-top: 0.4em;
    background: #666;
    color: #fff;
    font-weight: 700;
}


.stat img {
    position:   absolute;
    bottom:     -12px;
    left:       -12px;
    width:      2em;
    z-index: 2;
}

.stat .sprite {
    position: absolute;
    bottom: -12px;
    left:   -12px;
    z-index: 2;
}

.stat.stat--with-plus [editable-stat-value]:after {
    content: "+";
    font-size: 0.75em;
    position: absolute;
    right: 0;
    top: 16%;
}
.stat.stat--prepend-plus [editable-stat-value]:before {
    content: "+";
    font-size: 0.75em;
    position: absolute;
    left: 0;
    top: 16%;
}

.stat .value.value--sm {
    font-size:   1rem;
    padding-top: 35%;
}

.attributes .f-cell-33p { 
    text-align: center;
}
@media (min-width:768px) {
    .attributes .stat {
        width:      96px;
        height:     96px;
        font-size: 1.5em;
    }
}
/*@media (min-width:992px) {
    .attributes .stat {
        width:      96px;
        height:     96px;
    }
}*/

/* ----------------------------- */







/* ---------- ITEMS ------------ */


.ability, .item, .clothing-item, .sermon, .mutation {
    background: rgba(255,255,255,0.85);
    margin: 0.25em 0;
    padding: 0.5em;
    border-radius: 0.25em;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}


.item, .clothing-item, .ability, .sermon, .mutation {
    /*border-bottom: 1px solid #bbb;*/
    /*padding: 1em 0;*/
}

.item.usage-adventure {
    border-left: 4px solid #000;
}
.item.usage-fight {
    border-left: 4px solid #0f0;
}
.item.usage-turn {
    border-left: 4px solid #0f0;
}

.items-panel, .sermons-container {
    display: flex;
    flex-direction: column;
}

[clothing-2] {
    margin-top: 36px;
}

@media(min-width:768px) {
    .items-panel, .sermons-container {
        flex-direction: row;
        justify-content: space-between;
    }
    [items], [clothing-2], .sermons-container>* {
        flex-basis: 48%;
        margin-top: 0;
    }
}



.modal-body #bonuses .input-group {
    margin: 0.33em;
}




/* --------------------------------- *\
    Keypad Modal
\* --------------------------------- */

.keypad .modal-body {
    text-align: center;
}
.keypad .modal-body button {
    font-size:  0.8em;
    width:      4em;
    height:     4em;
    margin:     0.5em;
    padding:    0.325em 0.5em;
    -webkit-appearance: none;
    -webkit-border-radius: 4px;
}
.keypad .modal-body .manual-entry {
    width: 17em;
    margin: 0 auto;
}
.keypad .modal-body .manual-entry input {
    text-align: center;
}








/* --------------------------------- *\
    Editable Input directive
    <editable-input />
\* --------------------------------- */

.editable-input-label {
    /*width: 33%;*/
}

.editable-input-label:after {
    content: ":";
    font-weight: inherit;
}


.editable-input-display { 
    display: inline-block; 
    min-width: 6rem;
    word-break: break-word;
    cursor: text;
    border-bottom: 1px dashed rgba(0, 153, 255,0.3);
    color: #333;

}

.editable-input form {
    position:relative;
    display: inline-block;
    width: 70%;
}
.editable-input form .form-group {
    margin-bottom: 0;
}

.editable-input form .editable-input-buttons {
    padding-top: 0.25rem;
}









/* --------------------------------- *\
    Image Selector directive
    <img-selector />
\* --------------------------------- */
.img-selector {
    position:   relative;
    display:    block;
    width:      100%;
}
.img-selector .image { 
    width: 100%;
} 
.img-selector .image img {
    width:      100%;
}
.img-selector .image button {
    position: absolute;
    bottom: 0;
    left: 0;
}
@media (min-width: 768px) {
    .img-selector .image img {
        max-height: 300px;
        max-width:  200px;
    }
}











/* ----------- SPRITES ------------- */

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: bottom;
}

.sprite-bandages {
    width: 55px;
    height: 55px;
    background-position: -5px -5px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-cigar, .sprite-cigars {
    width: 55px;
    height: 55px;
    background-position: -70px -5px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-corruption {
    width: 56px;
    height: 56px;
    background-position: -135px -5px;
    zoom: 0.5;
    -moz-transform: scale(0.6);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.6);
    -o-transform-origin: 0 0;
}

.sprite-dynamite {
    width: 55px;
    height: 55px;
    background-position: -200px -5px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-exoticHerbs {
    width: 55px;
    height: 54px;
    background-position: -5px -70px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-flash {
    width: 55px;
    height: 55px;
    background-position: -70px -70px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-fungus {
    width: 55px;
    height: 55px;
    background-position: -135px -70px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-hatchet, .sprite-hatchets {
    width: 55px;
    height: 55px;
    background-position: -200px -70px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-herb, .sprite-herbs {
    width: 55px;
    height: 55px;
    background-position: -5px -135px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-item_darkstone {
    width: 55px;
    height: 55px;
    background-position: -70px -135px;
    zoom: 0.3;
    -moz-transform: scale(0.4);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.4);
    -o-transform-origin: 0 0;
}

.sprite-item_hands {
    width: 55px;
    height: 55px;
    background-position: -135px -135px;
    zoom: 0.3;
    -moz-transform: scale(0.4);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.4);
    -o-transform-origin: 0 0;
}

.sprite-item_slots {
    width: 55px;
    height: 55px;
    background-position: -200px -135px;
    zoom: 0.3;
    -moz-transform: scale(0.4);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.4);
    -o-transform-origin: 0 0;
}

.sprite-item_weight {
    width: 55px;
    height: 55px;
    background-position: -5px -200px;
    zoom: 0.3;
    -moz-transform: scale(0.4);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.4);
    -o-transform-origin: 0 0;
}

.sprite-oil, .sprite-lanternOil {
    width: 55px;
    height: 55px;
    background-position: -70px -200px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-potion, .sprite-potions {
    width: 55px;
    height: 55px;
    background-position: -135px -200px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-sanity {
    width: 56px;
    height: 56px;
    background-position: -200px -200px;
    zoom: 0.5;
    -moz-transform: scale(0.6);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.6);
    -o-transform-origin: 0 0;
}

.sprite-spice, .sprite-spices {
    width: 55px;
    height: 55px;
    background-position: -265px -5px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-tequila {
    width: 55px;
    height: 55px;
    background-position: -265px -70px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-tonic {
    width: 55px;
    height: 55px;
    background-position: -265px -135px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-wealth {
    width: 55px;
    height: 55px;
    background-position: -265px -200px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-whiskey {
    width: 55px;
    height: 55px;
    background-position: -5px -265px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-wound {
    width: 56px;
    height: 56px;
    background-position: -70px -265px;
    zoom: 0.5;
    -moz-transform: scale(0.6);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.6);
    -o-transform-origin: 0 0;
}

.sprite-xp {
    width: 56px;
    height: 56px;
    background-position: -135px -265px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite.disabled { opacity: 0.25; }

/* ------------------------------------- */