
/* --------------------------------- *\
    Basic page structure
\* --------------------------------- */

html{
    font-size: 16px;
}

h6 { font-size: 0.85rem; }
h5 { font-size: 1rem; }
h4 { font-size: 1.25rem; }
h3 { font-size: 1.5rem; }
h2 { font-size: 1.75rem; }
h1 { font-size: 2rem; }


body {
    font-size: 1rem;
    background: #E9E3CD;
}
body .navbar.navbar-default {
    background: #725746;
}
body .navbar>.container .navbar-brand, 
body .navbar>.container-fluid .navbar-brand {
    color: #fff;
    text-shadow: 0 0 12px #000;
}

.page {
    border-radius: 4px;
}

header {
    padding: 1rem;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    header { margin-bottom: 0; }
}

body .navbar-default .navbar-nav>li>a {
    color: #fff;
}



/* --------------------------------- *\
    Stats section
\* --------------------------------- */

.stats {
    background-color: #E4CFAC;
    background-image: url(texture.png);
    /* border: 4px solid #c4ac83; */
    border-radius: 8px;
    padding: .5em 0;
}
.stats .stat {
    margin-right: -.3em;
}


.stat {
    position: relative;
    display:    inline-block;
    width:      5em;
    height:     4.5em;
    /*border:   1px solid #000;*/
    text-align: center;
    vertical-align: top;
}
.stat label {
    position: absolute;
    top:   0;
    left:  0;
    right: 0;
    line-height: 0.9;
    color:      #fff;
    text-shadow: 0 1px 3px #000;
}
.stat .value {
    font-size:  2em;
    margin:     0.25em auto 0;
    padding-top: 0.25em;
    width:      1.75em;
    height:     1.75em;
    background: #fff;
    border-radius: 36px; 
}
.stat .value.value--sm {
    font-size:   1rem;
    width:       3.5em;
    height:      3.5em;
    margin-top:  0.5em;
    padding-top: 1em;
}

.stat img {
    position:   absolute;
    bottom:     0;
    left:       0;
    width:      2em;
}
.stat .sprite {
    position: absolute;
    bottom: 0;
    left: 0;
}






.stat.stat--with-plus [editable-stat-value]:after {
    content: "+";
    font-size: 0.7em;
    position: absolute;
    right: .75em;
    top: 1em;
}
.stat.stat--prepend-plus [editable-stat-value]:before {
    content: "+";
    font-size: 0.7em;
    position: absolute;
    left: .75em;
    top: 1em;
}







/* --------------------------------- *\
    Sections with lists
\* --------------------------------- */
.items, .abilities, .clothing, .mutations {
    margin-bottom:  1em;
    padding:        1em;
    background-image: url('paper.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.items .item {
    margin-bottom: 1em;
}
.items img {
    width:  1.5em;
    height: 1.5em;
    margin-right: .5em;
}
.items .item__attr {
    display:inline-block; 
    vertical-align:top; 
    text-align:center;
}
.item h5 {
    margin-top: 0;
}
@media(min-width: 768px) {
    .items img {
        margin-right: 0;
    }

    .items .item .grid__col:nth-child(-n+4) {
        text-align:center;
    }
}


.clothing__item {
    clear: both;
    min-height: 2em;
    margin: 0.5em 0;
}
.clothing__item h5 {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0.5em;
}



.ability {
    margin-bottom: 1em;
}
.ability h5 {
    padding: 1em 0 0;
    margin-bottom: 0;
}



/* --------------------------------- *\
    Sections with stats
\* --------------------------------- */
.sidebag {
    padding-bottom: 1em;
    text-align: center;
    background-color: #A25952;
    background-image: url(texture2.png);
}
.sidebag h4 { 
    color: #fff; 
    text-shadow: 0 1px 3px #000;
}
/*
.sidebag .stat {
    font-size: 1em;
    margin-bottom: 1em;
}

@media(min-width:768px) {
    .sidebag .stat { font-size: 0.9em; }
}
@media(min-width:992px) {
    .sidebag .stat { font-size: 0.8em; }
}
*/

.level {
    background-color: #A5BC9A;
    background-image: url(texture.png);
}
.darkstone {
    /*background-color: #61407C;
    background-image: url(texture.png);*/
}

.level, .darkstone, .wealth, .xp {
    display: inline-block;
    text-align:center;
    width: 23%;
}

.health {
    background-color: #C24E4E;
}
.sanity {
    background-color: #81A0D3;
}
.faith {
    background-color: #DEDE9C;
    width: 33%;
}
.corruption {
    background-color: #58A932;
    width: 67%;
}
.movement {
    background-color: #9B8282;
    width: 33%;
}
.grit {
    background-color: #5F4F4F;
    width: 67%;
}
.faith, .corruption, .grit, .movement {
    float: left;
}
.health, .sanity, .faith, .corruption, .grit, .movement {
    text-align:     center;
    padding-top:    1.1em;
    padding-bottom: 1.15em;
    background-image: url(texture.png);
}
.health .stat, 
.sanity .stat, 
.faith .stat, 
.corruption .stat, 
.grit .stat, 
.movement .stat {
    font-size:0.9em;
}

@media(min-width: 768px) {
    .health, .sanity, .faith, .corruption, .grit, .movement {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }
    .health .stat,
    .sanity .stat,
    .faith .stat,
    .corruption .stat,
    .movement .stat,
    .grit .stat {
        font-size: 1.175em;
    }
}

@media(min-width: 992px) {
    .health, .sanity, .faith, .corruption, .grit, .movement {
        padding-top: 0.3em;
        padding-bottom: 0.3em;
    }
}



/*@media(min-width:768px) {
    .health .stat,
    .sanity .stat,
    .faith .stat,
    .corruption .stat,
    .movement .stat,
    .grit .stat {
        font-size: 0.8em;
    }
}
*/
@media(min-width:992px) {
    .health .stat,
    .sanity .stat,
    .faith .stat,
    .corruption .stat,
    .movement .stat,
    .grit .stat {
        font-size: 1em;
    }
}



h4 {
    margin-top: 0;
    padding-top: 1em;
}



table thead img { width: 1.5em; }








/* --------------------------------- *\
    Keypad Modal
\* --------------------------------- */

.keypad .modal-body {
    text-align: center;
}
.keypad .modal-body button {
    font-size:  1em;
    width:      4em;
    height:     4em;
    margin:     0.5em;
    -webkit-appearance: none;
    -webkit-border-radius: 4px;
}








/* --------------------------------- *\
    Editable Input directive
    <editable-input />
\* --------------------------------- */

.editable-input-label {
    /*width: 33%;*/
}

.editable-input-label:after {
    content: ":";
    font-weight: inherit;
}


.editable-input-display { 
    display: inline-block; 
    min-width: 6rem;
    word-break: break-word;
    cursor: text;
    border-bottom: 1px dashed rgba(0, 153, 255,0.3);
    color: #333;

}

.editable-input form {
    position:relative;
    display: inline-block;
    width: 70%;
}
.editable-input form .form-group {
    margin-bottom: 0;
}

.editable-input form .editable-input-buttons {
    padding-top: 0.25rem;
}




/* --------------------------------- *\
    Image Selector directive
    <img-selector />
\* --------------------------------- */
.img-selector {
    position:   relative;
    display:    block;
    width:      100%;
}
.img-selector .image { 
    width: 100%;
} 
.img-selector .image img {
    width:      100%;
}
.img-selector .image button {
    position: absolute;
    bottom: 0;
    left: 0;
}
@media (min-width: 768px) {
    .img-selector .image img {
        max-height: 300px;
        max-width:  200px;
    }
}









/* Reflex CSS extensions */
.grid__col--grow-1 { flex-grow: 1; }
.grid__col--grow-2 { flex-grow: 2; }
.grid__col--grow-3 { flex-grow: 3; }
.grid__col--grow-4 { flex-grow: 4; }
.grid__col--grow-5 { flex-grow: 5; }















.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: bottom;
}

.sprite-bandages {
    width: 55px;
    height: 55px;
    background-position: -5px -5px;
    zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-cigar {
    width: 55px;
    height: 55px;
    background-position: -70px -5px;
    zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-corruption {
    width: 56px;
    height: 56px;
    background-position: -135px -5px;
    zoom: 0.6;
    -moz-transform: scale(0.6);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.6);
    -o-transform-origin: 0 0;
}

.sprite-dynamite {
    width: 55px;
    height: 55px;
    background-position: -200px -5px;
    zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-exoticHerbs {
    width: 55px;
    height: 54px;
    background-position: -5px -70px;
    zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-flash {
    width: 55px;
    height: 55px;
    background-position: -70px -70px;
    zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-fungus {
    width: 55px;
    height: 55px;
    background-position: -135px -70px;
    zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-hatchet {
    width: 55px;
    height: 55px;
    background-position: -200px -70px;
    zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-herb {
    width: 55px;
    height: 55px;
    background-position: -5px -135px;
    zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-item_darkstone {
    width: 55px;
    height: 55px;
    background-position: -70px -135px;
    zoom: 0.4;
    -moz-transform: scale(0.4);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.4);
    -o-transform-origin: 0 0;
}

.sprite-item_hands {
    width: 55px;
    height: 55px;
    background-position: -135px -135px;
    zoom: 0.4;
    -moz-transform: scale(0.4);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.4);
    -o-transform-origin: 0 0;
}

.sprite-item_slots {
    width: 55px;
    height: 55px;
    background-position: -200px -135px;
    zoom: 0.4;
    -moz-transform: scale(0.4);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.4);
    -o-transform-origin: 0 0;
}

.sprite-item_weight {
    width: 55px;
    height: 55px;
    background-position: -5px -200px;
    zoom: 0.4;
    -moz-transform: scale(0.4);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.4);
    -o-transform-origin: 0 0;
}

.sprite-oil {
    width: 55px;
    height: 55px;
    background-position: -70px -200px;
    zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-potion {
    width: 55px;
    height: 55px;
    background-position: -135px -200px;
    zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-sanity {
    width: 56px;
    height: 56px;
    background-position: -200px -200px;
    zoom: 0.6;
    -moz-transform: scale(0.6);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.6);
    -o-transform-origin: 0 0;
}

.sprite-spice {
    width: 55px;
    height: 55px;
    background-position: -265px -5px;
    zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-tequila {
    width: 55px;
    height: 55px;
    background-position: -265px -70px;
    zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-tonic {
    width: 55px;
    height: 55px;
    background-position: -265px -135px;
    zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-wealth {
    width: 55px;
    height: 55px;
    background-position: -265px -200px;
    zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-whiskey {
    width: 55px;
    height: 55px;
    background-position: -5px -265px;
    zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-wound {
    width: 56px;
    height: 56px;
    background-position: -70px -265px;
    zoom: 0.6;
    -moz-transform: scale(0.6);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.6);
    -o-transform-origin: 0 0;
}

.sprite-xp {
    width: 56px;
    height: 56px;
    background-position: -135px -265px;
    zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}
