
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    background: #fff;
    padding: 0.25em 1em;
    z-index: 9999;

    & > h5 {
        margin: 0;
    }
}

@media(min-width:300px) {
    header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 36px;
        transition: height 0.3s linear;

        & > h5 { padding: 0.25em; }

        &:hover {
            height: 60px;
        }
    }

    main {
        height:100%;
        overflow-y: hidden;
    }
}
