<h4 class="d-flex flex-justify-between flex-align-center">
    <div class="col u-text--sc">Orphan Missions</div>
    <button mat-flat-button color="primary" (click)="openChooser()">New</button>
</h4>
<hr>

<div class="m-grid flex-align-stretch no-pad">
    <div *ngFor="let mission of character.missions;let i=index;" class="card">
        <h5 class="d-flex flex-justify-between flex-align-end">
            {{mission.name}}
            <div class="d-flex flex-justify-end flex-align-end">
                <button class="u-sm" mat-flat-button color="warn"
                    (click)="confirmingDelete(i,true)"
                    *ngIf="confirmingDelete(i)">
                    X
                </button>
                <div class="btn-group" *ngIf="confirmingDelete(i)">
                    <button class="u-sm" mat-flat-button color="primary" (click)="remove(i)">Y</button>
                    <button class="u-sm" mat-flat-button color="accent" (click)="confirmingDelete(i,false)">N</button>
                </div>
            </div>
        </h5>
        <div class="desc">{{mission.desc}}</div>
        <div *ngIf="mission.modifiers">
            <hr>
            <div *ngFor="let modifier of mission.modifiers">
                {{modifier.affects}} : +{{modifier.value}}
            </div>
        </div>
        <!--
        <hr>
        <div class="d-flex flex-justify-between flex-align-center">
            <button type="button" class="btn--use" (click)="spendFury(mission.cost)">Cast</button>
        </div>
        -->
    </div>
</div>
