
<div class="l-container">
    <button type="button" class="btn-undo" *ngIf="removedPart"
        (click)="undoRemovePart()">
        UNDO
    </button>
    <div class="l-spaces-container">
        <div class="m-space"
            *ngFor="let space of contraption?.spaces; let $index=index;"
            [ngClass]="{'is-target':previewPart && space.supports}"
            (click)="addPart($index)">

            <ng-container *ngIf="space.part">
                <ateam-parts [part]="space.part"
                    (onEvent)="onPartEvent($event)">
                </ateam-parts>
                <div class="a-btn" *ngIf="!space.frame"
                    (click)="remove($event, $index)">
                    <span class="fas fa-wrench"></span>
                </div>
            </ng-container>

        </div>
    </div>
</div>
