<div class="sermon">

    <div *ngIf="!isEditing">

        <div class="m-grid gutter flex-justify-between flex-align-center">
            <div class="a-special__check">{{sermon.check}}+</div>
            <div class="flex-1 a-heading">
                <mat-icon *ngIf="sermon.deadly" color="warn">error</mat-icon>
                {{sermon.name}}
                <small>({{sermon.type}})</small>
            </div>
            <div class="a-special__cost--faith">{{sermon.cost||"0"}}</div>
        </div>

        <div class="u-sm"><strong>Range: </strong> {{sermon.range||"Not specified"}}</div>

        <div class="u-sm">
            <div class="desc">{{sermon.desc}}</div>
        </div>

        <hr>

        <!-- if empty or not cast and insufficient -->
        <div *ngIf="isInsufficient()"> <em>Not enough faith to cast</em> </div>

        <div class="m-grid gutter flex-justify-between flex-align-center">

            <div class="flex-1">

                <!-- if not cast already and not empty or insufficient -->
                <button class="u-sm" mat-flat-button color="accent"
                    *ngIf="canCast()" (click)="use()">
                    cast
                </button>

                <!-- if cast but not empty -->
                <button class="u-sm" mat-flat-button color="accent"
                    *ngIf="canSpendExtraFaith()" (click)="spendExtraFaith()">
                    +faith
                </button>

                <!-- if cast but no applied xp -->
                <button class="u-sm" mat-flat-button color="accent"
                    *ngIf="canApplyXP()" (click)="applyXP()">
                    +{{sermon.xp}} XP
                </button>

            </div>

            <div class="m-grid gutter flex-justify-end flex-align-end">
                <button class="u-sm" mat-flat-button color="accent" (click)="edit()">
                    <mat-icon>edit</mat-icon>
                </button>
                &nbsp;
                <button class="u-sm" mat-flat-button color="warn"
                    (click)="confirmingDelete=true"
                    *ngIf="!confirmingDelete">
                    <mat-icon>delete_forever</mat-icon>
                </button>
                <div class="btn-group" *ngIf="confirmingDelete">
                    <button class="u-sm" mat-flat-button color="warn" (click)="remove()"><mat-icon>check_circle</mat-icon></button>
                    <button class="u-sm" mat-flat-button color="accent" (click)="confirmingDelete=false"><mat-icon>not_interested</mat-icon></button>
                </div>
            </div>

        </div>

    </div>

    <div *ngIf="isEditing">
        <div>
            <label>Name</label>
            <input type="text" class="form-control"
                [(ngModel)]="editable.name"
                placeholder="Name this sermon">
        </div>

        <div>
            <label>Cost</label>
            <textarea rows="3" class="form-control" [(ngModel)]="editable.desc">
            </textarea>
        </div>

        <div class="m-grid gutter flex-justify-between flex-align-center">
            <div class="col">
                <label>Deadly?
                    <input type="checkbox" [(ngModel)]="editable.deadly">
                </label>
            </div>
            <div class="col-2">
                <label>Type</label>
                <select class="form-control" [(ngModel)]="editable.type">
                    <option value="Blessing">Blessing</option>
                    <option value="Judgement">Judgement</option>
                </select>
            </div>
        </div>

        <div>
            <label>Range</label>
            <input type="text" class="form-control" [(ngModel)]="editable.range">
        </div>

        <div class="m-grid gutter flex-justify-between flex-align-center">
            <div class="col">
                <label>Check</label>
                <input type="number" class="form-control" [(ngModel)]="editable.check">
            </div>

            <div class="col">
                <label>Cost</label>
                <input type="number" class="form-control" [(ngModel)]="editable.cost">
            </div>

            <div class="col">
                <label>XP</label>
                <input type="number" class="form-control" [(ngModel)]="editable.xp">
            </div>
        </div>

        <hr>

        <div class="m-grid gutter flex-justify-between">
            <button class="u-sm" mat-flat-button color="accent" (click)="cancelEditing()">cancel</button>
            <button class="u-sm" mat-flat-button color="primary" (click)="save()">save</button>
        </div>
    </div>

</div>
