<div class="attack">

    <div *ngIf="isEditing===false">

        <div class="m-grid flex-justify-between flex-align-end">
            <div class="a-heading">{{attack.name}}</div>
            <div class="m-grid flex-justify-end flex-align-end">
                <button class="u-sm" mat-flat-button color="accent" (click)="edit()">edit</button>
                &nbsp;&nbsp;&nbsp;
                <button class="u-sm" mat-flat-button color="warn"
                    (click)="confirmingDelete=true"
                    *ngIf="!confirmingDelete">
                    <mat-icon>delete_forever</mat-icon>
                </button>
                <div class="btn-group" *ngIf="confirmingDelete">
                    <button class="u-sm" mat-flat-button color="warn" (click)="remove()"><mat-icon>check_circle</mat-icon></button>
                    <button class="u-sm" mat-flat-button color="accent" (click)="confirmingDelete=false"><mat-icon>not_interested</mat-icon></button>
                </div>
            </div>
        </div>

        <small class="m-grid flex-justify-between">
            <div class="flex-1"><strong>Type: </strong> {{attack.type}}</div>
            <div class="flex-1" *ngIf="'ranged'===attack.type">
                <strong>Range: </strong> {{attack.range||0}}
            </div>
        </small>
        <small class="m-grid flex-justify-between">
            <div class="flex-1"><strong>Att: </strong> {{attack.attack||'not specified'}}</div>
            <div class="flex-1"><strong>Dmg: </strong> {{attack.damage||'not specified'}}</div>
        </small>

        <div class="desc" *ngIf="attack.description"><br>{{attack.description}}</div>

        <hr>

        <div class="m-grid gutter flex-justify-between flex-align-center">
            <button class="u-sm" mat-flat-button color="accent" (click)="roll=null">clear</button>

            <button class="u-sm" mat-flat-button color="primary"
                (ngDisabled)="!attack.type||!attack.attack||!attack.damage"
                (click)="execute()">
                Roll
            </button>
        </div>

        <div *ngIf="roll">
            <br>
            <div class="u-sm">
                <strong>Hits:</strong>
                <span *ngFor="let hit of roll.hits; let i = index;">
                    &nbsp;
                    <button type="button" class="die u-sm" (click)="rerollHit(i)"
                        [ngClass]="{'is-miss':hit < details.target}">
                        {{hit}}
                    </button>
                </span>
            </div>
            <br>
            <div class="u-sm">
                <strong>Dmg:</strong>
                <span *ngFor="let dmg of roll.dmg; let i = index">
                    &nbsp;
                    <button type="button" class="die u-sm" (click)="rerollDmg(i)"
                        [disabled]="roll.hits[i]< details.target">
                        {{dmg}}
                    </button>
                </span>
                &nbsp;
                <small><strong>( {{roll.totalDmg}} )</strong></small>
            </div>

        </div>

    </div>




    <div *ngIf="isEditing===true">

        <div>
            <label>Name</label>
            <input type="text" class="form-control"
                [(ngModel)]="editable.name"
                placeholder="Name this attack">
        </div>


        <div class="m-grid gutter flex-justify-start flex-align-center">
            <div class="flex-1">
                <label>Type</label>
                <select class="form-control" [(ngModel)]="editable.type">
                    <option value="melee">Melee</option>
                    <option value="ranged">Ranged</option>
                </select>
            </div>

            <div *ngIf="'ranged' === editable.type" class="flex-1">
                <label>Range</label>
                <input type="text" class="form-control"
                    [(ngModel)]="editable.range"
                    placeholder="Specify attack range">
            </div>
        </div>

        <div class="m-grid gutter flex-justify-between flex-align-center">
            <div class="flex-1">
                <label>Att: </label>
                <input type="text" class="form-control" required
                    [(ngModel)]="editable.attack"
                    placeholder="e.g., 2D6">
            </div>
            <div class="flex-1">
                <label>Dmg: </label>
                <input type="text" class="form-control" required
                    [(ngModel)]="editable.damage"
                    placeholder="e.g., D6+2">
            </div>
        </div>

        <div>
            <label>Misc: </label>
            <input type="text" class="form-control"
                [(ngModel)]="editable.description"
                placeholder="bonuses, conditionals, etc">
        </div>

        <hr>

        <div class="m-grid gutter flex-justify-between">
            <button mat-flat-button color="accent" (click)="cancelEditing()">cancel</button>
            <button mat-flat-button color="primary" (click)="saveEdits()">save</button>
        </div>

    </div>

</div>
