<div class="modal-content">
  <!-- <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
  </div> -->
    <div class="modal-body">

        <div class="input-group">
            <span class="input-group-addon">Name</span>
            <input type="text" class="form-control" ng-model="item.name" placeholder="Give the item a name">
        </div><br>
        
        <div class="input-group">
            <span class="input-group-addon">Desc</span>
            <input type="text" class="form-control" ng-model="item.description" placeholder="Describe the item">
        </div><br>

        <div class="input-group">
            <span class="input-group-addon">Source</span>
            <input type="text" class="form-control" ng-model="item.source" placeholder="Source (eg, 'General Store' or 'Targa Plateau')">
        </div><br>

        <div class="input-group">
            <span class="input-group-addon">Cost</span>
            <input type="text" class="form-control" ng-model="item.cost" placeholder="Optionally, specify the cost">
        </div><br>

        <div class="row">
            <div class="col-xs-6">
                <div class="input-group">
                    <span class="input-group-addon"><img src="assets/item_weight.png" height="16"></span>
                    <input type="number" min="0" max="2" ng-model="item.weight" class="form-control">
                </div><br>

                <div class="input-group">
                    <span class="input-group-addon"><img src="assets/item_darkstone.png" height="16"></span>
                    <input type="number" min="0" ng-model="item.darkstone" class="form-control">
                    </label>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="input-group">
                    <span class="input-group-addon"><img src="assets/item_hands.png" height="16"></span>
                    <input type="number" min="0" max="2" ng-model="item.hands" class="form-control">
                </div><br>
            
                <div class="input-group">
                    <span class="input-group-addon"><img src="assets/item_slots.png" height="16"></span>
                    <input type="number" max="2" min="0" ng-model="item.slots" class="form-control">
                </div>
            </div>
        </div>        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-disabled="!item.name" ng-click="ok()">Apply</button>
    </div>
</div>
