<div class="modal-content">
  <!-- <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
  </div> -->
    <div class="modal-body">

        <div class="input-group">
            <span class="input-group-addon">Name</span>
            <input type="text" class="form-control" ng-model="item.name" placeholder="Name">
        </div><br>

        
        <div class="input-group">
            <span class="input-group-addon">Desc</span>
            <input type="text" class="form-control" ng-model="item.description" placeholder="Description">
        </div><br>

        <input type="text" class="form-control" ng-model="item.keywords" placeholder="Keywords"><br>

        <div class="row">
            <div class="col-xs-8">
                <div class="input-group">
                    <span class="input-group-addon">Source</span>
                    <input type="text" class="form-control" ng-model="item.source" placeholder="Source (eg, 'General Store' or 'Targa Plateau')">
                </div>
            </div>
            <div class="col-xs-4">
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control" ng-model="item.cost" placeholder="Optionally, specify the cost">
                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-xs-6">
                <div class="input-group">
                    <span class="input-group-addon"><img src="assets/img/item_weight.png" height="16"></span>
                    <input type="number" min="0" ng-model="item.weight" class="form-control">
                </div><br>

                <div class="input-group">
                    <span class="input-group-addon"><img src="assets/img/item_darkstone.png" height="16"></span>
                    <input type="number" min="0" ng-model="item.darkstone" class="form-control">
                    </label>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="input-group">
                    <span class="input-group-addon"><img src="assets/img/item_hands.png" height="16"></span>
                    <input type="number" min="0" ng-model="item.hands" class="form-control">
                </div><br>
            
                <div class="input-group">
                    <span class="input-group-addon"><img src="assets/img/item_slots.png" height="16"></span>
                    <input type="number" min="0" ng-model="item.slots" class="form-control">
                </div>
            </div>
        </div>   
        <br>

        <div class="input-group">
            <span class="input-group-addon">Use</span>
            <select class="form-control" ng-model="item.usage">
            <option value="">N/A</option>
            <option value="Turn">Turn</option>
            <option value="Fight">Fight</option>
            <option value="Adventure">Adventure</option>
        </select>
        <br>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-disabled="!item.name" ng-click="ok()">Apply</button>
    </div>
</div>
