<div class="item grid grid--bleed grid--wrap-reverse">
   <div class="grid__col-sm-3 grid__col-md-4">
       <div class="grid grid--justify-space-between">
           <div class="grid__col">
               <div><span class="sprite sprite-item_weight"></span> <br class="hidden-xs"> {{item.weight}}</div>
           </div>
           <div class="grid__col">
               <div><span class="sprite sprite-item_darkstone"></span> <br class="hidden-xs"> {{item.darkstone}}</div>
           </div>
           <div class="grid__col">
               <div><span class="sprite sprite-item_hands"></span> <br class="hidden-xs"> {{item.hands}}</div>
           </div>
           <div class="grid__col">
               <div><span class="sprite sprite-item_slots"></span> <br class="hidden-xs"> {{item.slots}}</div>
           </div>
           <div class="grid__col"></div>
       </div>
   </div>
   <div class="grid__col-sm-9 grid__col-md-8">
       <div>
           <div class="pull-right">
               <button type="button" class="btn btn-sm btn-danger" ng-click="ctrl.remove()">
                 <span class="glyphicon glyphicon-trash"></span>
               </button>
               <button type="button" class="btn btn-sm btn-default" ng-click="ctrl.edit()">
                 <span class="glyphicon glyphicon-pencil"></span>
               </button>
           </div>
           <h5>{{name}}</h5>
           <small>{{item.description}}  <em>({{item.source}})</em></small>
       </div>
   </div>
</div>