.char { 
    position: relative;
    width: 100%;
}
.char .image {
    width: 100%;
    height: 300px;
}
.char.wounded .image {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}
.char .abilities {
    width: 100%;
    height: auto;
}
.char .label {
    display: block;
    width: 100%;
    background: rgba(255,255,255,0.75);
    color: #000;
}
.char .stats {
    width: 100%;
    background: #000;
    padding: 12px;
    border: 2px solid #fff;
    border-radius: 24px 0 0 0;
    border-bottom: none;
    border-right: none;
}
.char .stat {
    border-radius: 8px;
    background: #fff;
    text-align: center;
    padding: 8px 0;
    height: 75px;
    margin-bottom: 12px;
}
.char .skill {
    background: #fff;
    border-radius: 8px;
    text-align: center;
    height: 36px;
    padding: 8px;
}

@media(min-width:768px) {
    .char { 
        width: 768px;
        height: 500px;
    }
    .char .image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 67%;
    }
    .char .abilities {
        position: absolute;
        right: 0;
        top: 0;
        border: 2px solid #000;
        overflow: auto;
        width: 33%;
        height: 70%;
    }
    .char .label {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 33%;
        height: 15%;
        z-index:3;
        border-radius: 0;
        padding: 12px;
    }
    .char .stats {
        position: absolute;
        bottom: 0;
        right: 0%;
        width: 67%;
        height: 30%;
    }
}
@media(min-width:992px) {
    .char { 
        width: 992px;
        height: 600px;
    }
    .char .image {
        width: 67%;
        height: 100%;
    }
    .char .abilities {
        width: 33%;
        height: 75%;
    }
    .char .label {
        width: 33%;
        height: 15%;
    }
    .char .stats {
        width: 67%;
        height: 25%;
    }
}

.color-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 auto;
    border-radius: 2px;
    border: 1px solid #000; 
}
.color-icon.black { background: #000; }
.color-icon.blue { background: #00f; }
.color-icon.green { background: #0f0; }
.color-icon.red { background: #f00; }
.color-icon.white { background: #fff;}
.color-icon.yellow { background: #f6ff00; }
