<div class="page" ng-class="{'f-container f-column f-justify-between':!$ctrl.showAll}">

    <div class="char__header">
        <div>
            <div style="margin-right: 1em;">
                <label>Name: </label> {{$ctrl.character.name}} ({{$ctrl.charClass}})
            </div>
            <div style="margin-right: 1em;">
                <div editable-input label="Keys" ng-model="$ctrl.character.keywords" on-save="$ctrl.save()"></div>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-sm btn-info" ng-click="$ctrl.showAll=!$ctrl.showAll">
                <span class="glyphicon" 
                    ng-class="{'glyphicon-sort-by-attributes':!$ctrl.showAll,'glyphicon-phone':$ctrl.showAll}">
                </span>
            </button>
        </div>
        <div>
            <div login></div>
        </div>
    </div>


    <!-- Char -->
    <div class="char__panel" ng-if="$ctrl.showAll||$ctrl.panel==='char'">
        <div ng-include="'src/v2/panel-char.html'"></div>
    </div>


    <!-- Attacks -->
    <div class="char__panel" ng-if="$ctrl.showAll||$ctrl.panel==='attacks'">
        <attacks character="$ctrl.character" on-save="$ctrl.save()"></attacks>
    </div>


    <!-- Abilities -->
    <div class="char__panel" ng-if="$ctrl.showAll||$ctrl.panel==='abil'">
        <h3 ng-if="$ctrl.showAll">Abilities</h3>
        <abilities character="$ctrl.character" on-save="$ctrl.save()"
            on-change="$ctrl.onModifiersChanged()"></abilities>
    </div>


    <!-- Sermons -->
    <div class="char__panel" ng-if="$ctrl.canCastSermons()&&($ctrl.showAll||$ctrl.panel==='sermons')">
        <h3 ng-if="$ctrl.showAll">Sermons</h3>
        <div sermons character="$ctrl.character" on-save="$ctrl.save()"></div>
    </div>


    <!-- Items and Clothing -->
    <div class="char__panel" ng-if="$ctrl.showAll||$ctrl.panel==='items'">
        <h3 ng-if="$ctrl.showAll">Items</h3>
        <div items character="$ctrl.character" on-save="$ctrl.save()"></div>
    </div>


    <!-- Sidebag -->
    <div class="char__panel" ng-if="$ctrl.showAll||$ctrl.panel==='side'">
        <h3 ng-if="$ctrl.showAll">Sidebag</h3>
        <sidebag sidebag="$ctrl.character.sidebag" on-save="$ctrl.save()"></sidebag>
    </div>


    <!-- Injuries and Mutations -->
    <div class="char__panel" ng-if="$ctrl.showAll||$ctrl.panel==='inj'">
        <h3 ng-if="$ctrl.showAll">Mutations, Injuries, &amp; Madness</h3>
        <mutations character="$ctrl.character" on-save="$ctrl.save()" 
            on-change="$ctrl.onModifiersChanged()"></mutations>
    </div>


    <!-- Miscellaneous -->
    <div class="char__panel" ng-if="$ctrl.showAll||$ctrl.panel==='misc'">
        <h3 ng-if="$ctrl.showAll">Miscellaneous</h3>
        <div class="notes">
            <h4>
                <button type="button" class="btn btn-sm btn-success pull-right" ng-click="$ctrl.save()">Save</button>
                Notes
            </h4>
            <textarea name="notes" rows="10" placeholder="Enter any notes about this character" class="form-control"
                ng-model="$ctrl.character.notes"></textarea>
        </div>
        <hr>
        <div class="f-container f-wrap">
            <loot class="f-cell-1x-sm" character="$ctrl.character" on-save="$ctrl.save()"></loot>
            <scavenge class="f-cell-1x-sm" character="$ctrl.character" on-save="$ctrl.save()"></scavenge>
        </div>
    </div>


    <!-- message display -->
    <div class="message-display" ng-if="$ctrl.displayOpts.message">
        <span class="glyphicon glyphicon-ok"></span> 
        {{$ctrl.displayOpts.message}}
    </div>
    <div class="message-display is-error" ng-if="$ctrl.displayOpts.error">
        <span class="glyphicon glyphicon-exclamation-sign"></span> 
        {{$ctrl.displayOpts.error}}
        <div ng-if="!this.authenticated">
            You must sign in to make changes to this character!
        </div>
    </div>


    <!-- footer buttons -->
    <div ng-if="!$ctrl.showAll" ng-include="'src/v2/footer.html'"></div>

</div>