<div class="char__footer">
    <div class="f-container f-justify-around">
        <button type="button" class="f-cell f-equal" 
            ng-class="{active:$ctrl.panel==='char'}"
            ng-click="$ctrl.panel='char'">
            <span class="glyphicon glyphicon-user"></span>
        </button>
        <button type="button" class="f-cell f-equal" 
            ng-class="{active:$ctrl.panel==='abil'}"
            ng-click="$ctrl.panel='abil'">
            <span class="glyphicon glyphicon-flash"></span>
        </button>
        <button type="button" class="f-cell f-equal" 
            ng-if="$ctrl.canCastSermons()"
            ng-class="{active:$ctrl.panel==='sermons'}"
            ng-click="$ctrl.panel='sermons'">
            <span class="glyphicon glyphicon-book"></span>
        </button>
        <button type="button" class="f-cell f-equal" 
            ng-class="{active:$ctrl.panel==='items'}"
            ng-click="$ctrl.panel='items'">
            <span class="glyphicon glyphicon-gift"></span>
        </button>
        <button type="button" class="f-cell f-equal" 
            ng-class="{active:$ctrl.panel==='side'}"
            ng-click="$ctrl.panel='side'">
            <span class="glyphicon glyphicon-briefcase"></span>
        </button>
        <button type="button" class="f-cell f-equal" 
            ng-class="{active:$ctrl.panel==='inj'}"
            ng-click="$ctrl.panel='inj'">
            <span class="glyphicon glyphicon-alert"></span>
        </button>
        <button type="button" class="f-cell f-equal" 
            ng-class="{active:$ctrl.panel==='misc'}"
            ng-click="$ctrl.panel='misc'">
            <span class="glyphicon glyphicon-comment"></span>
        </button>
    </div>
</div>