<div>
    <div class="f-container f-justify-between">
        <!-- avatar -->
        <div class="f-cell">
            <div class="avatar" img-selector ng-model="$ctrl.character.avatar" on-save="$ctrl.save()"></div>
        </div>
        <div class="f-cell attributes">
            <div class="f-cell-33p">
                <div class="stat stat-label-top">
                    <label>Agility</label>
                    <editable-stat-value on-save="$ctrl.save()" 
                        ng-model="$ctrl.character.stats.Agility" 
                        modifier="$ctrl.modifiers.stats.Agility" minimum="1">
                    </editable-stat-value>
                </div>
            </div>
            <div class="f-cell-33p">
                <div class="stat stat-label-top">
                    <label>Cunning</label>
                    <editable-stat-value on-save="$ctrl.save()" 
                        ng-model="$ctrl.character.stats.Cunning" 
                        modifier="$ctrl.modifiers.stats.Cunning" minimum="1"></editable-stat-value>
                </div>
            </div>
            <div class="f-cell-33p">
                <div class="stat stat-label-top">
                    <label>Spirit</label>
                    <editable-stat-value on-save="$ctrl.save()" 
                        ng-model="$ctrl.character.stats.Spirit" 
                        modifier="$ctrl.modifiers.stats.Spirit" minimum="1"></editable-stat-value>
                </div>
            </div>
            <div class="f-cell-33p">
                <div class="stat stat-label-top">
                    <label>Strength</label>
                    <editable-stat-value on-save="$ctrl.save()" 
                        ng-model="$ctrl.character.stats.Strength" 
                        modifier="$ctrl.modifiers.stats.Strength" minimum="1"></editable-stat-value>
                </div>
            </div>
            <div class="f-cell-33p">
                <div class="stat stat-label-top">
                    <label>Lore</label>
                    <editable-stat-value on-save="$ctrl.save()" 
                        ng-model="$ctrl.character.stats.Lore" 
                        modifier="$ctrl.modifiers.stats.Lore" minimum="1"></editable-stat-value>
                </div>
            </div>
            <div class="f-cell-33p">
                <div class="stat stat-label-top">
                    <label>Luck</label>
                    <editable-stat-value on-save="$ctrl.save()" 
                        ng-model="$ctrl.character.stats.Luck" 
                        modifier="$ctrl.modifiers.stats.Luck" minimum="1"></editable-stat-value>
                </div>
            </div>
        </div>
    </div>

    <div class="f-container f-justify-between" style="margin-top: 1em;">

        <div class="f-cell f-cell-66p f-container f-wrap">

            <!-- COMBAT SECTION -->
            <div class="combat f-container f-justify-around f-align-center">
                <span class="stat f-cell">
                    <label>Combat</label>
                    <editable-stat-value name="Combat"
                        on-save="$ctrl.save()" 
                        ng-model="$ctrl.character.combat"
                        modifier="$ctrl.modifiers.combat"></editable-stat-value>
                </span>

                <span class="stat stat--with-plus f-cell">
                    <label>Melee</label>
                    <editable-stat-value on-save="$ctrl.save()" 
                        ng-model="$ctrl.character.melee"
                        modifier="$ctrl.modifiers.melee"></editable-stat-value>
                </span>
                <span class="stat stat--with-plus f-cell">
                    <label>Ranged</label>
                    <editable-stat-value on-save="$ctrl.save()" 
                        ng-model="$ctrl.character.ranged"
                        modifier="$ctrl.modifiers.ranged"></editable-stat-value>
                </span>
            </div>

            
            <!-- HEALTH SECTION -->
            <div class="health f-container f-justify-around f-align-center">
                
                <div class="f-cell has-stat-with-max">
                    <div class="stat f-cell">
                        <editable-stat-value on-save="$ctrl.save()" 
                            ng-model="$ctrl.character.health.wounds"></editable-stat-value>
                        <!-- <img src="assets/wound.png">    --> 
                        <span class="sprite sprite-wound"></span>

                        <div class="stat">
                            <editable-stat-value on-save="$ctrl.save()" 
                                ng-model="$ctrl.character.health.max"
                                modifier="$ctrl.modifiers.health.max"></editable-stat-value>
                        </div>
                    </div>
                </div>
                <div class="f-cell stat stat--with-plus f-cell">
                    <label>Defense</label>
                    <editable-stat-value on-save="$ctrl.save()" 
                        ng-model="$ctrl.character.defense"
                        modifier="$ctrl.modifiers.defense"></editable-stat-value>
                </div>
                <div class="f-cell stat stat--with-plus f-cell">
                    <label>Armor</label>
                    <editable-stat-value on-save="$ctrl.save()" 
                        ng-model="$ctrl.character.armor"
                        modifier="$ctrl.modifiers.armor"></editable-stat-value>
                </div>
            </div>
                
               
            <!-- SANITY SECTION --> 
            <div class="sanity f-container f-justify-around f-align-center">
                
                <div class="f-cell has-stat-with-max">
                    <div class="stat">
                        <!-- <label>Loss</label> -->
                        <editable-stat-value on-save="$ctrl.save()" 
                            ng-model="$ctrl.character.sanity.loss"></editable-stat-value>
                        <!-- <img src="assets/sanity.png"> -->
                        <span class="sprite sprite-sanity"></span>
                        <div class="stat">
                            <editable-stat-value on-save="$ctrl.save()" 
                                ng-model="$ctrl.character.sanity.max"
                                modifier="$ctrl.modifiers.sanity.max"></editable-stat-value>
                        </div>
                    </div>
                </div>
                <div class="f-cell stat stat--with-plus">
                    <label>Willpower</label>
                    <editable-stat-value on-save="$ctrl.save()" 
                        ng-model="$ctrl.character.willpower"
                        modifier="$ctrl.modifiers.willpower"></editable-stat-value>
                </div>
                <div class="f-cell stat stat--with-plus">
                    <label>Sp Armor</label>
                    <editable-stat-value on-save="$ctrl.save()" 
                        ng-model="$ctrl.character.spiritArmor"
                        modifier="$ctrl.modifiers.spiritArmor"></editable-stat-value>
                </div>
            </div>

                
            <div class="other f-container f-justify-around f-align-center">

                <div class="faith f-cell">
                    <div class="stat">
                        <label>Faith</label>
                        <editable-stat-value on-save="$ctrl.save()" 
                            ng-model="$ctrl.character.faith"
                            modifier="$ctrl.modifiers.faith"></editable-stat-value>
                    </div>
                </div>

                <div class="grit f-cell has-stat-with-max">
                    <div class="stat">
                        <label>Grit</label>
                        <editable-stat-value on-save="$ctrl.save()" 
                            ng-model="$ctrl.character.grit.current"></editable-stat-value>
                        <div class="stat">
                            <editable-stat-value on-save="$ctrl.save()" 
                                ng-model="$ctrl.character.grit.max"
                                modifier="$ctrl.modifiers.grit.max"></editable-stat-value>
                        </div>
                    </div>
                </div>
                
                <div class="corruption f-cell has-stat-with-max">
                    <div class="stat">
                        <editable-stat-value on-save="$ctrl.save()" 
                            ng-model="$ctrl.character.corruption.current"></editable-stat-value>
                        <span class="sprite sprite-corruption"></span>
                        <div class="stat">
                            <editable-stat-value on-save="$ctrl.save()" 
                                ng-model="$ctrl.character.corruption.max"
                                modifier="$ctrl.modifiers.corruption.max"></editable-stat-value>
                        </div>
                    </div>
                </div>

            </div>  
            
        </div>

        <div class="general f-cell f-cell-33p f-container">

            <div class="level f-cell">
                <div class="stat">
                    <label>Level</label>
                    <editable-stat-value on-save="$ctrl.save()" 
                        ng-model="$ctrl.character.level" minimum="1"></editable-stat-value>
                </div>
            </div>
            
            <div class="xp f-cell">
                <div class="stat">
                    <editable-stat-value class="value--sm" on-save="$ctrl.onXP()" 
                        ng-model="$ctrl.character.xp"></editable-stat-value>
                    <span class="sprite sprite-xp"></span>
                    <div style="font-size:0.625em">
                        <span class="glyphicon glyphicon-arrow-up"></span> at {{$ctrl.xpLevels[$ctrl.character.level]}}
                    </div>
                </div>
            </div>

            <div class="wealth f-cell">
                <div class="stat">
                    <editable-stat-value class="value--sm" on-save="$ctrl.save()" 
                        ng-model="$ctrl.character.wealth"></editable-stat-value>
                    <!-- <img src="assets/wealth.png"> -->
                    <span class="sprite sprite-wealth"></span>
                </div>
            </div>

            <div class="darkstone f-cell">
                <div class="stat">
                    <editable-stat-value on-save="$ctrl.save()" 
                        ng-model="$ctrl.character.darkstone"></editable-stat-value>
                    <img class="sprite-darkstone" src="assets/img/darkstone.png">
                </div>
            </div>

            <div class="init f-cell">
                <div class="stat">
                    <label>Init</label>
                    <editable-stat-value on-save="$ctrl.save()" 
                        ng-model="$ctrl.character.init" 
                        modifier="$ctrl.modifiers.init"
                        minimum="1"></editable-stat-value>
                </div>
            </div>

            <div class="movement f-cell">
                <div class="stat" 
                    ng-class="{'stat--prepend-plus':$ctrl.character.movement>=0}">
                    <label>Move</label>
                    <editable-stat-value on-save="$ctrl.save()" 
                        ng-model="$ctrl.character.movement" 
                        modifier="$ctrl.modifiers.move"
                        minimum="-25"></editable-stat-value>
                </div>
            </div>

        </div>

    </div>

</div>