<div>
    <div class="f-container f-justify-between">
        <!-- avatar -->
        <div class="f-cell">
            <div class="avatar" img-selector ng-model="$ctrl.character.avatar" on-save="$ctrl.save()"></div>
        </div>
        <div class="f-cell attributes">
            <div class="f-cell-33p">
                <div class="stat stat-label-top">
                    <label>Agility</label>
                    <div editable-stat-value on-save="$ctrl.save()" ng-model="$ctrl.character.stats.Agility" minimum="1"></div>
                </div>
            </div>
            <div class="f-cell-33p">
                <div class="stat stat-label-top">
                    <label>Cunning</label>
                    <div editable-stat-value on-save="$ctrl.save()" ng-model="$ctrl.character.stats.Cunning" minimum="1"></div>
                </div>
            </div>
            <div class="f-cell-33p">
                <div class="stat stat-label-top">
                    <label>Spirit</label>
                    <div editable-stat-value on-save="$ctrl.save()" ng-model="$ctrl.character.stats.Spirit" minimum="1"></div>
                </div>
            </div>
            <div class="f-cell-33p">
                <div class="stat stat-label-top">
                    <label>Strength</label>
                    <div editable-stat-value on-save="$ctrl.save()" ng-model="$ctrl.character.stats.Strength" minimum="1"></div>
                </div>
            </div>
            <div class="f-cell-33p">
                <div class="stat stat-label-top">
                    <label>Lore</label>
                    <div editable-stat-value on-save="$ctrl.save()" ng-model="$ctrl.character.stats.Lore" minimum="1"></div>
                </div>
            </div>
            <div class="f-cell-33p">
                <div class="stat stat-label-top">
                    <label>Luck</label>
                    <div editable-stat-value on-save="$ctrl.save()" ng-model="$ctrl.character.stats.Luck" minimum="1"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="f-container f-justify-between" style="margin-top: 1em;">

        <div class="f-cell f-cell-66p f-container f-wrap">

            <!-- COMBAT SECTION -->
            <div class="combat f-container f-justify-around f-align-center">
                <span class="stat f-cell">
                    <label>Combat</label>
                    <div editable-stat-value on-save="$ctrl.save()" ng-model="$ctrl.character.combat"></div>
                </span>

                <span class="stat stat--with-plus f-cell">
                    <label>Melee</label>
                    <div editable-stat-value on-save="$ctrl.save()" ng-model="$ctrl.character.melee"></div>
                </span>
                <span class="stat stat--with-plus f-cell">
                    <label>Ranged</label>
                    <div editable-stat-value on-save="$ctrl.save()" ng-model="$ctrl.character.ranged"></div>
                </span>
            </div>

            
            <!-- HEALTH SECTION -->
            <div class="health f-container f-justify-around f-align-center">
                
                <div class="f-cell has-stat-with-max">
                    <div class="stat f-cell">
                        <div editable-stat-value on-save="$ctrl.save()" 
                            ng-model="$ctrl.character.health.wounds"></div>
                        <!-- <img src="assets/wound.png">    --> 
                        <span class="sprite sprite-wound"></span>

                        <div class="stat">
                            <div editable-stat-value on-save="$ctrl.save()" ng-model="$ctrl.character.health.max"></div>
                        </div>
                    </div>
                </div>
                <div class="f-cell stat stat--with-plus f-cell">
                    <label>Defense</label>
                    <div editable-stat-value on-save="$ctrl.save()" ng-model="$ctrl.character.defense"></div>
                </div>
                <div class="f-cell stat stat--with-plus f-cell">
                    <label>Armor</label>
                    <div editable-stat-value on-save="$ctrl.save()" ng-model="$ctrl.character.armor"></div>
                </div>
            </div>
                
               
            <!-- SANITY SECTION --> 
            <div class="sanity f-container f-justify-around f-align-center">
                
                <div class="f-cell has-stat-with-max">
                    <div class="stat">
                        <!-- <label>Loss</label> -->
                        <div editable-stat-value on-save="$ctrl.save()" 
                            ng-model="$ctrl.character.sanity.loss"></div>
                        <!-- <img src="assets/sanity.png"> -->
                        <span class="sprite sprite-sanity"></span>
                        <div class="stat">
                            <div editable-stat-value on-save="$ctrl.save()" ng-model="$ctrl.character.sanity.max"></div>
                        </div>
                    </div>
                </div>
                <div class="f-cell stat stat--with-plus">
                    <label>Willpower</label>
                    <div editable-stat-value on-save="$ctrl.save()" ng-model="$ctrl.character.willpower"></div>
                </div>
                <div class="f-cell stat stat--with-plus">
                    <label>Sp Armor</label>
                    <div editable-stat-value on-save="$ctrl.save()" ng-model="$ctrl.character.spiritArmor"></div>
                </div>
            </div>

                
            <div class="other f-container f-justify-around f-align-center">

                <div class="faith f-cell">
                    <div class="stat">
                        <label>Faith</label>
                        <div editable-stat-value on-save="$ctrl.save()" ng-model="$ctrl.character.faith"></div>
                    </div>
                </div>

                <div class="grit f-cell has-stat-with-max">
                    <div class="stat">
                        <label>Grit</label>
                        <div editable-stat-value on-save="$ctrl.save()" ng-model="$ctrl.character.grit.current"></div>
                        <div class="stat">
                            <div editable-stat-value on-save="$ctrl.save()" ng-model="$ctrl.character.grit.max"></div>
                        </div>
                    </div>
                </div>
                
                <div class="corruption f-cell has-stat-with-max">
                    <div class="stat">
                        <div editable-stat-value on-save="$ctrl.save()" 
                            ng-model="$ctrl.character.corruption.current"></div>
                        <span class="sprite sprite-corruption"></span>
                        <div class="stat">
                            <div editable-stat-value on-save="$ctrl.save()" ng-model="$ctrl.character.corruption.max"></div>
                        </div>
                    </div>
                </div>

            </div>  
            
        </div>

        <div class="general f-cell f-cell-33p f-container">

            <div class="level f-cell">
                <div class="stat">
                    <label>Level</label>
                    <div class="value" editable-stat-value on-save="$ctrl.save()" ng-model="$ctrl.character.level" minimum="1">
                    </div>
                </div>
            </div>
            
            <div class="xp f-cell">
                <div class="stat">
                    <div class="value--sm" editable-stat-value on-save="$ctrl.onXP()" ng-model="$ctrl.character.xp"></div>
                    <span class="sprite sprite-xp"></span>
                    <div style="font-size:0.625em"><span class="glyphicon glyphicon-arrow-up"></span> at {{$ctrl.xpLevels[$ctrl.character.level]}}</div>
                </div>
            </div>

            <div class="wealth f-cell">
                <div class="stat">
                    <div class="value--sm" editable-stat-value on-save="$ctrl.save()" ng-model="$ctrl.character.wealth"></div>
                    <!-- <img src="assets/wealth.png"> -->
                    <span class="sprite sprite-wealth"></span>
                </div>
            </div>

            <div class="darkstone f-cell">
                <div class="stat">
                    <div editable-stat-value on-save="$ctrl.save()" ng-model="$ctrl.character.darkstone"></div>
                    <img class="sprite-darkstone" src="assets/darkstone.png">
                </div>
            </div>

            <div class="init f-cell">
                <div class="stat">
                    <label>Init</label>
                    <div editable-stat-value on-save="$ctrl.save()" ng-model="$ctrl.character.init" minimum="1"></div>
                </div>
            </div>

            <div class="movement f-cell">
                <div class="stat" ng-class="{'stat--prepend-plus':$ctrl.character.movement>=0}">
                    <label>Move</label>
                    <div editable-stat-value on-save="$ctrl.save()" 
                        ng-model="$ctrl.character.movement" 
                        minimum="-25"></div>
                </div>
            </div>

        </div>

    </div>

</div>