<div [@dialog] *ngIf="visible" class="dialog">
    <div class="dialog__body">
        <div *ngIf="!options.length" class="c-option--available">
            <h5>None available</h5>
        </div>
        <div *ngFor="let mission of options"
            class="c-option--available"
            [ngClass]="{'is-selected':isChosen(mission)}">
            <h5>{{mission.name}}</h5>
            <div>{{mission.desc}}</div>
            <div class="col" *ngIf="mission.requires">
                <strong>Requires</strong> <em>{{mission.requires}}</em>
            </div>
            <button type="button" class="btn btn--use"
                *ngIf="!mission.disabled"
                (click)="choose(mission)">
                <span>{{isChosen(mission)?'Unselect':'Choose'}}</span>
            </button>
        </div>
    </div>
    <div class="d-flex flex-justify-end">
        <button type="button" (click)="close()" aria-label="Close">Cancel</button>
        <button type="button" aria-label="Apply"
            [disabled]="!hasSelection()"
            (click)="apply()">Apply</button>
    </div>
</div>
