<h5 mat-dialog-title>Choose Trick</h5>
<div mat-dialog-content>
    <div *ngIf="!data ||!data.options.length" class="c-option--available">
        <h5>None available</h5>
    </div>
    <div *ngFor="let mission of data?.options"
        class="c-option--available"
        (click)="choose(mission)"
        [ngClass]="{'is-selected':isChosen(mission)}">
        <div class="a-heading">
            <mat-icon>{{isChosen(mission)?'check_box':'check_box_outline_blank'}}</mat-icon>
            {{mission.name}}
        </div>
        <div class="u-sm">
            <div>{{mission.desc}}</div>
            <div class="col" *ngIf="mission.requires">
                <strong>Requires</strong> <em>{{mission.requires}}</em>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions class="m-grid gutter flex-justify-end flex-align-center">
    <a mat-flat-button color="accent" (click)="close()" aria-label="Close">Cancel</a>
    &nbsp;&nbsp;&nbsp;
    <a mat-flat-button color="primary" [mat-dialog-close]="selection"
        aria-label="Apply"
        [disabled]="!selection">
        Apply
    </a>
</div>
