<h5 mat-dialog-title>
    Current: {{data.value}}
</h5>
<div mat-dialog-content>
    <!-- <small>( min: {{minimum}}, max: {{maximum}} )</small> -->
    <small *ngIf="data.modifiers">
        Modifiers:
        {{data.modifiers.value|modifier}}
        ({{data.modifiers.sources|join:', '}})
    </small>

    <div class="o-keypad">
        <button mat-mini-fab color="success" (click)="change(100)">+100</button>
        <button mat-mini-fab color="success" (click)="change(50)">+50</button>
        <button mat-mini-fab color="success" (click)="change(20)">+20</button>
        <button mat-mini-fab color="success" (click)="change(10)">+10</button>
        <button mat-mini-fab color="success" (click)="change(5)">+5</button>
        <button mat-mini-fab color="success" (click)="change(1)">+1</button>
        <button mat-mini-fab color="warn" (click)="change(-1)" (ngDisable)="value==minimum">-1</button>
        <button mat-mini-fab color="warn" (click)="change(-5)" (ngDisable)="value==minimum">-5</button>
        <button mat-mini-fab color="warn" (click)="change(-10)" (ngDisable)="value==minimum">-10</button>
        <button mat-mini-fab color="warn" (click)="change(-20)" (ngDisable)="value==minimum">-20</button>
        <button mat-mini-fab color="warn" (click)="change(-50)" (ngDisable)="value==minimum">-50</button>
        <button mat-mini-fab color="warn" (click)="change(-100)" (ngDisable)="value==minimum">-100</button>
    </div>
    <div class="manual-entry">
        <br>
        <div class="m-grid gutter flex-justify-around flex-align-stretch">
            <button mat-flat-button class="u-sm" color="accent" (click)="changeManual(-1)" (ngClass)="{disabled:!hasManual()}">-</button>
            <div class="col">
                <input type="number" class="form-control" [(ngModel)]="manualAdj" placeholder="Adjust by ...">
            </div>
            <button mat-flat-button class="u-sm" color="accent" (click)="changeManual(1)" (ngClass)="{disabled:!hasManual()}">+</button>
        </div>
    </div>
    <div class="u-sm">
        <strong>Changes:</strong>
        <span *ngFor="let change of changes">{{change}}, </span>
    </div>
    <div class="u-sm"><strong>Final Value:</strong> {{result}}</div>

</div>
<div mat-dialog-actions class="m-grid gutter flex-justify-end flex-align-center">
    <a mat-flat-button color="accent" (click)="close()" aria-label="Close">Cancel</a>
    &nbsp;&nbsp;&nbsp;
    <a mat-flat-button color="primary" [mat-dialog-close]="result" aria-label="Apply">Apply</a>
</div>
