<h5 mat-dialog-title>
    Current: {{data.value}}
    <small>
        ( min: {{data.minimum}}, max: {{data.maximum}} )
    </small>
</h5>
<div mat-dialog-content>
    <small *ngIf="data.modifiers">
        Modifiers:
        {{data.modifiers.value|modifier}}
        ({{data.modifiers.sources|join:', '}})
    </small>

    <div class="d-flex flex-justify-between flex-align-start">
        <div class="flex-1">
            <div class="o-keypad">
                <button type="button" class="keypad__button" (click)="change(-100)" (ngDisable)="value==minimum">-100</button>
                <button type="button" class="keypad__button" (click)="change(-50)" (ngDisable)="value==minimum">-50</button>
                <button type="button" class="keypad__button" (click)="change(-20)" (ngDisable)="value==minimum">-20</button>
                <button type="button" class="keypad__button" (click)="change(-10)" (ngDisable)="value==minimum">-10</button>
                <button type="button" class="keypad__button" (click)="change(-5)" (ngDisable)="value==minimum">-5</button>
                <button type="button" class="keypad__button" (click)="change(-1)" (ngDisable)="value==minimum">-1</button>
                <button type="button" class="keypad__button" (click)="change(1)">+1</button>
                <button type="button" class="keypad__button" (click)="change(5)">+5</button>
                <button type="button" class="keypad__button" (click)="change(10)">+10</button>
                <button type="button" class="keypad__button" (click)="change(20)">+20</button>
                <button type="button" class="keypad__button" (click)="change(50)">+50</button>
                <button type="button" class="keypad__button" (click)="change(100)">+100</button>
            </div>
            <br>

            <div class="manual-entry">
                <div class="d-flex flex-justify-around flex-align-stretch">
                    <button type="button" (click)="changeManual(-1)" (ngClass)="{disabled:!hasManual()}">-</button>
                    <div class="col">
                        <input type="number" class="form-control" [(ngModel)]="manualAdj" placeholder="Adjust by ...">
                    </div>
                    <button type="button" (click)="changeManual(1)" (ngClass)="{disabled:!hasManual()}">+</button>
                </div>
            </div>
        </div>
        <div class="u-mg-left--md">
            <strong>Changes:</strong><br>
            <div *ngFor="let change of changes">{{change}}</div>
            <br>
            <br>
            <hr>
            <div><strong>Final Value:</strong> {{result}}</div>
        </div>
    </div>

</div>
<div mat-dialog-actions class="d-flex flex-justify-end flex-align-center">
    <a mat-flat-button color="light" (click)="close()" aria-label="Close">Cancel</a>
    &nbsp;&nbsp;&nbsp;
    <a mat-flat-button color="primary" [mat-dialog-close]="result" aria-label="Apply">Apply</a>
</div>
