<div class="spell">

    <div *ngIf="!isEditing">

        <div class="d-flex flex-justify-between flex-align-start">
            <div class="a-special__check">{{spell.check}}+</div>
            <div class="flex-1 a-heading">
                <mat-icon *ngIf="spell.deadly" color="warn">error</mat-icon>
                {{spell.name}}
                <small>({{spell.type}})</small>
            </div>
            <div class="a-special__range">
                <mat-icon>double_arrow</mat-icon>
                {{spell.range||"-"}}
            </div>
            <div class="a-special__cost--mana">{{spell.cost||"0"}}</div>
        </div>

        <!-- <div class="u-sm">
            <strong>Cost: </strong> {{spell.cost||"N/A"}} ;
            <strong>Range: </strong> {{spell.range||"N/A"}}
        </div> -->

        <div class="desc u-sm">{{spell.desc}}</div>

        <hr>

        <div class="d-flex flex-justify-between flex-align-end">

            <div class="flex-1">
                <!-- if not cast already and not empty or insufficient -->
                <button class="u-sm" mat-flat-button color="accent"
                    *ngIf="canCast()" (click)="use()">Cast</button>

                <!-- if cast but not empty -->
                <button class="u-sm" mat-flat-button color="accent"
                    *ngIf="canSpendPowder()"
                    (click)="spendArcanePowder()">+powder</button>

                <!-- if cast but no applied xp -->
                <button class="u-sm" mat-flat-button color="accent"
                    *ngIf="canApplyXP()" (click)="applyXP()">
                    + {{spell.xp}} XP
                </button>

                <!-- if empty or not cast and insufficient -->
                <span *ngIf="isInsufficient()">
                    <em>not enough mana</em>
                </span>
            </div>

            <div class="flex-1 d-flex flex-justify-end flex-align-end">

                <button class="u-sm" mat-flat-button color="accent" (click)="edit()">
                    <mat-icon>edit</mat-icon>
                </button>
                &nbsp;&nbsp;&nbsp;
                <button class="u-sm" mat-flat-button color="warn"
                    (click)="confirmingDelete=true"
                    *ngIf="!confirmingDelete">
                    <mat-icon>delete_forever</mat-icon>
                </button>
                <div class="btn-group" *ngIf="confirmingDelete">
                    <button class="u-sm" mat-flat-button color="warn" (click)="remove()"><mat-icon>check_circle</mat-icon></button>
                    <button class="u-sm" mat-flat-button color="accent" (click)="confirmingDelete=false"><mat-icon>not_interested</mat-icon></button>
                </div>
            </div>

        </div>

    </div>

    <div *ngIf="isEditing">
        <div>
            <label>Name</label>
            <input type="text" class="form-control"
                [(ngModel)]="editable.name"
                placeholder="Name this spell">
        </div>

        <div>
            <label>Cost</label>
            <textarea rows="3" class="form-control" [(ngModel)]="editable.desc">
            </textarea>
        </div>

        <div class="d-flex flex-justify-between flex-align-center">
            <div class="col">
                <label>Deadly?
                    <input type="checkbox" [(ngModel)]="editable.deadly">
                </label>
            </div>
            <div class="col-2">
                <label>Type</label>
                <select class="form-control" [(ngModel)]="editable.type">
                    <option value="Earth">Earth</option>
                    <option value="Fire">Fire</option>
                    <option value="Water">Water</option>
                    <option value="Wind">Wind</option>
                </select>
            </div>
        </div>

        <div>
            <label>Range</label>
            <input type="text" class="form-control" [(ngModel)]="editable.range">
        </div>

        <div class="d-flex flex-justify-between flex-align-center">
            <div class="col">
                <label>Check</label>
                <input type="number" class="form-control" [(ngModel)]="editable.check">
            </div>

            <div class="col">
                <label>Cost</label>
                <input type="number" class="form-control" [(ngModel)]="editable.cost">
            </div>

            <div class="col">
                <label>XP</label>
                <input type="number" class="form-control" [(ngModel)]="editable.xp">
            </div>
        </div>

        <hr>

        <div class="d-flex flex-justify-between">
            <button class="u-sm" mat-flat-button color="accent" (click)="cancelEditing()">cancel</button>
            <button class="u-sm" mat-flat-button color="primary" (click)="save()">save</button>
        </div>
    </div>

</div>
