<div class="spell card">

    <div *ngIf="!isEditing">

        <h5 class="d-flex flex-justify-between flex-align-center">
            <div class="col">
                <span *ngIf="spell.deadly" style="color:#f00">!</span>
                {{spell.name}} <span *ngIf="spell.deadly"  class="icon-deadly">!</span>
                <small>({{spell.type}})</small>
            </div>
            <div class="d-flex flex-justify-end flex-align-end">
                <button class="u-sm" mat-flat-button color="accent" (click)="edit()">edit</button>
                &nbsp;&nbsp;&nbsp;
                <button class="u-sm" mat-flat-button color="warn"
                    (click)="confirmingDelete=true"
                    *ngIf="!confirmingDelete">
                    X
                </button>
                <div class="btn-group" *ngIf="confirmingDelete">
                    <button class="u-sm" mat-flat-button color="primary" (click)="remove()">Y</button>
                    <button class="u-sm" mat-flat-button color="accent" (click)="confirmingDelete=false">N</button>
                </div>
            </div>
        </h5>

        <div class="desc">{{spell.desc}}</div>

        <div class="u-sm u-mg-top--md u-mg-bottom--md">
            <div class="d-flex flex-justify-between flex-align-center">
                <div><strong>Range: </strong> {{spell.range||"N/A"}}</div>
                <div><strong>Check: </strong> [{{spell.check}}+]</div>
                <div><strong>Cost: </strong> {{spell.cost}}</div>
                <div><strong>XP: </strong> {{spell.xp||'N/A'}}</div>
            </div>
        </div>

        <hr>

        <div>

            <!-- if not cast already and not empty or insufficient -->
            <button class="u-sm" mat-flat-button color="accent"
                *ngIf="canCast()" (click)="use()">cast</button>

            <!-- if cast but not empty -->
            <button class="u-sm" mat-flat-button color="accent"
                *ngIf="canSpendPowder()"
                (click)="spendArcanePowder()">+powder</button>

            <!-- if cast but no applied xp -->
            <button class="u-sm" mat-flat-button color="accent"
                *ngIf="canApplyXP()" (click)="applyXP()">+xp</button>

            <!-- if empty or not cast and insufficient -->
            <span *ngIf="isInsufficient()">
                <em>not enough mana</em>
            </span>


        </div>

    </div>

    <div *ngIf="isEditing">
        <div>
            <label>Name</label>
            <input type="text" class="form-control"
                [(ngModel)]="editable.name"
                placeholder="Name this spell">
        </div>

        <div>
            <label>Cost</label>
            <textarea rows="3" class="form-control" [(ngModel)]="editable.desc">
            </textarea>
        </div>

        <div class="d-flex flex-justify-between flex-align-center">
            <div class="col">
                <label>Deadly?
                    <input type="checkbox" [(ngModel)]="editable.deadly">
                </label>
            </div>
            <div class="col-2">
                <label>Type</label>
                <select class="form-control" [(ngModel)]="editable.type">
                    <option value="Earth">Earth</option>
                    <option value="Fire">Fire</option>
                    <option value="Water">Water</option>
                    <option value="Wind">Wind</option>
                </select>
            </div>
        </div>

        <div>
            <label>Range</label>
            <input type="text" class="form-control" [(ngModel)]="editable.range">
        </div>

        <div class="d-flex flex-justify-between flex-align-center">
            <div class="col">
                <label>Check</label>
                <input type="number" class="form-control" [(ngModel)]="editable.check">
            </div>

            <div class="col">
                <label>Cost</label>
                <input type="number" class="form-control" [(ngModel)]="editable.cost">
            </div>

            <div class="col">
                <label>XP</label>
                <input type="number" class="form-control" [(ngModel)]="editable.xp">
            </div>
        </div>

        <hr>

        <div class="d-flex flex-justify-between">
            <button class="u-sm" mat-flat-button color="accent" (click)="cancelEditing()">cancel</button>
            <button class="u-sm" mat-flat-button color="primary" (click)="save()">save</button>
        </div>
    </div>

</div>
