<div class="c-channeling c-card">

    <h4>Channeling</h4>

    <label for="channelShifts" class="control-label">Shifts</label>
    <select class="form-control" id="channelShifts" 
        ng-model="$ctrl.shifts" ng-change="$ctrl.apply()">
        <option value="">Select Shifts</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
    </select>

</div>