<div class="c-character">

    <div class="c-card always-shown">
        <h4>{{$ctrl.character.name}}</h4>
        <select class="form-control" ng-model="$ctrl.character.template" 
            ng-options="tmpl for tmpl in $ctrl.templates"
            ng-change="$ctrl.save()">
            <option value="" disabled>Choose a template</option>
        </select>
    </div>

    <div class="l-container">

        <div class="l-column has-gutter">

            <aspects ng-model="$ctrl.character" on-change="$ctrl.save()"></aspects>

            <stress ng-model="$ctrl.character.stress" on-change="$ctrl.save()"></stress>

            <consequences ng-model="$ctrl.character.consequences" on-change="$ctrl.save()"></consequences>

            <div class="c-misc c-card is-shown">
                
                <form class="form-flex">
                    <div class="form-group">
                        <label for="powerLevel" class="control-label">Power Level</label>
                        <select id="powerLevel" class="form-control" 
                            ng-model="$ctrl.character.powerLevel"
                            ng-change="$ctrl.onPowerLevelChange()">
                            <option value="Feet in the Water">Feet in the Water</option>
                            <option value="Waist Deep">Waist Deep</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="powerLevel" class="control-label">Skill Cap</label>
                        {{$ctrl.character.skillCap}}
                    </div>
                    <div class="form-group">
                        <label for="powerLevel" class="control-label">Base Refresh</label>
                        {{$ctrl.character.baseRefresh}}
                    </div>
                    <div class="form-group">
                        <label for="powerLevel" class="control-label">Adjusted Refresh</label>
                        <input type="number" min="0" class="form-control" 
                            ng-model="$ctrl.character.adjustedRefresh" 
                            ng-change="$ctrl.save()">
                    </div>
                    <div class="form-group">
                        <label for="powerLevel" class="control-label">Fate Points</label>
                        <input type="number" min="0" class="form-control" 
                            ng-model="$ctrl.character.fatePoints" 
                            ng-change="$ctrl.save()">
                    </div>
                </form>
                
            </div>

        </div>

        <div class="l-column has-gutter">

            <skills ng-model="$ctrl.character.skills" on-change="$ctrl.save()"></skills>

            <powers ng-model="$ctrl.character.powers" on-change="$ctrl.save()"></powers>

            <items ng-model="$ctrl.character.items" on-change="$ctrl.save()"></items>

            <div class="c-ladder c-card">
                <h4>The Ladder</h4>
                <table>
                    <tr><td>Legendary</td><td>+8</td></tr>
                    <tr><td>Epic</td><td>+7</td></tr>
                    <tr><td>Fantastic</td><td>+6</td></tr>
                    <tr><td>Superb</td><td>+5</td></tr>
                    <tr><td>Great</td><td>+4</td></tr>
                    <tr><td>Good</td><td>+3</td></tr>
                    <tr><td>Fair</td><td>+2</td></tr>
                    <tr><td>Average</td><td>+1</td></tr>
                    <tr><td>Mediocre</td><td>+0</td></tr>
                    <tr><td>Poor</td><td>–1</td></tr>
                    <tr><td>Terrible</td><td>–2</td></tr>
                </table>
            </div>

        </div>  <!-- end of l-column -->

    </div>  <!-- end of l-container -->


    <phases ng-model="$ctrl.character.phases" on-change="$ctrl.save()"></phases>


    <div class="c-notes c-card">
        <h4>Notes</h4>
        <textarea rows="10" class="form-control" 
            ng-model="$ctrl.character.notes"
            ng-model-options="{ debounce: 500 }"
            ng-change="$ctrl.save()"></textarea>
    </div>


    <div class="c-indicator--save" ng-show="$ctrl.displayOpts.showSave">
        Character changes saved
    </div>

    <div class="c-nav">
        <button type="button" class="btn btn-link" onclick="show('.c-aspects,.c-misc', this)">home</button>
        <button type="button" class="btn btn-link" onclick="show('.c-skills,.c-ladder', this)">skills</button>
        <button type="button" class="btn btn-link" onclick="show('.c-powers', this)">powers</button>
        <button type="button" class="btn btn-link" onclick="show('.c-stress,.c-consequences', this)">stress</button>
        <button type="button" class="btn btn-link" onclick="show('.c-items', this)">items</button>
        <button type="button" class="btn btn-link" onclick="show('.c-phases,.c-notes', this)">notes</button>
    </div>


</div>