<div class="c-stress c-card">
                
    <button type="button" class="c-btn c-btn--sm c-btn--info pull-right" ng-click="$ctrl.resetStress()">reset</button>
    <h4>Stress</h4>

    <div ng-repeat="type in ['physical','mental','social','hunger']">
        <h5>{{type}}</h5>
        <div class="stress__track">
            <input type="number" min="0" max="8" class="form-control"
                ng-model="$ctrl.ngModel[type].threshold"
                ng-change="$ctrl.onChange()">
            <div ng-repeat="i in [0,1,2,3,4,5,6,7]">
                <div class="c-bubble disabled" ng-if="$ctrl.ngModel[type].threshold<(i+1)"></div>
                <div class="c-bubble" 
                    ng-if="$ctrl.ngModel[type].threshold>=(i+1)"
                    ng-class="{active:$ctrl.ngModel[type].used[i]}"
                    ng-click="$ctrl.toggleStress(type,i)">
                </div>
            </div>
        </div>
    </div>

    <h5>Armor</h5>
    <textarea rows="2" class="form-control" 
        ng-model="$ctrl.ngModel.armor" ng-change="$ctrl.onChange()"></textarea>

</div>