<h5 mat-dialog-title>Choose Trick</h5>
<div mat-dialog-content>

    <div *ngIf="!data || !data.options || !data.options.rest || !data.options.rest.length">
        Loading available options...
    </div>

    <!-- starting path options -->
    <div class="c-ability--heading" (click)="groupToggles.paths=!groupToggles.paths">
        <span [ngClass]="{'icon-caret--down':groupToggles.paths,'icon-caret--up':!groupToggles.paths}"></span>
        Starting Paths
    </div>
    <div class="c-ability--group" [ngClass]="{hidden:groupToggles.paths}">
        <div *ngIf="!data?.options?.paths.length" class="c-option--available">
            <em>You've already selected a path</em>
        </div>
        <div *ngFor="let ability of data?.options?.paths"
            class="c-option--available"
            (click)="choose(ability)"
            [ngClass]="{'is-selected':isChosen(ability)}">
            <div class="a-heading">
                <mat-icon>{{isChosen(ability)?'check_box':'check_box_outline_blank'}}</mat-icon>
                {{ability.name}}
            </div>
            <div class="u-sm">{{ability.value||ability.desc}}</div>
        </div>
    </div>

    <!-- rolled upgrades -->
    <div class="c-ability--heading" (click)="groupToggles.rolled=!groupToggles.rolled">
        <span [ngClass]="{'icon-caret--down':groupToggles.rolled,'icon-caret--up':!groupToggles.rolled}"></span>
        Rolled Upgrades
    </div>
    <div class="c-ability--group" [ngClass]="{hidden:groupToggles.rolled}">
        <div *ngFor="let ability of data?.options?.rolled"
            class="c-option--available"
            (click)="choose(ability)"
            [ngClass]="{'is-selected':isChosen(ability)}">
            <div class="a-heading">
                <mat-icon>{{isChosen(ability)?'check_box':'check_box_outline_blank'}}</mat-icon>
                <span *ngIf="ability.roll">({{ability.roll}} / 2D6) </span>
                {{ability.name}}
            </div>
            <div class="u-sm">{{ability.value||ability.desc}}</div>
        </div>
    </div>


    <!-- remaining level up options -->
    <div class="c-ability--heading" (click)="groupToggles.rest=!groupToggles.rest">
        <span [ngClass]="{'icon-caret--down':groupToggles.rest,'icon-caret--up':!groupToggles.rest}"></span>
        Class Abilities
    </div>
    <div class="c-ability--group" [ngClass]="{hidden:groupToggles.rest}">
        <div *ngFor="let ability of data?.options?.rest"
            class="c-option--available"
            (click)="choose(ability)"
            [ngClass]="{'is-selected':isChosen(ability)}">
            <div class="a-heading">
                <mat-icon *ngIf="ability.disabled">not_interested</mat-icon>
                <mat-icon *ngIf="!ability.disabled">{{isChosen(ability)?'check_box':'check_box_outline_blank'}}</mat-icon>
                {{ability.name}}
            </div>
            <div class="u-sm">{{ability.value||ability.desc}}</div>
            <div class="u-sm" *ngIf="ability.requires"
                [ngClass]="{'is-highlighted': ability.disabled}">
                <em>Requires: </em> <strong>{{ability.requires}}</strong>
            </div>
        </div>
    </div>

</div>
<div mat-dialog-actions class="d-flex flex-justify-end flex-align-center">
    <a mat-flat-button color="accent" (click)="close()" aria-label="Close">Cancel</a>
    &nbsp;&nbsp;&nbsp;
    <a mat-flat-button color="primary" [mat-dialog-close]="selection"
        aria-label="Apply"
        [disabled]="!selection">
        Apply
    </a>
</div>
