
:host {
    display: block;
    max-width: 400px;
}

.c-ability--group {
    min-width: 400px;
}


.c-ability--heading {
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5em 0.5em;
    margin-bottom: -1px;
    border: 1px solid #bbb;
    background: #ddd;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.c-ability--available {
    padding: 1em 0.5em;
    border-bottom: 1px solid #ddd;

    &.is-selected {
        background-color: #3267dd;
        color: #fff;
    }

    p {
        font-size: 0.875em;
        margin-bottom: 0.5em;
    }
}
