

.attributes {
    margin-top: 0.5em;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    // font-size: 1.5em;

    .value-display .label {
        background-color: #000;
        color: #fff;
    }

    & > div {
        margin-bottom: 0.5em;
    }

}
