
.l-char {
    flex-wrap:   nowrap;
    align-items: stretch;
    overflow-y:  hidden;
    overflow-x:  auto;
    height:      100%;
    // padding-top: 36px;
    // white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.l-page {
    flex: 1 0 100%;
    overflow-y: auto;
    white-space: normal;
}

@media(min-width:375px) {
    .l-page { flex: 1 0 375px; }
}

.attributes {
    margin-top: 0.5em;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    // font-size: 1.5em;

    .value-display .label {
        background-color: #000;
        color: #fff;
    }

    & > div {
        margin-bottom: 0.5em;
    }

}




.o-bio-container {
    border-bottom: 1px solid #bbb;
    padding: 0 1em 2em;
}

@media(min-width:992px) {
    .p-overview {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .o-bio-container {
        flex: 1;
        border-bottom: none;
        padding: 0 2em;
    }
    .o-attributes-container {
        flex: 3;
    }
}

.bio {
    padding: 0.25em 0.25em 0;
    border: 1px solid #bbb;
    background: #f7f7f787;
}




.t-combat, .t-health, .t-sanity, .t-grit, .t-corruption,
.t-faith, .t-mana, .t-magik, .t-fury, .t-ki {
    flex: 1 0 100%;

    justify-content: center;
    & > .m-grid {
        justify-content: center;
    }
}

.t-health, .t-sanity {
    & > .m-grid {
        justify-content: center;

        .m-grid { justify-content: center; }
    }
}

@media(min-width: 992px) {
    .t-combat {
        justify-content: flex-start;
    }
    .t-health, .t-sanity {
        flex: 1;
        justify-content: flex-start;

        & > .m-grid { justify-content: flex-start; }
    }
    .t-grit, .t-corruption, .t-faith,
    .t-mana, .t-magik, .t-fury, .t-ki {
        flex: 0 1 auto;
        justify-content: flex-start;
    }

    .t-combat, .t-health, .t-sanity, .t-grit, .t-corruption,
    .t-faith, .t-mana, .t-magik, .t-fury, .t-ki {
        & > .m-grid {
            justify-content: flex-start;
            .m-grid { justify-content: flex-start; }
        }
    }
}











.mat-tab-group {
    width: 100%;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.25em 0;
    background-image: url(assets/texture.png);

    & > section {
        flex: 1;
    }
    &.misc {
        padding: 0;
        justify-content: stretch;
    }
}
