<div class="abilities">
    <h4>Abilities</h4>
    <div ng-repeat="(name, desc) in character.abilities" 
        ability name="{{name}}" desc="{{desc}}" on-save="onEdited(name, newName, newDesc)"></div>

    <hr>
    
    <div class="grid grid--bleed">
        <div class="grid__col-md-5">
            <input type="text" class="form-control" placeholder="Name" ng-model="value.name">
        </div>
        <div class="grid__col-md-7">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Description" ng-model="value.desc">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-success" ng-disabled="!value.name" 
                        ng-click="add()">+</button>
                </span>
            </div>
        </div>
        
    </div>
</div>