<div class="footer">

    <div class="grid">

        <div class="grid__col-sm-12 grid__col-md-6">

            <div>
                
                <div class="level">
                    <div class="stat">
                        <label>Level</label>
                        <div class="value" editable-stat-value on-save="ctrl.save()" ng-model="ctrl.character.level" minimum="1">
                        </div>
                    </div>
                </div>
                
                <div class="xp">
                    <div class="stat">
                        <!-- <label>XP</label> -->
                        <div class="value--sm" editable-stat-value on-save="ctrl.save()" ng-model="ctrl.character.xp"></div>
                        <img src="assets/xp.png">
                    </div>
                </div>
                
                <div class="wealth">
                    <div class="stat">
                        <div class="value--sm" editable-stat-value on-save="ctrl.save()" ng-model="ctrl.character.wealth"></div>
                        <img src="assets/wealth.png">
                    </div>
                </div>

                <div class="darkstone">
                    <div class="stat">
                        <div editable-stat-value on-save="ctrl.save()" ng-model="ctrl.character.darkstone"></div>
                        <img src="assets/darkstone.png">
                    </div>
                </div>

            </div>

            <div class="grid grid--bleed grid--wrap-reverse">

                <div class="grid__col-xs-5 grid__col-sm-4">

                    <ng-include src="'src/character/sidebag.html'"></ng-include>    
                    
                </div>
                
                <div class="grid__col-xs-7 grid__col-sm-8">

                    <ng-include src="'src/character/health.html'"></ng-include>

                    <ng-include src="'src/character/sanity.html'"></ng-include>
                    
                    <ng-include src="'src/character/faith-and-corruption.html'"></ng-include>
                    
                    <ng-include src="'src/character/move-and-grit.html'"></ng-include>

                </div>
                
            </div>

        </div>
        <div class="grid__col-sm-12 grid__col-md-6">

            <ng-include src="'src/character/clothing.html'"></ng-include>

            <div mutations character="ctrl.character" on-save="ctrl.save()"></div>

        </div>
    </div>

</div>