<div class="health">
    <div class="stat">
        <label>Max Health</label>
        <div editable-stat-value on-save="ctrl.save()" ng-model="ctrl.character.health.max"></div>
    </div>
    <div class="stat">
        <div editable-stat-value on-save="ctrl.save()" 
            ng-model="ctrl.character.health.wounds"></div>
        <!-- <img src="assets/wound.png">    --> 
        <span class="sprite sprite-wound"></span>
    </div>
    <div class="stat stat--with-plus">
        <label>Defense</label>
        <div editable-stat-value on-save="ctrl.save()" ng-model="ctrl.character.defense"></div>
    </div>
    <div class="stat stat--with-plus">
        <label>Armor</label>
        <div editable-stat-value on-save="ctrl.save()" ng-model="ctrl.character.armor"></div>
    </div>
</div>