
<div>
    <div class="movement">
        <div class="stat">
            <label>Move</label>
            <div editable-stat-value on-save="ctrl.save()" ng-model="ctrl.character.movement"></div>
        </div>
    </div>
    <div class="grit">
        <div class="stat">
            <label>Max Grit</label>
            <div editable-stat-value on-save="ctrl.save()" ng-model="ctrl.character.grit.max"></div>
        </div>
        <div class="stat">
            <label>Current</label>
            <div editable-stat-value on-save="ctrl.save()" ng-model="ctrl.character.grit.current"></div>
        </div>
    </div>
</div>