
<div class="sanity">
    <div class="stat">
        <label>Max Sanity</label>
        <div editable-stat-value on-save="ctrl.save()" ng-model="ctrl.character.sanity.max"></div>
    </div>
    <div class="stat">
        <!-- <label>Loss</label> -->
        <div editable-stat-value on-save="ctrl.save()" 
            ng-model="ctrl.character.sanity.loss"></div>
        <img src="assets/sanity.png">
    </div>
    <div class="stat">
        <label>Willpower</label>
        <div editable-stat-value on-save="ctrl.save()" ng-model="ctrl.character.willpower"></div>
    </div>
    <div class="stat">
        <label>Sp Armor</label>
        <div editable-stat-value on-save="ctrl.save()" ng-model="ctrl.character.spiritArmor"></div>
    </div>
</div>
