<div class="sidebag">
    <h4>Side Bag</h4>

    <div class="stat">
        <!-- <label>Bandages</label> -->
        <div editable-stat-value on-save="ctrl.save()" 
            ng-model="ctrl.character.sidebag.bandages"
            maximum="{{ctrl.getAvailableSidebagCapacity()}}"></div>
        <img src="assets/bandages.png">
    </div>    
    <div class="stat">
        <!-- <label>Whiskey</label> -->
        <div editable-stat-value on-save="ctrl.save()" 
            ng-model="ctrl.character.sidebag.whiskey"
            maximum="{{ctrl.getAvailableSidebagCapacity()}}"></div>
        <img src="assets/whiskey.png">
    </div>    
    <div class="stat">
        <!-- <label>Tonic</label> -->
        <div editable-stat-value on-save="ctrl.save()" 
            ng-model="ctrl.character.sidebag.tonic"
            maximum="{{ctrl.getAvailableSidebagCapacity()}}"></div>
        <img src="assets/tonic.png">
    </div>    
    <div class="stat">
        <!-- <label>Herbs</label> -->
        <div editable-stat-value on-save="ctrl.save()" 
            ng-model="ctrl.character.sidebag.herbs"
            maximum="{{ctrl.getAvailableSidebagCapacity()}}"></div>
        <img src="assets/herb.png">
    </div>    
    <div class="stat">
        <!-- <label>Dynamite</label> -->
        <div editable-stat-value on-save="ctrl.save()" 
            ng-model="ctrl.character.sidebag.dynamite"
            maximum="{{ctrl.getAvailableSidebagCapacity()}}"></div>
        <img src="assets/dynamite.png">
    </div>    
    <div class="stat">
        <!-- <label>Flash</label> -->
        <div editable-stat-value on-save="ctrl.save()" 
            ng-model="ctrl.character.sidebag.flash"
            maximum="{{ctrl.getAvailableSidebagCapacity()}}"></div>
        <img src="assets/flash.png">
    </div>    
    <div class="stat">
        <!-- <label>Swamp Fungus</label> -->
        <div editable-stat-value on-save="ctrl.save()" 
            ng-model="ctrl.character.sidebag.fungus"
            maximum="{{ctrl.getAvailableSidebagCapacity()}}"></div>
        <img src="assets/fungus.png">
    </div>    


    <div class="stat">
        <!-- <label>Spice</label> -->
        <div editable-stat-value on-save="ctrl.save()" 
            ng-model="ctrl.character.sidebag.spices"
            maximum="{{ctrl.getAvailableSidebagCapacity()}}"></div>
        <img src="assets/spice.png">
    </div> 
    <div class="stat">
        <!-- <label>Potion</label> -->
        <div editable-stat-value on-save="ctrl.save()" 
            ng-model="ctrl.character.sidebag.potions"
            maximum="{{ctrl.getAvailableSidebagCapacity()}}"></div>
        <img src="assets/potion.png">
    </div> 
    <div class="stat">
        <!-- <label>Hatchet</label> -->
        <div editable-stat-value on-save="ctrl.save()" 
            ng-model="ctrl.character.sidebag.hatchets"
            maximum="{{ctrl.getAvailableSidebagCapacity()}}"></div>
        <img src="assets/hatchet.png">
    </div> 
    <div class="stat">
        <!-- <label>Lantern Oil</label> -->
        <div editable-stat-value on-save="ctrl.save()" 
            ng-model="ctrl.character.sidebag.lanternOil"
            maximum="{{ctrl.getAvailableSidebagCapacity()}}"></div>
        <img src="assets/oil.png">
    </div> 
    <div class="stat">
        <!-- <label>Exotic Herbs</label> -->
        <div editable-stat-value on-save="ctrl.save()" 
            ng-model="ctrl.character.sidebag.exoticHerbs"
            maximum="{{ctrl.getAvailableSidebagCapacity()}}"></div>
        <img src="assets/exoticHerbs.png">
    </div> 
    <div class="stat">
        <!-- <label>Tequila</label> -->
        <div editable-stat-value on-save="ctrl.save()" 
            ng-model="ctrl.character.sidebag.tequila"
            maximum="{{ctrl.getAvailableSidebagCapacity()}}"></div>
        <img src="assets/tequila.png">
    </div> 
    <div class="stat">
        <!-- <label>Fine Cigar</label> -->
        <div editable-stat-value on-save="ctrl.save()" 
            ng-model="ctrl.character.sidebag.cigars"
            maximum="{{ctrl.getAvailableSidebagCapacity()}}"></div>
        <img src="assets/cigar.png">
    </div> 


    <div class="stat">
        <label>Capacity</label>
        <div editable-stat-value on-save="ctrl.save()" 
            ng-model="ctrl.character.sidebag.capacity"
            maximum="{{ctrl.getAvailableSidebagCapacity()}}"></div>
    </div>    
</div>