<div class="stats">
    <div class="stat">
        <label>Agility</label>
        <div editable-stat-value on-save="ctrl.save()" ng-model="ctrl.character.stats.Agility" minimum="1"></div>
    </div>

    <div class="stat">
        <label>Cunning</label>
        <div editable-stat-value on-save="ctrl.save()" ng-model="ctrl.character.stats.Cunning" minimum="1"></div>
    </div>

    <div class="stat">
        <label>Spirit</label>
        <div editable-stat-value on-save="ctrl.save()" ng-model="ctrl.character.stats.Spirit" minimum="1"></div>
    </div>
    <br>
    <span class="hidden-xs" style="display:inline-block;width:2em;"></span>

    <div class="stat">
        <label>Strength</label>
        <div editable-stat-value on-save="ctrl.save()" ng-model="ctrl.character.stats.Strength" minimum="1"></div>
    </div>

    <div class="stat">
        <label>Lore</label>
        <div editable-stat-value on-save="ctrl.save()" ng-model="ctrl.character.stats.Lore" minimum="1"></div>
    </div>

    <div class="stat">
        <label>Luck</label>
        <div editable-stat-value on-save="ctrl.save()" ng-model="ctrl.character.stats.Luck" minimum="1"></div>
    </div>

    <div class="stat">
        <label>Initiative</label>
        <div editable-stat-value on-save="ctrl.save()" ng-model="ctrl.character.init" minimum="1"></div>
    </div>

</div>