<div class="modal-content keypad">
  <!-- <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
  </div> -->
    <div class="modal-body">

        <label>Current: {{value}}</label><br><br>
        
        <button type="button" ng-click="change(-10)">-10</button>
        <button type="button" ng-click="change(-5)">-5</button>
        <button type="button" ng-click="change(-2)">-2</button>
        <button type="button" ng-click="change(-1)">-1</button>
        <br>

        <button type="button" ng-click="change(1)">1</button>
        <button type="button" ng-click="change(2)">2</button>
        <button type="button" ng-click="change(3)">3</button>
        <button type="button" ng-click="change(4)">4</button>
        <br>
        
        <button type="button" ng-click="change(5)">5</button>
        <button type="button" ng-click="change(10)">10</button>
        <button type="button" ng-click="change(15)">15</button>
        <button type="button" ng-click="change(20)">20</button>
        <br>
        
        <button type="button" ng-click="change(25)">25</button>
        <button type="button" ng-click="change(30)">30</button>
        <button type="button" ng-click="change(35)">35</button>
        <button type="button" ng-click="change(40)">40</button>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">Apply</button>
    </div>
</div>
