<div class="modal-content keypad">
  
    <div class="modal-body">

        <h5>
            Current: {{value}}
            <span ng-if="modifier">(<span ng-if="modifier&&modifier>=0">+</span>{{modifier}})</span>
            <br>
            <small>(min: {{minimum}}, max: {{maximum}})</small>
        </h5>

        <div class="f-container f-justify-between f-wrap">

            <div class="f-cell f-cell-75p">
        
                <button type="button" class="btn btn-danger" ng-click="change(-100)" ng-disable="value==minimum">-100</button>
                <button type="button" class="btn btn-danger" ng-click="change(-50)" ng-disable="value==minimum">-50</button>
                <button type="button" class="btn btn-danger" ng-click="change(-20)" ng-disable="value==minimum">-20</button>
                <br>

                <button type="button" class="btn btn-danger" ng-click="change(-10)" ng-disable="value==minimum">-10</button>
                <button type="button" class="btn btn-danger" ng-click="change(-5)" ng-disable="value==minimum">-5</button>
                <button type="button" class="btn btn-danger" ng-click="change(-1)" ng-disable="value==minimum">-1</button>
                <br>

                <button type="button" class="btn btn-success" ng-click="change(1)">+1</button>
                <button type="button" class="btn btn-success" ng-click="change(5)">+5</button>
                <button type="button" class="btn btn-success" ng-click="change(10)">+10</button>
                <br>
                
                <button type="button" class="btn btn-success" ng-click="change(20)">+20</button>
                <button type="button" class="btn btn-success" ng-click="change(50)">+50</button>
                <button type="button" class="btn btn-success" ng-click="change(100)">+100</button>
                <br>
                <br>
            </div>

            <div class="f-cell f-cell-25p">
                <small><strong>applied:</strong><br>{{changes}}</small>
            </div>
        </div>


        <div class="manual-entry">
            <div class="input-group">
                <span class="input-group-btn">
                    <a class="btn btn-danger" ng-click="changeManual(-1)" ng-class="{disabled:!hasManual()}">-</a>
                </span>
                <input type="number" class="form-control" ng-model="manualAdj" placeholder="Adjust by ...">
                <span class="input-group-btn">
                    <a class="btn btn-success" ng-click="changeManual(1)" ng-class="{disabled:!hasManual()}">+</a>
                </span>
            </div>
        </div>

    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">Apply</button>
    </div>

</div>
