<div class="modal-content keypad">
  
    <div class="modal-body">

        <h3>Current: {{value}} <br><small>(min: {{minimum}}, max: {{maximum}})</small></h3>
        
        <button type="button" class="btn btn-danger" ng-click="change(-10)" ng-disable="value==minimum">-10</button>
        <button type="button" class="btn btn-danger" ng-click="change(-5)" ng-disable="value==minimum">-5</button>
        <button type="button" class="btn btn-danger" ng-click="change(-2)" ng-disable="value==minimum">-2</button>
        <button type="button" class="btn btn-danger" ng-click="change(-1)" ng-disable="value==minimum">-1</button>
        <br>

        <button type="button" class="btn btn-success" ng-click="change(1)">+1</button>
        <button type="button" class="btn btn-success" ng-click="change(2)">+2</button>
        <button type="button" class="btn btn-success" ng-click="change(3)">+3</button>
        <button type="button" class="btn btn-success" ng-click="change(4)">+4</button>
        <br>
        
        <button type="button" class="btn btn-success" ng-click="change(5)">+5</button>
        <button type="button" class="btn btn-success" ng-click="change(10)">+10</button>
        <button type="button" class="btn btn-success" ng-click="change(15)">+15</button>
        <button type="button" class="btn btn-success" ng-click="change(20)">+20</button>
        <br>
        
        <button type="button" class="btn btn-success" ng-click="change(25)">+25</button>
        <button type="button" class="btn btn-success" ng-click="change(30)">+30</button>
        <button type="button" class="btn btn-success" ng-click="change(35)">+35</button>
        <button type="button" class="btn btn-success" ng-click="change(40)">+40</button>

    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">Apply</button>
    </div>

</div>
