<div class="modal-content">
    <div class="modal-body">

        <form class="form">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Email address" class="form-control" ng-model="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Password" class="form-control" ng-model="password">
            </div>

            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="login()">Login</button>
        </form>

    </div>
</div>