
/* ----------- SPRITES ------------- */

img.sprite-darkstone {
    left: -.25em;
    bottom: -.25em;
}


.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: bottom;
}

.sprite-bandages {
    width: 55px;
    height: 55px;
    background-position: -5px -5px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-cigar, .sprite-cigars {
    width: 55px;
    height: 55px;
    background-position: -70px -5px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-corruption {
    width: 56px;
    height: 56px;
    background-position: -135px -5px;
    zoom: 0.5;
    -moz-transform: scale(0.6);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.6);
    -o-transform-origin: 0 0;
}

.sprite-dynamite {
    width: 55px;
    height: 55px;
    background-position: -200px -5px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-exoticHerbs {
    width: 55px;
    height: 54px;
    background-position: -5px -70px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-flash {
    width: 55px;
    height: 55px;
    background-position: -70px -70px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-fungus {
    width: 55px;
    height: 55px;
    background-position: -135px -70px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-hatchet, .sprite-hatchets {
    width: 55px;
    height: 55px;
    background-position: -200px -70px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-herb, .sprite-herbs {
    width: 55px;
    height: 55px;
    background-position: -5px -135px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-item_darkstone {
    width: 55px;
    height: 55px;
    background-position: -70px -135px;
    zoom: 0.3;
    -moz-transform: scale(0.4);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.4);
    -o-transform-origin: 0 0;
}

.sprite-item_hands {
    width: 55px;
    height: 55px;
    background-position: -135px -135px;
    zoom: 0.3;
    -moz-transform: scale(0.4);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.4);
    -o-transform-origin: 0 0;
}

.sprite-item_slots {
    width: 55px;
    height: 55px;
    background-position: -200px -135px;
    zoom: 0.3;
    -moz-transform: scale(0.4);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.4);
    -o-transform-origin: 0 0;
}

.sprite-item_weight {
    width: 55px;
    height: 55px;
    background-position: -5px -200px;
    zoom: 0.3;
    -moz-transform: scale(0.4);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.4);
    -o-transform-origin: 0 0;
}

.sprite-oil, .sprite-lanternOil {
    width: 55px;
    height: 55px;
    background-position: -70px -200px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-potion, .sprite-potions {
    width: 55px;
    height: 55px;
    background-position: -135px -200px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-sanity {
    width: 56px;
    height: 56px;
    background-position: -200px -200px;
    zoom: 0.5;
    -moz-transform: scale(0.6);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.6);
    -o-transform-origin: 0 0;
}

.sprite-spice, .sprite-spices {
    width: 55px;
    height: 55px;
    background-position: -265px -5px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-tequila {
    width: 55px;
    height: 55px;
    background-position: -265px -70px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-tonic {
    width: 55px;
    height: 55px;
    background-position: -265px -135px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-wealth {
    width: 55px;
    height: 55px;
    background-position: -265px -200px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-whiskey {
    width: 55px;
    height: 55px;
    background-position: -5px -265px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite-wound {
    width: 56px;
    height: 56px;
    background-position: -70px -265px;
    zoom: 0.5;
    -moz-transform: scale(0.6);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.6);
    -o-transform-origin: 0 0;
}

.sprite-xp {
    width: 56px;
    height: 56px;
    background-position: -135px -265px;
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
}

.sprite.disabled { opacity: 0.25; }

/* ------------------------------------- */
