
<h4 class="d-flex flex-justify-between flex-align-center">
    <div class="col u-text--sc">{{label}}</div>
    <button mat-flat-button color="primary" *ngIf="!character.faction" (click)="openChooser()">New</button>
</h4>
<hr>
<div class="card" *ngIf="!character?.faction">
    No {{label}} selected
</div>
<div class="card" *ngIf="character?.faction">
    <div class="d-flex flex-justify-between flex-align-end">
        <div class="a-heading">{{character.faction.name}}</div>
        <button mat-flat-button color="warn" class="u-sm" (click)="character.faction=null;">
            <mat-icon>delete_forever</mat-icon>
        </button>
    </div>
    <div class="desc">{{character.faction.desc||character.faction.description}}</div>
    <br>
    <mat-chip-list *ngIf="character.faction.modifiers" class="u-sm" [selectable]="false">
        <mat-chip *ngFor="let modifier of character.faction.modifiers">
            {{modifier.affects}} {{modifier.value|modifier}}
        </mat-chip>
    </mat-chip-list>
</div>
