<h5 mat-dialog-title>Choose Trick</h5>
<div mat-dialog-content>
    <div *ngFor="let spell of data?.options"
        class="c-option--available"
        (click)="choose(spell)"
        [ngClass]="{'is-selected':isChosen(spell)}">
        <div class="a-heading">
            <mat-icon>{{isChosen(spell)?'check_box':'check_box_outline_blank'}}</mat-icon>
            {{spell.name}}
        </div>
        <div class="u-sm">
            <div>{{spell.desc}}</div>
            <div class="col" *ngIf="spell.requires">
                <strong>Requires</strong> <em>{{spell.requires}}</em>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions class="d-flex flex-justify-end flex-align-center">
    <a mat-flat-button color="accent" (click)="close()" aria-label="Close">Cancel</a>
    &nbsp;&nbsp;&nbsp;
    <a mat-flat-button color="primary" [mat-dialog-close]="selection"
        aria-label="Apply"
        [disabled]="!selection">
        Apply
    </a>
</div>
