<div class="sidebag">
    
    <br>
    <div class="clearfix">
        <div class="pull-right">
            <div class="stat">
                <label>Capacity</label>
                <div editable-stat-value on-save="$ctrl.save()" 
                    ng-model="$ctrl.sidebag.capacity"></div>
            </div>  
        </div>
        <h4>Sidebag</h4>
    </div>
    <br>
    
    <div class="f-container f-justify-between f-wrap">
    
        <div ng-repeat="option in $ctrl.options" class="sidebag__option">
            <label><span class="sprite sprite-{{option}}"></span> {{option}}</label>

            <!-- <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-danger"
                        ng-click="$ctrl.decrease(option)">&minus;</button>
                </span>
                <input type="number" min="0" class="form-control" disabled ng-model="$ctrl.sidebag[option]">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-success"
                        ng-click="$ctrl.increase(option)">&plus;</button>
                </span>
            </div> -->

            <button type="button" class="btn btn-default"
                ng-click="$ctrl.decrease(option)"
                ng-disabled="!$ctrl.sidebag[option]">&minus;</button>
            <span class="option__display">{{$ctrl.sidebag[option]}}</span>
            <button type="button" class="btn btn-default"
                ng-click="$ctrl.increase(option)"
                ng-disabled="!$ctrl.max">&plus;</button>
        </div>

    </div>
  
</div>