<div class="sidebag">
    
    <br>
    <div class="f-container f-row f-align-center">
        <h4 class="f-cell-1x">Sidebag</h4>
        <div class="sidebag__carrying">{{$ctrl.carrying}} / </div>
        <div>
            <div class="stat">
                <label>Capacity</label>
                <div editable-stat-value on-save="$ctrl.save()" 
                    ng-model="$ctrl.sidebag.capacity"></div>
            </div>  
        </div>
    </div>
    <br>
    
    <div class="f-container f-justify-between f-wrap">
    
        <div ng-repeat="option in $ctrl.options" class="sidebag__option">
            <label>
                <span class="sprite sprite-{{option.label}}"></span> {{option.label}}
            </label>
            <div class="sidebag__control">
                <button type="button" class="btn btn-default"
                    ng-click="$ctrl.decrease(option.label)"
                    ng-disabled="!$ctrl.sidebag[option.label]">
                    &minus;
                </button>
                <span class="option__display">{{$ctrl.sidebag[option.label]}}</span>
                <button type="button" class="btn btn-default"
                    ng-click="$ctrl.increase(option.label)"
                    ng-disabled="!$ctrl.max">
                    &plus;
                </button>
            </div>
            <small class="help-block">{{option.description}}</small>
        </div>

    </div>
  
</div>