<!-- no title to reduce height -->
<div mat-dialog-content>

    <mat-tab-group>
        <mat-tab label="Overview">
            <div class="form-group">
                <label class="u-sm">Name</label>
                <input type="text" class="form-control input-sm"
                    [(ngModel)]="data.item.name" placeholder="Name the item">
            </div>
            <div class="form-group">
                <label class="u-sm">Description</label>
                <textarea rows="3" class="form-control input-sm"
                    [(ngModel)]="data.item.description"
                    placeholder="Provide a description">
                </textarea>
            </div>
            <div class="form-group">
                <label class="u-sm">Keywords</label>
                <input type="text" class="form-control input-sm"
                    [(ngModel)]="data.item.keywords"
                    placeholder="Specify item keywords">
            </div>
        </mat-tab>
        <mat-tab label="About">
            <div class="form-group">
                <label class="u-sm">Source</label>
                <input type="text" class="form-control input-sm" [(ngModel)]="data.item.source" placeholder="Source (eg, 'General Store' or 'Targa Plateau')">
            </div>
            <div class="form-group">
                <label class="u-sm">Use</label>
                <select class="form-control" [(ngModel)]="data.item.usage">
                    <option [ngValue]="null">N/A</option>
                    <option *ngFor="let use of uses" [ngValue]="use">{{use}}</option>
                </select>
            </div>
            <div class="form-group">
                <label class="u-sm">Clothing Slot</label>
                <select type="text" class="form-control" [(ngModel)]="data.item.slot">
                    <option [ngValue]="null">Select Slot (optional)</option>
                    <option *ngFor="let slot of slots" [ngValue]="slot">{{slot}}</option>
                </select>
            </div>
        </mat-tab>
        <mat-tab label="Stats">
            <br>
            <div class="d-flex flex-justify-between flex-align-center">
                <div>Cost</div>
                <input type="text" class="form-control flex-1 u-sm" [(ngModel)]="data.item.cost"
                    placeholder="Optionally, specify the cost">
            </div>
            <br>
            <div class="d-flex flex-justify-between flex-align-center">
                <div class="col" style="margin-right: 2em;">

                    <div class="d-flex flex-justify-between flex-align-center">
                        <img src="assets/item_weight.png" height="16">
                        <select type="text" class="form-control" [(ngModel)]="data.item.weight">
                            <option>None</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>

                    <div class="d-flex flex-justify-between flex-align-center">
                        <img src="assets/item_hands.png" height="16">
                        <select type="text" class="form-control" [(ngModel)]="data.item.hands">
                            <option>None</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>

                <div class="col">

                    <div class="d-flex flex-justify-between flex-align-center">
                        <img src="assets/item_darkstone.png" height="16">
                        <select type="text" class="form-control" [(ngModel)]="data.item.darkstone">
                            <option>None</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>

                    <div class="d-flex flex-justify-between flex-align-center">
                        <img src="assets/item_slots.png" height="16">
                        <select type="text" class="form-control" [(ngModel)]="data.item.slots">
                            <option>None</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
        </mat-tab>
        <mat-tab label="Modifiers">
            <br>
            <button mat-flat-button color="success" (click)="addModifier()">
                <mat-icon>add</mat-icon> Add
            </button>

            <div class="d-flex flex-align-center flex-justify-between"
                *ngFor="let modifier of data.item.modifiers">

                <div class="col-2" id="modifier-{{id}}">
                    <select class="form-control u-sm" [(ngModel)]="modifier.affects">
                        <option [ngValue]="null">Select</option>
                        <option *ngFor="let modtarget of modifierTargets" [ngValue]="modtarget">
                            {{modtarget}}
                        </option>
                    </select>
                </div>
                <div class="col">
                    <input type="number" min="-10" [(ngModel)]="modifier.value"
                        class="form-control u-sm" placeholder="0">
                </div>
                <div class="col">
                    <button mat-flat-button color="warn" (click)="removeModifier($index)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>
<div mat-dialog-actions class="d-flex flex-justify-end flex-align-center">
    <a mat-flat-button color="light" (click)="close()" aria-label="Close">Cancel</a>
    &nbsp;&nbsp;&nbsp;
    <a mat-flat-button color="primary" [mat-dialog-close]="data.item" aria-label="Save">Save</a>
</div>
