:host {
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

h3, h4, h5 {
    margin: 0;
}


.card .desc {
    font-size: 0.875em;
    color: #555;
    text-align: justify;
}

.card {
    display     : flex;
    align-items : flex-start;
    background  : rgba(255,255,255,0.75);
    margin      : 0.5em 0;
    padding     : 0.5em;
    box-shadow  : 0 1px 3px rgba(0,0,0,0.2);
    width       : 100%;
    border-radius: 4px;
    font-size   : 0.875em;
}



.o-mutation-container,
.o-injury-container,
.o-madness-container {
    margin-bottom: 3em;
}

@media(min-width:992px) {
    .p-mim {
        // display: flex;
        // justify-content: space-between;
        // align-items: flex-start;
    }

    .o-mutation-container,
    .o-injury-container,
    .o-madness-container {
        flex: 1;
        // padding: 0 1em;
    }
}
