
<div>
    <ateam-slot [slot]="slots[0]"
        [canSelectDie]="true"
        (onEvent)="onSlotEvent($event)">
    </ateam-slot>
</div>
<div>
    <ateam-slot [slot]="slots[1]"
        [canSelectDie]="true"
        (onEvent)="onSlotEvent($event)"> 
    </ateam-slot>
    <ateam-slot [slot]="slots[2]"
        [canSelectDie]="true"
        (onEvent)="onSlotEvent($event)">
    </ateam-slot>
</div>
<div>
    <ateam-slot [slot]="slots[3]"
        [canSelectDie]="true"
        (onEvent)="onSlotEvent($event)">
    </ateam-slot>
    <ateam-slot [slot]="slots[4]"
        [canSelectDie]="true"
        (onEvent)="onSlotEvent($event)">
    </ateam-slot>
</div>
