
<h4 class="u-text--sc">Temporary Modifiers</h4>
<hr>

<div class="m-grid gutter flex-justify-between flex-align-center">
    <div class="col-2 u-pd--md">
        <select class="form-control" [(ngModel)]="newModifier.affects">
            <option [ngValue]="null">Select</option>
            <option *ngFor="let modtarget of modifierTargets" [ngValue]="modtarget">
                {{modtarget}}
            </option>
        </select>
    </div>
    <div class="col u-pd--md">
        <input type="number" min="-10" [(ngModel)]="newModifier.value"
            class="form-control" placeholder="0">
    </div>
    <button mat-flat-button color="accent"
        (click)="addModifier()"
        [disabled]="!newModifier.affects">
        Add
    </button>
</div>

<br>

<mat-chip-list class="u-sm" [selectable]="false">
    <mat-chip *ngFor="let modifier of mods; let $index=index;">
        <strong>{{modifier.affects}}</strong> : {{modifier.value|modifier}}
        <mat-icon class="mat-chip-remove mat-chip-trailing-icon mat-icon" (click)="removeModifier($index)">
            cancel
        </mat-icon>
    </mat-chip>
</mat-chip-list>
<!-- <div *ngFor="let mod of mods; let $index=index"
    class="card m-grid gutter flex-justify-between flex-align-center flex-wrap">
    <div class="flex-1">
        <strong>{{mod.affects}}</strong>:
        <em>{{mod.value}}</em>
    </div>
    <button mat-flat-button color="warn" (click)="removeModifier($index)">
        <mat-icon>delete_forever</mat-icon>
    </button>
</div> -->

<br>
